<p>Personal information: <sup>*</sup></p>
<div layout-gt-xs="row">
  <div layout="row"
       flex="100"
       flex-gt-xs="60">
    <md-input-container class="md-block"
                        flex="100"
                        flex-gt-xs="50">
      <label>First name</label>
      <input type="text"
             name="firstName"
             required
             ng-maxlength="20"
             ng-model="vm.user.firstName">
      <div ng-messages="registrationForm.firstName.$error">
        <div ng-message="maxlength">Your first name is too long.</div>
      </div>
    </md-input-container>
    <md-input-container class="md-block"
                        flex="100"
                        flex-gt-xs="50">
      <label>Last name</label>
      <input type="text"
             name="lastName"
             required
             ng-maxlength="20"
             ng-model="vm.user.lastName">
      <div ng-messages="registrationForm.lastName.$error">
        <div ng-message="maxlength">Your last name is too long.</div>
      </div>
    </md-input-container>
  </div>
  <md-input-container class="md-block"
                      flex="100"
                      flex-gt-xs="40">
    <label>Social Security Number</label>
    <input type="text"
           name="ssn"
           required
           ng-pattern="/^[0-9]{3}-?[0-9]{2}-?[0-9]{4}$/"
           ng-model="vm.user.ssn">
    <div ng-messages="registrationForm.ssn.$error">
      <div ng-message="pattern">That doesn't look like a valid SSN.</div>
    </div>
  </md-input-container>
</div>
<p>Contact information: <sup>*</sup></p>
<div layout-gt-xs="row">
  <md-input-container class="md-block"
                      flex="100"
                      flex-gt-xs="50">
    <label>Phone number</label>
    <input type="tel"
           name="phoneNumber"
           required
           ui-us-phone-number
           ng-model="vm.user.phoneNumber">
    <div ng-messages="registrationForm.phoneNumber.$error">
      <span ng-message="usPhoneNumber">That doesn't look like a valid phone number.</span>
    </div>
  </md-input-container>
  <md-input-container
      class="md-block"
      flex="100"
      flex-gt-xs="50">
    <label>Email</label>
    <input type="email"
           name="email"
           required
           email-validation
           ng-model="vm.user.email">
    <div ng-messages="registrationForm.email.$error">
      <div ng-message="email">That doesn't look like a valid email.</div>
    </div>
  </md-input-container>
</div>
<div layout="row">
  <md-input-container class="md-block" flex>
    <label>Password</label>
    <input type="password"
           name="password"
           password-validation
           required
           ng-model="vm.user.password">
    <div ng-messages="registrationForm.password.$error">
      <div ng-message="password">
        Your password must contain 6 characters (at least one number and one letter).
      </div>
    </div>
  </md-input-container>
</div>
<p>What languages do you speak?</p>
<div layout-gt-xs="row">
  <md-input-container class="md-block" flex>
    <md-select aria-label="Languages"
               multiple
               ng-model="vm.user.details.languages">
      <md-option ng-repeat="language in vm.languages track by language.id"
                 ng-value="language.id">
        <span ng-bind="language.name"></span>
      </md-option>
    </md-select>
  </md-input-container>
</div>
<p>Where are you?</p>
<div layout="column">
  <md-input-container class="md-block" flex>
    <label>Address</label>
    <input type="text"
           name="address"
           ng-model="vm.user.address.address">
  </md-input-container>
  <div layout-gt-xs="row">
    <md-input-container class="md-block"
                        flex="100"
                        flex-gt-xs="30">
      <label>State</label>
      <md-select role="listbox"
                 ng-change="vm.resetSelectedCity(vm.user.address.state); vm.getCities(vm.user.address.state)"
                 ng-model="vm.user.address.state">
        <md-option ng-repeat="state in vm.states track by state.id"
                   ng-value="state.id">
          <span ng-bind="::state.state"></span>
        </md-option>
      </md-select>
    </md-input-container>
    <div layout="row"
         flex="100"
         flex-gt-xs="70">
      <md-input-container class="md-block"
                          flex="100"
                          flex-gt-xs="60">
        <label>City</label>
        <md-select role="listbox"
                   class="cities-select"
                   md-select-infinite-scroll
                   on-scroll="vm.getCities(vm.user.address.state, vm.searchCity)"
                   ng-model="vm.user.address.city">
          <md-select-header>
            <input type="search"
                   placeholder="Search for a city.."
                   ng-change="vm.getCities(vm.user.address.state, vm.searchCity)"
                   ng-model-options="{ debounce: 400 }"
                   ng-model="vm.searchCity">
          </md-select-header>
          <md-optgroup label="cities">
            <md-option ng-repeat="city in vm.cities | filter: vm.searchCity track by city.id"
                       ng-value="city.id">
              <span ng-bind="city.city"></span>
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block"
                          flex="100"
                          flex-gt-xs="40">
        <label>Postal Code</label>
        <input type="text"
               name="zipCode"
               ng-pattern="/^[0-9]{5}(-[0-9]{4})?$/"
               ng-trim="false"
               ng-model="vm.user.address.zip">
        <div ng-messages="registrationForm.zipCode.$error">
          <div ng-message="pattern">That doesn't look like a valid zip code.</div>
        </div>
      </md-input-container>
    </div>
  </div>
</div>