<div layout="column">
  <p>Work details</p>
  <div layout-gt-xs="row"
       layout="column"
       ng-repeat="servicePrice in vm.user.details.servicePrices track by $index">
    <md-input-container flex="100"
                        flex-gt-xs="65">
      <label>Service procedure</label>
      <md-select ng-model="servicePrice.procedure"
                 ng-required="servicePrice.price || vm.user.details.servicePrices.length > 1">
        <md-option ng-repeat="procedure in vm.procedures track by procedure.id"
                   ng-value="procedure.id">
          <span ng-bind="procedure.name"></span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block"
                        flex="100"
                        flex-gt-xs="30">
      <label>Price $</label>
      <input name="price"
             ng-model="servicePrice.price"
             ng-required="servicePrice.procedure || vm.user.details.servicePrices.length > 1">
    </md-input-container>
    <div class="service-price-remove"
         flex="100"
         flex-gt-xs="5"
         layout="column"
         layout-align="start center"
         ng-click="vm.user.details.servicePrices.splice($index, 1)"
         ng-if="vm.user.details.servicePrices.length > 1">
      <i class="material-icons">indeterminate_check_box</i>
    </div>
  </div>
  <md-button ng-click="vm.user.details.servicePrices.push({})">Add</md-button>
  <p>Working hours</p>
  <div layout="row">
    <mdp-time-picker name="timeFrom"
                     mdp-placeholder="From"
                     mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                     ng-model="vm.user.details.workingHours.timeFrom">
    </mdp-time-picker>
    <mdp-time-picker name="timeTo"
                     mdp-placeholder="To"
                     mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                     ng-model="vm.user.details.workingHours.timeTo">
    </mdp-time-picker>
  </div>
</div>