<div layout-gt-xs="row">
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>Type of service: <sup>*</sup></p>
    <div ng-repeat="serviceType in vm.serviceTypes track by serviceType.id">
      <md-checkbox aria-label="{{ serviceType.name }}"
                   checklist-value="serviceType.id"
                   checklist-model="vm.user.details.serviceTypes">
        <span ng-bind="serviceType.name"></span>
      </md-checkbox>
    </div>
  </div>
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>License information: <sup>*</sup></p>
    <md-input-container class="md-block">
      <label>License Number</label>
      <input type="text"
             name="licenseNumber"
             required
             ng-model="vm.user.details.license.number">
      <div ng-messages="registrationForm.licenseNumber.$error">
        <div ng-message="required">Please, enter a license number.</div>
      </div>
    </md-input-container>
    <mdp-date-picker name="licenseDate"
                     mdp-placeholder="License Date"
                     mdp-max-date="vm.datePickerOptions.maxDate"
                     date-formatter
                     ng-required
                     ng-model="vm.user.details.license.date">
    </mdp-date-picker>
    <div class="validation-messages"
         ng-messages="registrationForm.licenseDate.$error">
      <div ng-message="valid">The entered value is not a date!</div>
      <div ng-message="maxdate">Date is too late!</div>
    </div>
  </div>
</div>