<div layout-gt-xs="row">
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>Type of service:</p>
    <div ng-repeat="service in vm.servicesList track by service.id">
      <md-checkbox aria-label="{{ service.name }}"
                   checklist-value="service.id"
                   checklist-model="vm.user.details.services">
        <span ng-bind="service.name"></span>
      </md-checkbox>
    </div>
  </div>
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>License information:</p>
    <md-input-container class="md-block">
      <label>License Number</label>
      <input type="text"
             name="licenseNumber"
             required
             ng-model="vm.user.details.number">
      <div ng-messages="registrationForm.licenseNumber.$error">
        <div ng-message="required">Please, enter a license number.</div>
      </div>
    </md-input-container>
    <md-datepicker name="licenseDate"
                   date-formatter
                   md-placeholder="Enter date"
                   md-max-date="vm.datePickerOptions.maxDate"
                   ng-model="vm.user.details.license.date">
    </md-datepicker>
    <div class="validation-messages"
         ng-messages="registrationForm.licenseDate.$error">
      <div ng-message="valid">The entered value is not a date!</div>
      <div ng-message="maxdate">Date is too late!</div>
    </div>
  </div>
</div>