<div layout-gt-xs="row">
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>Type of service:</p>
    <div ng-repeat="serviceType in vm.serviceTypes track by serviceType.id">
      <md-checkbox aria-label="serviceType.display"
                   checklist-value="serviceType.id"
                   checklist-model="vm.user.details.serviceTypes">
        <span ng-bind="serviceType.name"></span>
      </md-checkbox>
    </div>
  </div>
  <div layout="column"
       flex="100"
       flex-gt-xs="50">
    <p>License information:</p>
    <md-input-container class="md-block">
      <label>License Number</label>
      <input type="text"
             name="licenseNumber"
             required
             md-maxlength="15"
             ng-model="vm.user.details.number">
      <div ng-messages="registrationForm.licenseNumber.$error">
        <!--!ToDo: license number validation-->
        <div ng-message="licenseNumber">That doesn't look like a valid license number.</div>
      </div>
    </md-input-container>
    <md-datepicker name="licenseDate"
                   date-formatter
                   md-placeholder="Enter date"
                   md-max-date="vm.datePickerOptions.maxDate"
                   ng-model="vm.user.details.license.date">
    </md-datepicker>
    <div class="validation-messages"
         ng-messages="registrationForm.licenseDate.$error">
      <div ng-message="valid">The entered value is not a date!</div>
      <div ng-message="maxdate">Date is too late!</div>
    </div>
  </div>
</div>