<div class="registration" layout="column">
  <!-- header -->
  <md-toolbar class="md-menu-toolbar md-whiteframe-1dp md-default-theme">
    <div class="md-toolbar-tools">
      <md-button class="button-back" ng-href="/"><i class="fa fa-angle-left" aria-hidden="true"></i> Go Back</md-button>
      <md-button class="button-back-min" ng-href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></md-button>
      <span flex></span>
      <h2 class="md-display-1 page-name">Provider registration</h2>
      <span flex></span>
      <md-button class="button-login" ng-href="#">Log in <i class="fa fa-sign-in" aria-hidden="true"></i></md-button>
      <md-button class="button-login-min" ng-href="#"><i class="fa fa-sign-in" aria-hidden="true"></i></md-button>
    </div>
  </md-toolbar>
  <!-- !header -->

  <div class="form-wrapper" layout="column" layout-align="center center" flex>
    <div class="md-whiteframe-8dp registration-form">
      <form role="form" name="regForm" ng-model="regForm" novalidate>
        <!-- First and last name -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>First name</label>
            <input name="firstName" ng-model="vm.user.firstName" required ng-minlength="1" ng-maxlength="10">
            <div ng-messages="regForm.firstName.$error">
              <div ng-message="minlength">Your first name is too short.</div>
              <div ng-message="maxlength">Your first name is too long.</div>
              <div ng-message="required">Your first name is required.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Last name</label>
            <input name="lastName" ng-model="vm.user.lastName" required ng-minlength="1" ng-maxlength="14">
            <div ng-messages="regForm.lastName.$error">
              <div ng-message="minlength">Your last name is too short.</div>
              <div ng-message="maxlength">Your last name is too long.</div>
              <div ng-message="required">Your last name is required.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Phone number -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Phone number</label>
            <input type="tel" name="phone" ng-model="vm.user.phone" required ng-pattern="phoneRegExp">
            <div ng-messages="regForm.phone.$error">
              <div ng-message="required">Your phone number is required.</div>
              <div ng-message="pattern">The phone number is not valid.</div>
            </div>
          </md-input-container>
        </div>
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input type="email" name="email" ng-model="vm.user.email" required>
            <div ng-messages="regForm.email.$error">
              <div ng-message="required">Your email is required.</div>
              <div ng-message="email">Your email is not valid.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Password</label>
            <input type="password" name="password" ng-model="vm.user.password" required ng-minlength="6">
            <div ng-messages="regForm.password.$error">
              <div ng-message="minlength">Your password is too short.</div>
              <div ng-message="required">Your last name is required.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Agree -->
        <div>
          <md-checkbox ng-model="vm.user.agree" aria-label="I read and accept terms and conditions">
            I read and accept <a ng-href="#">terms and conditions</a>
          </md-checkbox>
        </div>
        <!-- Submit -->
        <md-button type="submit" ng-click="vm.submit(vm.user)" ng-disabled="!regForm.$valid || !vm.user.agree">
          Submit
        </md-button>
        <pre>user = {{vm.user | json}}</pre>
      </form>
    </div>
  </div>
</div>