<div layout="column">
  <p>Work details (optional)</p>
  <div layout-gt-xs="row">
    <md-input-container flex="100"
                        flex-gt-xs="70">
      <label>Service procedure</label>
      <md-select ng-model="vm.user.details.servicePrices.procedure">
        <md-option ng-repeat="procedure in vm.proceduresList track by procedure.id"
                   ng-value="procedure.id">
          <span ng-bind="procedure.name"></span>
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block"
                        flex="100"
                        flex-gt-xs="30">
      <label>Price $</label>
      <input name="price"
             ng-model="vm.user.details.servicePrices.price">
    </md-input-container>
  </div>
  <p>Working hours (optional)</p>
  <div layout="row">
    <mdp-time-picker name="timeFrom"
                     mdp-placeholder="From"
                     mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                     ng-model="vm.user.details.workingHours.timeFrom">
    </mdp-time-picker>
    <mdp-time-picker name="timeTo"
                     mdp-placeholder="To"
                     mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                     ng-model="vm.user.details.workingHours.timeTo">
    </mdp-time-picker>
  </div>
</div>