<md-toolbar class="md-menu-toolbar md-whiteframe-1dp md-default-theme">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button button-menu" hide-gt-sm ng-click="vm.toggleMenu()">
      <md-icon>
        <i class="material-icons">menu</i>
      </md-icon>
    </md-button>
    <h2 class="root" ng-show="vm.$mdMedia('gt-xs')">
      <span ng-repeat="item in vm.headerPath track by $index">
        <a ng-href="{{item.url}}" ng-bind="item.display"></a>
        <i class="material-icons" ng-if="$index != vm.headerPath.length-1 && vm.headerPath[$index+1].display">chevron_right</i>
      </span>
    </h2>
    <span flex></span>
    <h2 class="root bold" hide-gt-xs>
      <span ng-bind="vm.headerPath[vm.headerPath.length-1].display ? vm.headerPath[vm.headerPath.length-1].display : vm.headerPath[vm.headerPath.length-2].display"></span>
    </h2>
    <span flex hide-gt-sm></span>
    <md-button class="button-login" ng-show="vm.$mdMedia('gt-xs')" ng-href="#">
      Log out
    </md-button>
    <md-button class="md-icon-button button-menu" hide-gt-xs ng-href="#">
      <md-icon>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </md-icon>
    </md-button>
  </div>
</md-toolbar>