<div class="customer" layout="row">
  <md-sidenav ui-view="menu"
              class="menu"
              md-component-id="left"
              md-is-locked-open="vm.$mdMedia('gt-sm')"
              md-disable-backdrop
              md-whiteframe="4" layout="column" flex>

  </md-sidenav>
  <div layout="column" flex>
    <div class="header" ui-view="header"></div>
    <md-content class="content" ui-view="content" flex></md-content>
  </div>
  <tab-bar customer ng-hide="vm.$mdMedia('gt-sm')"></tab-bar>
</div>