<div class="wrapper" layout="row">
  <md-sidenav class="menu"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')"
              md-whiteframe="4"
              layout="column"
              flex>
    <div ui-view="menu"></div>
  </md-sidenav>
  <div layout="column" flex>
    <div class="header" ui-view="header"></div>
    <div class="content-wrapper" flex layout="column">
      <md-content class="content anim-in-out anim-fade customer"
                  data-anim-speed="400"
                  layout="column"
                  flex
                  ui-view="content">
      </md-content>
    </div>
  </div>
</div>