<div layout="column" layout-align="start center">
  <md-toolbar class="menu-header md-menu-toolbar md-whiteframe-1dp md-default-theme">
    <div class="md-toolbar-tools">
      <div class="logo layout-align-start-center layout-row" layout="row" layout-align="start center">
        <span class="logo-image">L</span> <span class="logo-text">Locksmith</span>
      </div>
    </div>
  </md-toolbar>
  <div class="photo-wrapper">
    <div class="photo">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/a5/f0/d6/a5f0d69b35f39dc33a8cf469e38ce1d4.jpg" alt="photo">
    </div>
  </div>
  <div class="name">
    Elliot Alderson
  </div>
  <div class="email">
    mrrobot@fsociety.org
  </div>
</div>