<md-content class="md-default" layout="column" layout-align="start center">
  <md-toolbar class="menu-header md-menu-toolbar md-whiteframe-1dp md-default-theme">
    <div class="md-toolbar-tools">
      <div class="logo layout-align-start-center layout-row" layout="row" layout-align="start center">
        <span class="logo-image">L</span> <span class="logo-text">Locksmith</span>
      </div>
    </div>
  </md-toolbar>
  <a class="profile" layout="column" layout-align="start center" ng-href="/client/profile"
     ng-class="{'active': vm.path == '/client/profile'}"
     ng-click="vm.toggleMenu()">
    <div class="photo">
      <img src="https://pp.vk.me/c630527/v630527851/3e8fa/omJed26c8gQ.jpg" alt="photo">
    </div>
    <div class="name">
      <i class="material-icons">verified_user</i>
      <span>Elliot Alderson</span>
    </div>
    <div class="email">
      mrrobot@fsociety.org
    </div>
  </a>
  <div class="navigation" layout="column">
    <div class="navigation-item" ng-repeat="item in vm.menuNavigationItems">
      <a layout="row" layout-align="start start" ng-href="{{item.href}}" ng-class="{'active': vm.path == item.href}" ng-click="vm.toggleMenu()">
        <i ng-if="item.icon" class="material-icons" ng-bind="item.icon"></i>
        <span ng-bind="item.display"></span>
      </a>
    </div>
  </div>
</md-content>