<div class="container map-content">
  <div class="container-title" layout="row">
    <div flex>
      <i class="material-icons">location_on</i>
      <span>Map</span>
    </div>
    <div class="actions"
         flex
         layout="row"
         layout-align="end center">
      <md-checkbox
          aria-label="Show only available"
          ng-click="vm.isAvailableSpecialistShown = !vm.isAvailableSpecialistShown">
        Show only available
      </md-checkbox>
    </div>
  </div>
  <div class="container-content">
    <div class="map-wrapper">
      <ui-gmap-google-map center="vm.map.center"
                          zoom="vm.map.zoom"
                          options="vm.map.options"
                          events="vm.map.events">

        <ui-gmap-markers models="vm.map.markers"
                         coords="'self'"
                         icon="'icon'">

          <ui-gmap-windows show="'show'">
            <div ng-non-bindable>{{text}}</div>
          </ui-gmap-windows>

        </ui-gmap-markers>
      </ui-gmap-google-map>

      <div class="list card map-card"
           ng-class="{'show':vm.isSpecialistCardShown}"
           ng-show="vm.isSpecialistCardShown">
        <div class="map-card-provider" layout="row">
          <div class="right">
            <div class="photo"
                 ng-style="{'background-image': 'url('+vm.selectedProvider.photo+')'}">
            </div>
          </div>
          <div class="left" flex>
            <div>
              <span class="md-headline"
                    ng-bind="vm.selectedProvider.name">
              </span>
              <span class="md-subhead"> · </span>
              <star-rating class="inline-block md-body-1"
                           value="vm.selectedProvider.rating"
                           readonly>
              </star-rating>
            </div>
            <div>
              <span class="md-subhead">
                <span ng-bind="vm.selectedProvider.distance+' miles away'"></span>
                <span>· Working hours:</span>
                <span ng-bind="vm.selectedProvider.working.from | date: 'HH:mm a'"></span> -
                <span ng-bind="vm.selectedProvider.working.to | date: 'HH:mm a'"></span>
              </span>
            </div>
            <div class="md-subhead status"
                 ng-class="{'not-available': !vm.selectedProvider.available}"
                 ng-bind="vm.selectedProvider.available ? 'available':'not available now'">
            </div>
          </div>

          <div class="message"
               layout="row"
               layout-align="start center">
            <md-button class="md-fab">
              <md-icon>chat</md-icon>
            </md-button>
          </div>

          <div class="close"
               ng-click="vm.isSpecialistCardShown = !vm.isSpecialistCardShown">
            <i class="material-icons">close</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>