<div class="container map-content">
  <div class="container-title" layout="row">
    <div flex>
      <i class="material-icons">location_on</i>
      <span>Map</span>
    </div>
  </div>
  <div class="container-content">
    <div class="map-wrapper">
      <ui-gmap-google-map center="vm.map.center"
                          zoom="vm.map.zoom"
                          options="vm.map.options"
                          control="vm.map.control"
                          events="vm.map.events">
        <ui-gmap-marker idKey="'specialist' + specialist.id"
                        coords="specialist.details"
                        options="vm.map.specialistMarker.options"
                        fit="false"
                        control="specialist"
                        events="vm.map.specialistMarker.events"
                        ng-repeat="specialist in vm.specialists track by specialist.id">
        </ui-gmap-marker>
        <ui-gmap-markers models="vm.map.markers"
                         coords="'self'"
                         icon="'icon'">

          <ui-gmap-windows show="'show'">
            <div ng-non-bindable>{{text}}</div>
          </ui-gmap-windows>

        </ui-gmap-markers>
      </ui-gmap-google-map>

      <div class="list card map-card"
           ng-class="{ 'show': vm.isSpecialistCardShown }"
           ng-show="vm.isSpecialistCardShown">
        <div class="map-card-provider" layout="row">
          <div class="right">
            <div class="avatar"
                 ng-style="{'background-image': 'url('+ (vm.selectedSpecialist.portrait ?
                 vm.baseUrl + vm.selectedSpecialist.portrait : vm.defaultPortrait) +')'}">
            </div>
          </div>
          <div class="left" flex>
            <div>
              <span class="md-headline"
                    ng-bind="vm.selectedSpecialist.fullName">
              </span>
              <span class="md-subhead"> · </span>
              <star-rating class="inline-block md-body-1"
                           value="vm.selectedSpecialist.details.rating"
                           readonly>
              </star-rating>
            </div>
            <div class="md-subhead" layout="row" layout-align="start center">
              <div ng-if="vm.selectedSpecialist.distance">
                <span ng-bind="vm.selectedSpecialist.distance | number : 2"></span>
                <span>miles away</span>
              </div>
              <div ng-if="vm.selectedSpecialist.details.workingHours">
                <span class="m-l-xs">- Working hours:</span>
                <span ng-bind="vm.selectedSpecialist.details.workingHours.timeFrom | date: 'HH:mm a'"></span> -
                <span ng-bind="vm.selectedSpecialist.details.workingHours.timeTo | date: 'HH:mm a'"></span>
              </div>
            </div>
            <div class="md-subhead status"
                 ng-class="{ 'not-available': !vm.selectedSpecialist.details.isAvailable }"
                 ng-bind="vm.selectedSpecialist.details.isAvailable ? 'available' : 'not available now'">
            </div>
          </div>

          <div class="message"
               layout="row"
               layout-align="start center">
            <md-button class="md-button-blue md-fab"
                       ng-disabled="vm.request.status !== vm.requestStatus.NEW"
                       ng-click="vm.createChat(vm.selectedSpecialist, vm.request)">
              <md-icon>chat</md-icon>
            </md-button>
          </div>

          <div class="close"
               ng-click="vm.isSpecialistCardShown = false">
            <i class="material-icons">close</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>