<div class="action-buttons"
     layout="row"
     layout-align="center center">
  <div ng-if="vm.currentRequest.status === vm.requestStatus.NEW ||
         (vm.currentRequest.executor.id === vm.currentUser.id &&
         (vm.currentRequest.status !== vm.requestStatus.DONE ||
         vm.currentRequest.status === vm.requestStatus.CLOSED))">
    <button ng-if="vm.currentRequest.status === vm.requestStatus.NEW"
            ng-click="vm.openBidDialog(vm.currentRequest)">
        <span translate>SEND_BID</span>
    </button>
    <div ng-if="vm.currentRequest.executor.id === vm.currentUser.id">
        <button ng-if="vm.currentRequest.status === vm.requestStatus.PENDING"
                ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.IN_PROGRESS)">
          <span translate>START</span>
        </button>
        <div ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
          <button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.PENDING)">
            <span translate>PAUSE</span>
          </button>
          <button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.DONE)">
            <span translate>DONE</span>
          </button>
      </div>
    </div>
  </div>
</div>