<md-menu md-position-mode="{{ vm.positionMode}}"
         ng-if="vm.currentRequest.status !== vm.requestStatus.DONE ||
         vm.currentRequest.status === vm.requestStatus.CLOSED">
  <md-button class="md-icon-button"
             aria-label="more"
             ng-click="$mdOpenMenu()">
    <i class="material-icons">more_vert</i>
  </md-button>
  <md-menu-content width="3">
    <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.NEW">
      <md-button ng-click="vm.openBidDialog(vm.currentRequest)">
        Send Bid
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.PENDING">
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.IN_PROGRESS)">
        Start
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.PENDING)">
        Pause
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.DONE)">
        Done
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>