<md-menu md-position-mode="{{ vm.positionMode}}"
         ng-if="vm.currentRequest.status === vm.requestStatus.NEW ||
         (vm.currentRequest.executor.id === vm.currentUser.id &&
         (vm.currentRequest.status !== vm.requestStatus.DONE ||
         vm.currentRequest.status === vm.requestStatus.CLOSED))">
  <md-button class="md-icon-button"
             aria-label="more"
             ng-click="$mdOpenMenu()">
    <md-icon>more_vert</md-icon>
  </md-button>
  <md-menu-content width="3">
    <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.NEW">
      <md-button ng-click="vm.openBidDialog(vm.currentRequest)"
                 translate>
        SEND BID
      </md-button>
    </md-menu-item>
    <div ng-if="vm.currentRequest.executor.id === vm.currentUser.id">
      <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.PENDING">
        <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.IN_PROGRESS)"
                   translate>
          START
        </md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
        <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.PENDING)"
                   translate>
          PAUSE
        </md-button>
      </md-menu-item>
      <md-menu-item ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
        <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.DONE)"
                   translate>
          DONE
        </md-button>
      </md-menu-item>
    </div>
  </md-menu-content>
</md-menu>