<div class="container request-content">
  <div class="container-title">
    <i class="material-icons">playlist_add</i>
    <span translate>NEW_REQUEST</span>
  </div>
  <div class="container-content">
    <form role="form"
          name="requestForm"
          novalidate
          ng-submit="vm.createRequest(vm.request, requestForm.$valid)">
      <div layout="row" layout-xs="column">
        <div flex-gt-xs="50"
             ng-class="{ 'has-error': requestForm.serviceTypes.$invalid && requestForm.$submitted }">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
             <span translate>TYPE_OF_SERVICE_NEEDED</span><sup>*</sup>
          </p>
          <md-radio-group class="md-primary"
                          name="serviceTypes"
                          required
                          ng-model="vm.request.serviceType">
            <md-radio-button aria-label="{{ serviceType.name }}"
                             ng-repeat="serviceType in vm.serviceTypes track by serviceType.id"
                             ng-value="serviceType.id">
              <span ng-bind="serviceType.name | translate "></span>
            </md-radio-button>
          </md-radio-group>
        </div>
        <div flex-gt-xs="50"
             ng-class="{ 'has-error': requestForm.emergency.$invalid && requestForm.$submitted }">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
            <span translate>REQUEST_EMERGENCY</span><sup>*</sup>
          </p>
          <md-radio-group class="md-primary"
                          name="emergency"
                          required
                          ng-model="vm.isEmergency">
            <md-radio-button ng-value="true">
              <span translate>I_NEED_A_LOCKSMITH_NOW</span>
            </md-radio-button>
            <md-radio-button ng-value="false">
              <span translate>I_NEED_A_LOCKSMITH_FOR_CUSTOM_DATE</span>
            </md-radio-button>
          </md-radio-group>
          <div layout="row"
               layout-wrap
               flex-gt-xs="80"
               ng-if="vm.isEmergency === false">
            <mdp-date-picker name="date"
                             mdp-min-date="vm.datePickerOptions.minDate"
                             ng-required="!vm.request.forDate"
                             ng-class="{ 'has-error': requestForm.date.$invalid && requestForm.$submitted }"
                             ng-click="vm.isEmergency = false"
                             ng-model="vm.request.forDate">
              <label translate>ENTER_DATE</label>
              <div ng-messages="requestForm.date.$error">
                <div ng-message="format" translate>INFALID_FORMAT</div>
                <div ng-message="minDate" translate>DATE_IS_TOO_EARLY</div>
                <div ng-message="maxDate" translate>DATE_IS_TOO_LATE</div>
              </div>
            </mdp-date-picker>
            <mdp-time-picker name="time"
                             mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                             ng-required="!vm.request.forDate"
                             ng-class="{ 'has-error': requestForm.time.$invalid && requestForm.$submitted }"
                             ng-click="vm.isEmergency = false"
                             ng-model="vm.request.forDate">
              <label translate>TIME</label>
              <div ng-messages="requestForm.time.$error">
                <div ng-message="format" translate>INVALID_FORMAT</div>
              </div>
            </mdp-time-picker>
          </div>
        </div>
      </div>
      <div layout="row" layout-xs="column">
        <div flex-gt-xs="50"
             ng-class="{ 'has-error': requestForm.location.$invalid && requestForm.$submitted }">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
            <span translate>LOCATION</span><sup>*</sup>
          </p>
          <md-radio-group
              class="md-primary"
              name="location"
              required
              ng-model="vm.isLocationSetManually">
            <md-radio-button ng-value="false"
                             ng-click="vm.getAddressLocation()">
              <span translate>PROVIDE_LOCATION_BY_GPS</span>
            </md-radio-button>
            <div class="warning-message m-b-xs"
                 ng-if="vm.warnings.isLocationGpsWrong">
              <span translate>YOUR_GPS_IS_WRONG</span>
            </div>
            <md-radio-button ng-value="true">
              <span translate>PROVIDE_LOCATION_MANUALLY</span>
            </md-radio-button>
          </md-radio-group>
          <div layout="column"
               layout-gt-sm="row"
               flex-gt-xs="90"
               ng-click="vm.isLocationSetManually = true"
               ng-if="vm.isLocationSetManually === true">
            <md-input-container class="hide-error-msg m-b-none" flex>
              <label translate>ADDRESS</label>
              <input name="address"
                     ng-required="vm.isLocationSetManually"
                     ng-model-options="{ debounce: 400 }"
                     ng-change="vm.getAddressLocation(vm.address)"
                     ng-model="vm.address.address">
            </md-input-container>
            <div layout="row" flex-gt-sm="50">
              <md-input-container flex="50">
                <label translate>STATE</label>
                <md-select role="listbox"
                           name="state"
                           ng-required="vm.isLocationSetManually"
                           ng-change="vm.resetSelectedCity(); vm.getCities(vm.address.state)"
                           ng-model="vm.address.state">
                  <md-option ng-repeat="state in vm.states track by state.id"
                             ng-value="state">
                    <span ng-bind="::state.state"></span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label translate>CITY</label>
                <md-select role="listbox"
                           class="cities-select"
                           name="city"
                           md-select-infinite-scroll
                           on-scroll="vm.getCities(vm.address.state, vm.searchCity)"
                           ng-change="vm.getAddressLocation(vm.address);"
                           ng-required="vm.isLocationSetManually"
                           ng-model="vm.address.city">
                  <md-select-header>
                    <input type="search"
                           placeholder="Search for a city.."
                           ng-change="vm.getCities(vm.address.state, vm.searchCity)"
                           ng-model-options="{ debounce: 400 }"
                           ng-model="vm.searchCity">
                  </md-select-header>
                  <md-optgroup label="cities">
                    <md-option ng-repeat="city in vm.cities | filter: vm.searchCity track by city.id"
                               ng-value="city">
                      <span ng-bind="city.city"></span>
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
            <div class="warning-message"
                 translate
                 ng-if="vm.warnings.isLocationManuallyWrong">
              YOUR_ADDRESS_IS_WRONG
            </div>
          </div>
        </div>
        <div flex-gt-xs="50">
          <div flex
               ng-class="{ 'has-error': requestForm.typeOfRequest.$invalid && requestForm.$submitted }">
            <p layout="row"
               layout-align="center start"
               layout-align-gt-xs="start start">
              <span translate>TYPE_OF_REQUEST</span><sup>*</sup>
            </p>
            <md-radio-group class="md-primary"
                            name="typeOfRequest"
                            layout="row"
                            required
                            ng-model="vm.request.isPublic">
              <md-radio-button ng-value="false">
                <span translate>PRIVATE_REQUEST</span>
              </md-radio-button>
              <md-radio-button ng-value="true">
                <span translate>PUBLIC_REQUEST</span>
              </md-radio-button>
            </md-radio-group>
          </div>
          <div flex>
            <p class="m-b-none"
               layout="row"
               translate
               layout-align="center start"
               layout-align-gt-xs="start start">
              DETAILS(OPTIONAL)
            </p>
            <div layout="row"
                 flex
                 flex-gt-xs="80">
              <md-input-container class="md-block" flex="40">
                <label translate>LANGUAGE</label>
                <md-select role="listbox"
                           name="language"
                           ng-model="vm.request.language">
                  <md-option ng-repeat="language in vm.languages track by language.id"
                             ng-value="language.id"
                             ng-bind="language.name">
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex="60">
                <label translate>PROVIDER_DISTANCE_(MILES)</label>
                <input type="number"
                       name="distance"
                       ng-min="1"
                       ng-max="100"
                       ng-model="vm.request.distance">
                <div ng-messages="requestForm.distance.$error">
                  <div ng-message="min" translate>MINIMUM_DISTANCE</div>
                </div>
                <div ng-messages="requestForm.distance.$error">
                  <div ng-message="max" translate>MAXIMUM DISTANCE</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout="column">
        <p layout="row"
           translate
           layout-align="center start"
           layout-align-gt-xs="start start">
          REQUEST_NOTE_(OPTIONAL)
        </p>
        <md-input-container class="md-block">
          <label translate>DO_YOU_WANT_TO_CLARIFY_SMTH</label>
          <textarea name="description"
                    rows="3"
                    md-maxlength="300"
                    ng-model="vm.request.description">
          </textarea>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start center">
        <md-button type="submit"
                   class="md-button md-button-blue md-raised"
                   aria-label="Submit">
          <span class="ng-scope" translate>SUBMIT</span>
        </md-button>
      </div>
    </form>
  </div>
</div>