<div class="container request-content">
  <div class="container-title">
    <i class="material-icons">playlist_add</i>
    <span>New request</span>
  </div>
  <div class="container-content">
    <form role="form"
          name="requestForm"
          novalidate
          ng-submit="vm.createRequest(vm.request, requestForm.$valid)">
      <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="50">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
            Type of service needed <sup>*</sup>
          </p>
          <md-radio-group class="md-primary"
                          name="services"
                          required
                          ng-model="vm.request.serviceType">
            <md-radio-button aria-label="{{ serviceType.name }}"
                             ng-repeat="serviceType in vm.serviceTypes track by serviceType.id"
                             ng-value="serviceType.id">
              <span ng-bind="serviceType.name"></span>
            </md-radio-button>
          </md-radio-group>
        </div>
        <div flex-gt-xs="50">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
            Emergency <sup>*</sup>
          </p>
          <md-radio-group class="md-primary"
                          name="emergency"
                          required
                          ng-model="vm.isEmergency">
            <md-radio-button ng-value="true">
              I need a locksmith now
            </md-radio-button>
            <md-radio-button ng-value="false">
              I need a locksmith for custom date
            </md-radio-button>
          </md-radio-group>
          <div class="custom-date"
               layout="row"
               flex="100"
               flex-gt-xs="80"
               ng-if="vm.isEmergency === false">
            <mdp-date-picker name="date"
                             mdp-placeholder="Date"
                             mdp-min-date="vm.datePickerOptions.minDate"
                             md-placeholder="Enter date"
                             ng-required="vm.isEmergency === false"
                             ng-click="vm.isEmergency = false"
                             ng-model="vm.request.forDate">
            </mdp-date-picker>
            <mdp-time-picker name="time"
                             mdp-placeholder="Time"
                             mdp-auto-switch="vm.timePickerOptions.autoSwitch"
                             ng-required="vm.isEmergency === false"
                             ng-click="vm.isEmergency = false"
                             ng-model="vm.request.forDate">
            </mdp-time-picker>
          </div>
        </div>
      </div>
      <br>
      <div layout="column" layout-gt-xs="row">
        <div flex-gt-xs="50">
          <p layout="row"
             layout-align="center start"
             layout-align-gt-xs="start start">
            Location <sup>*</sup>
          </p>
          <md-radio-group
              class="md-primary"
              name="location"
              required
              ng-model="vm.isLocationSetManually">
            <md-radio-button ng-value="false"
                             ng-click="vm.getAddressLocation()">Provide location by GPS
            </md-radio-button>
            <div class="warning-message"
                 ng-if="vm.warnings.isLocationGpsWrong">
              Your GPS is wrong. Please, enter address manually
            </div>
            <md-radio-button ng-value="true">Provide location manually</md-radio-button>
            <div layout="row"
                 flex="100"
                 flex-gt-xs="80"
                 ng-click="vm.isLocationSetManually = true"
                 ng-if="vm.isLocationSetManually === true">
              <md-input-container class="md-block" flex="50">
                <label>Address</label>
                <input name="address"
                       ng-required="vm.isLocationSetManually"
                       ng-model-options="{ debounce: 400 }"
                       ng-change="vm.getAddressLocation(vm.address)"
                       ng-model="vm.address.address">
              </md-input-container>
              <md-input-container class="md-block" flex="25">
                <label>State</label>
                <md-select role="listbox"
                           name="state"
                           ng-required="vm.isLocationSetManually"
                           ng-change="vm.resetSelectedCity(); vm.getCities(vm.address.state)"
                           ng-model="vm.address.state">
                  <md-option ng-repeat="state in vm.states track by state.id"
                             ng-value="state">
                    <span ng-bind="::state.state"></span>
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex="25">
                <label>City</label>
                <md-select role="listbox"
                           class="cities-select"
                           name="city"
                           md-select-infinite-scroll
                           on-scroll="vm.getCities(vm.address.state, vm.searchCity)"
                           ng-change="vm.getAddressLocation(vm.address);"
                           ng-required="vm.isLocationSetManually"
                           ng-model="vm.address.city">
                  <md-select-header>
                    <input type="search"
                           placeholder="Search for a city.."
                           ng-change="vm.getCities(vm.address.state, vm.searchCity)"
                           ng-model-options="{ debounce: 400 }"
                           ng-model="vm.searchCity">
                  </md-select-header>
                  <md-optgroup label="cities">
                    <md-option ng-repeat="city in vm.cities | filter: vm.searchCity track by city.id"
                               ng-value="city">
                      <span ng-bind="city.city"></span>
                    </md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
            <div class="warning-message"
                 ng-if="vm.warnings.isLocationManuallyWrong">
              Your address is wrong. Please, check it
            </div>
          </md-radio-group>
        </div>
        <div flex-gt-xs="50">
          <div flex="100">
            <p layout="row"
               layout-align="center start"
               layout-align-gt-xs="start start">
              Type of request <sup>*</sup>
            </p>
            <md-radio-group class="md-primary"
                            name="typeOfRequest"
                            layout="row"
                            required
                            ng-model="vm.request.isPublic">
              <md-radio-button ng-value="false">Private request</md-radio-button>
              <md-radio-button ng-value="true">Public request</md-radio-button>
            </md-radio-group>
          </div>
          <br>
          <div flex="100">
            <p class="m-b-none"
               layout="row"
               layout-align="center start"
               layout-align-gt-xs="start start">
              Details (optional)
            </p>
            <div layout="row"
                 flex="100"
                 flex-gt-xs="70">
              <md-input-container class="md-block" flex="40">
                <label>Language</label>
                <md-select role="listbox"
                           name="language"
                           ng-model="vm.request.language">
                  <md-option ng-repeat="language in vm.languages track by language.id"
                             ng-value="language.id"
                             ng-bind="language.name"></md-option>
                </md-select>
              </md-input-container>
              <md-input-container class="md-block" flex="60">
                <label>Provider distance (miles)</label>
                <input type="number"
                       name="distance"
                       ng-max="100"
                       ng-model="vm.request.distance">
                <div ng-messages="requestForm.distance.$error">
                  <div ng-message="max">The maximum distance is 100 miles.</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
      <div layout="column">
        <p layout="row"
           layout-align="center start"
           layout-align-gt-xs="start start">
          Request note (optional)
        </p>
        <md-input-container class="md-block">
          <label>Do you want to clarify something?</label>
          <textarea name="description"
                    rows="3"
                    md-maxlength="300"
                    ng-model="vm.request.description">
          </textarea>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start center">
        <md-button type="submit"
                   class="md-button-blue md-raised md-button md-ink-ripple"
                   aria-label="Submit">
          <span class="ng-scope">Submit</span>
      </div>
    </form>
  </div>
</div>