<md-content class="md-default">
  <md-toolbar class="menu-header md-menu-toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
        <div class="logo"
             layout="row"
             layout-align="start center">
          <span class="logo-image">L</span> <span class="logo-text">Locksmith</span>
        </div>
    </div>
  </md-toolbar>
  <a class="profile"
     layout="column"
     layout-align="start center"
     ui-sref="{{vm.profileState}}"
     ui-sref-active="active"
     ng-click="vm.toggleMenu()"
     ng-if="vm.profileState">
    <div class="avatar-wrapper">
      <div class="avatar biggest"
           ng-style="{ 'background-image': 'url(' + (vm.userProfile.portrait ?
                   vm.baseUrl + vm.userProfile.portrait : vm.defaultPortrait) + ')' }">
      </div>
    </div>
    <div class="name">
      <i class="material-icons" ng-if="vm.userProfile.isEmailConfirmed">
        verified_user
      </i>
      <span ng-bind="vm.userProfile.fullName"></span>
    </div>
    <div class="email" ng-bind="vm.userProfile.auth.email"></div>
  </a>
  <div class="navigation" layout="column">
    <div class="navigation-item"
         ng-repeat="menuItem in vm.menuItems track by $index">
      <a layout="row"
         layout-align="start start"
         ui-sref="{{menuItem}}"
         ui-sref-active="active"
         ng-click="vm.toggleMenu()">
        <i class="material-icons"
           ng-if="$state.get(menuItem).data.menu.icon"
           ng-bind="$state.get(menuItem).data.menu.icon">
        </i>
        <span ng-bind="$state.get(menuItem).data.menu.title | translate"></span>
      </a>
    </div>
  </div>
</md-content>