<md-content class="md-default" layout="column" layout-align="start center">
  <md-toolbar class="menu-header md-menu-toolbar md-whiteframe-1dp md-default-theme">
    <div class="md-toolbar-tools">
      <a ng-href="/client">
        <div class="logo layout-align-start-center layout-row"
             layout="row"
             layout-align="start center">
          <span class="logo-image">L</span> <span class="logo-text">Locksmith</span>
        </div>
      </a>
    </div>
  </md-toolbar>
  <a class="profile"
     layout="column"
     layout-align="start center"
     ui-sref="{{vm.profileRoute}}"
     ui-sref-active="active"
     ng-click="vm.toggleMenu()">
    <img class="avatar"
         ng-src="{{vm.profileData.portrait || coreConstants.IMAGES.defaultPortrait}}"
         alt="photo"/>
    <div class="name">
      <i class="material-icons" ng-if="vm.profileData.isEmailConfirmed">
        verified_user
      </i>
      <span ng-bind="vm.profileData.fullName"></span>
    </div>
    <div class="email" ng-bind="vm.profileData.auth.email"></div>
  </a>
  <div class="navigation" layout="column">
    <div class="navigation-item" ng-repeat="menuItem in vm.menuItems track by $index">
      <a layout="row"
         layout-align="start start"
         ui-sref="{{menuItem}}"
         ui-sref-active="active"
         ng-click="vm.toggleMenu()">
        <i class="material-icons"
           ng-if="$state.get(menuItem).data.menu.icon"
           ng-bind="$state.get(menuItem).data.menu.icon">
        </i>
        <span ng-bind="$state.get(menuItem).data.menu.title"></span>
      </a>
    </div>
  </div>
</md-content>