<div class="login"
     flex
     layout="column"
     layout-align="center center">
  <div class="form-wrapper"
       layout="column"
       layout-gt-xs="row"
       layout-align="start center">
    <div class="login-form"
         flex-gt-xs="100"> <!--flex-gt-xs="50"-->
      <div layout="row">
        <!--        <div class="go-to-social"
                     hide-gt-xs
                     flex="50"
                     layout="row"
                     layout-align="end center">
                  <md-button class="md-button-social-icon facebook" aria-label="Facebook">
                    <i class="fa fa-facebook"></i>
                  </md-button>
                  <md-button class="md-button-social-icon google-plus" aria-label="Google+">
                    <i class="fa fa-google-plus"></i>
                  </md-button>
                  <md-button class="md-button-social-icon twitter" aria-label="Twitter">
                    <i class="fa fa-twitter"></i>
                  </md-button>
                </div>-->
      </div>
      <form role="form"
            name="loginForm"
            flex
            novalidate
            ng-submit="vm.submit(vm.user, loginForm.$valid, vm.isForgotPasswordEnabled)">
        <div class="md-dialog-content" layout="column">
          <span translate
                class="grey-small"
                ng-if="vm.isForgotPasswordEnabled">
            PROVIDE_US_WITH_YOUR_MAIL
          </span>
          <div layout="row">
            <md-input-container class="hide-error-msg" flex>
              <label translate>EMAIL</label>
              <input type="email"
                     name="email"
                     required
                     email-validation
                     ng-model="vm.user.email">
              <div ng-messages="loginForm.email.$error">
                <div ng-message="email" translate>INVALID_EMAIL</div>
              </div>
            </md-input-container>
          </div>
          <!-- Password -->
          <div layout="row"
               ng-if="!vm.isForgotPasswordEnabled">
            <md-input-container class="hide-error-msg" flex>
              <label translate>PASSWORD</label>
              <input type="password"
                     name="password"
                     required
                     password-validation
                     ng-model="vm.user.password">
              <div ng-messages="loginForm.password.$error">
                <div ng-message="password" translate>
                  PASSWORD_MUST_CONTAIN
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout="row">
            <a class="text-center p-xxs forgot-password grey-small" ng-if="!vm.isForgotPasswordEnabled"
               flex
               aria-label="{{ 'FORGOT_YOUR_PASSWORD' | translate }}"
               ng-click="vm.isForgotPasswordEnabled = !vm.isForgotPasswordEnabled">
              <span ng-bind="'FORGOT_YOUR_PASSWORD' | translate"></span>
            </a>
          </div>
        </div>
        <div layout="column">
          <md-button type="submit"
                     class="md-button-blue"
                     aria-label="{{ vm.isForgotPasswordEnabled ? 'SEND_A_EMAIL' : 'LOG_IN' | translate }}">
            <span ng-bind="vm.isForgotPasswordEnabled ? 'SEND_A_EMAIL' : 'LOG_IN' | translate"></span>
          </md-button>

          <div class="text-center p-xxxs">

            <a class="grey-small"
               flex
               ng-if="vm.isForgotPasswordEnabled"
               aria-label="{{ 'LOG_IN' | translate }}"
               ng-click="vm.isForgotPasswordEnabled = !vm.isForgotPasswordEnabled">
              <span ng-bind="'LOG_IN' | translate"></span>
            </a>

            <a ui-sref="registration.customer" translate class="grey-small" ng-if="!vm.isForgotPasswordEnabled">I_HAVE_NO_ACCOUNT</a>

          </div>

        </div>
      </form>
    </div>
    <!--    <div class="social-wrapper"
             flex-gt-xs="50"
             hide-xs="">
          <h1 class="registration-name social" translate>SIGN_IN_WITH_SOCIAL_NETWORK</h1>
          <div class="social-button-wrapper"
               layout="column"
               layout-align="center start">
            <md-button class="social-button facebook"
                       ng-click="vm.loginWithFacebook()">
              <span translate>JOIN_IN_WITH_FB</span>
            </md-button>
            <md-button class="social-button google-plus">
              <span translate>JOIN_IN_WITH_G+</span>
            </md-button>
            <md-button class="social-button twitter">
              <span translate>JOIN_IN_WITH_TWITTER</span>
            </md-button>
          </div>
        </div>-->
  </div>
</div>