<div class="container login login-mobile"
     flex
     layout="column"
     layout-align="center center">
  <form role="form"
        name="loginForm"
        flex
        novalidate
        ng-submit="vm.submit(vm.user, loginForm.$valid, vm.isForgotPasswordEnabled)">
    <div class="md-dialog-content" layout="column">
      <p></p>
      <div layout="row">
        <md-input-container class="hide-error-msg" flex>
          <label translate>EMAIL</label>
          <input type="email"
                 name="email"
                 required
                 email-validation
                 ng-model="vm.user.email">
          <div ng-messages="loginForm.email.$error">
            <div ng-message="email" translate>INVALID_EMAIL</div>
          </div>
        </md-input-container>
      </div>
      <!-- Password -->
      <div layout="row"
           ng-if="!vm.isForgotPasswordEnabled">
        <md-input-container class="hide-error-msg" flex>
          <label translate>PASSWORD</label>
          <input type="password"
                 name="password"
                 required
                 password-validation
                 ng-model="vm.user.password">
          <div ng-messages="loginForm.password.$error">
            <div ng-message="password" translate>
              PASSWORD_MUST_CONTAIN
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <a class="text-center p-xxs"
           flex
           aria-label="{{ vm.isForgotPasswordEnabled ? 'LOG_IN': 'FORGOT_YOUR_PASSWORD' | translate }}"
           ng-click="vm.isForgotPasswordEnabled = !vm.isForgotPasswordEnabled">
          <span ng-bind="vm.isForgotPasswordEnabled ? 'LOG_IN': 'FORGOT_YOUR_PASSWORD' | translate"></span>
        </a>
      </div>
    </div>
    <div layout="column">
      <md-button type="submit"
                 class="md-button-blue"
                 aria-label="{{ vm.isForgotPasswordEnabled ? 'RESET_PASSWORD' : 'LOG_IN' | translate }}">
        <span ng-bind="vm.isForgotPasswordEnabled ? 'RESET_PASSWORD' : 'LOG_IN' | translate"></span>
      </md-button>
      <a class="text-center p-xxxs"
         ng-click="vm.isAlreadyHaveAccount = !vm.isAlreadyHaveAccount">
        <span ng-bind="vm.isAlreadyHaveAccount ? 'Have no account yet?' : 'Registrate!'"></span>
      </a>
      <div layout="row" ng-hide="vm.isAlreadyHaveAccount">
        <md-button class="md-button-blue"
                   on-click="goto('registration.customer')">
          <span>Registrate as client</span>
        </md-button>
        <md-button class="md-button-blue"
                   on-click="goto('registration.provider')">
          <span>Registrate as provider</span>
        </md-button>
      </div>
    </div>
  </form>
</div>