<% var title = 101; %>

<% layout('/layouts/layout') %>
<% block('title', __('Reset password')); %>

<form method="POST">
    <label class="control-label" for="password"><%= __('New password') %></label>
    <input type="password"
           name="password"
           class="form-control"
           value=""
           required
           minlength="6"
           placeholder="<%= __('New password') %>"
           autofocus>
    <button type="submit"><%= __('Update password') %></button>
</form>