<md-dialog aria-label="Log in" class="login-dialog">
  <form role="form"
        name="loginForm"
        flex
        novalidate
        ng-submit="vm.submit(vm.user, loginForm.$valid, vm.isForgotPasswordEnabled)">
    <md-toolbar class="md-menu-toolbar">
      <div class="md-toolbar-tools">
        <h2 translate>LOG_IN</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Close dialog"
                   ng-click="vm.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout="row"
             layout-align="end center"
             flex
             hide-gt-sm>
          <md-button class="md-button-social-icon facebook" aria-label="Facebook">
            <i class="fa fa-facebook"></i>
          </md-button>
          <md-button class="md-button-social-icon google-plus" aria-label="Google+">
            <i class="fa fa-google-plus"></i>
          </md-button>
          <md-button class="md-button-social-icon twitter" aria-label="Twitter">
            <i class="fa fa-twitter"></i>
          </md-button>
        </div>
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="hide-error-msg" flex>
            <label translate>EMAIL</label>
            <input type="email"
                   name="email"
                   required
                   email-validation
                   ng-model="vm.user.email">
            <div ng-messages="loginForm.email.$error">
              <div ng-message="email" translate>INVALID_EMAIL</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row"
             ng-if="!vm.isForgotPasswordEnabled">
          <md-input-container class="hide-error-msg" flex>
            <label translate>PASSWORD</label>
            <input type="password"
                   name="password"
                   required
                   password-validation
                   ng-model="vm.user.password">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="password" translate>
                PASSWORD_MUST_CONTAIN
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <a type="button"
             class="text-center p-xxs"
             flex
             aria-label="{{ vm.isForgotPasswordEnabled ? 'Log In': 'Forgot your password?' }}"
             ng-click="vm.isForgotPasswordEnabled = !vm.isForgotPasswordEnabled">
            <span ng-bind="vm.isForgotPasswordEnabled ? 'Log In': 'Forgot your password?'"></span>
          </a>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="column" layout-align="start center" flex>
      <md-button type="submit"
                 class="md-button-blue"
                 aria-label="{{ vm.isForgotPasswordEnabled ? 'Reset Password' : 'Log In' }}">
        <span ng-bind="vm.isForgotPasswordEnabled ? 'Reset Password' : 'Log In'"></span>
      </md-button>
      <div class="social-buttons"
           hide-xs
           hide-sm
           ng-if="!vm.isForgotPasswordEnabled">
        <a class="md-button social-button facebook"
                   flex
                   translate
                   ng-click="vm.loginWithFacebook()">
          LOGIN_WITH_FB
        </a>
        <a class="md-button social-button google-plus"
           translate
           flex>
          LOGIN_WITH_G+
        </a>
        <a class="md-button social-button twitter"
           translate
           flex>
          LOGIN_WITH_TWITTER
        </a>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>