<md-dialog aria-label="Log in" class="login-dialog">
  <form role="form"
        name="loginForm"
        novalidate
        ng-submit="vm.submit(vm.user, loginForm.$valid, vm.isForgotPasswordEnabled)">
    <md-toolbar class="md-menu-toolbar md-default-theme">
      <div class="md-toolbar-tools">
        <h2>Log In</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Close dialog"
                   ng-click="vm.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input type="email"
                   name="email"
                   required
                   email-validation
                   ng-model="vm.user.email">
            <div ng-messages="loginForm.email.$error">
              <div ng-message="email">That doesn't look like a valid email.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row"
             ng-if="!vm.isForgotPasswordEnabled">
          <md-input-container class="md-block" flex>
            <label>Password</label>
            <input type="password"
                   name="password"
                   required
                   password-validation
                   ng-model="vm.user.password">
            <div ng-messages="loginForm.password.$error">
              <div ng-message="password">
                Your password must contain 6 characters (at least one number and one letter).
              </div>
            </div>
          </md-input-container>
        </div>
        <div layout="row">
          <button class="md-button"
                  type="button"
                  flex
                  aria-label="{{ vm.isForgotPasswordEnabled ? 'Log In': 'Forgot your password?' }}"
                  ng-click="vm.isForgotPasswordEnabled = !vm.isForgotPasswordEnabled">
            <span ng-bind="vm.isForgotPasswordEnabled ? 'Log In': 'Forgot your password?'"></span>
          </button>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="column">
      <button type="submit"
              class="md-button button-login"
              flex
              aria-label="{{ vm.isForgotPasswordEnabled ? 'Reset Password' : 'Log In' }}">
        <span ng-bind="vm.isForgotPasswordEnabled ? 'Reset Password' : 'Log In'"></span>
      </button>
      <div class="social-buttons"
           layout="column"
           ng-hide="vm.isForgotPasswordEnabled">
        <md-button class="social-button facebook"
                   ng-click="vm.loginWithFacebook()">
          Login with Facebook
        </md-button>
        <md-button class="social-button google">Login with Google+</md-button>
        <md-button class="social-button twitter">Login with Twitter</md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>