<div class="tab-bar-items" layout="row">
  <div class="tab-bar-item"
       flex="{{100 / data.items.length}}"
       ng-repeat="tabBarItem in data.items">
    <md-button layout="column"
               layout-align-gt-xs="center center"
               layout-align="center center"
               aria-label="{{ $state.get(tabBarItem).data.tab.title }}"
               ui-sref="{{ tabBarItem }}(data.params)"
               ui-sref-active="active">
      <div ng-show="!$mdMedia('gt-xs')"
           layout="column"
           layout-align="center center">
        <div class="icon">
          <i class="material-icons"
             ng-if="$state.get(tabBarItem).data.tab.icon"
             ng-bind="$state.get(tabBarItem).data.tab.icon">
          </i>
        </div>
        <div class="title">
          <span ng-bind="$state.get(tabBarItem).data.tab.title"></span>
        </div>
      </div>
      <div layout="row"
           ng-show="$mdMedia('gt-xs')"
           layout-align="center center">
      <span>
        <i class="material-icons vertical-middle"
           ng-if="$state.get(tabBarItem).data.tab.icon"
           ng-bind="$state.get(tabBarItem).data.tab.icon">
        </i>
        <span class="vertical-middle"
              ng-bind="$state.get(tabBarItem).data.tab.title">
        </span>
      </span>
      </div>
    </md-button>
  </div>
</div>