<ui-gmap-google-map center="vm.map.center"
                    zoom="vm.map.zoom"
                    options="vm.map.options"
                    control="vm.map.control"
                    events="vm.map.events"
                    pan="true">
    <ui-gmap-marker idKey="'specialist' + specialist.id"
                    coords="specialist.details"
                    options="vm.map.specialistMarker.options"
                    fit="false"
                    control="specialist"
                    events="vm.map.specialistMarker.events"
                    ng-repeat="specialist in vm.specialists track by specialist.id">
        <ui-gmap-window ng-cloak ng-if="!vm.currentRequest || vm.currentRequest.status === vm.requestStatus.NEW">
            <div layout="row" class="specialist-window">
                <div class="avatar"
                     ng-style="{ 'background-image': 'url(' + ($parent.specialist.portrait ? $parent.vm.baseUrl + $parent.specialist.portrait : vm.defaultPortrait) + ')' }">
                </div>
                <div layout="column">
                    <div layout="column" layout-align="start start">
                        <star-rating class="inline-block md-body-1"
                                     value="$parent.specialist.details.rating"
                                     readonly>
                        </star-rating>
                        <span ng-bind="$parent.specialist.fullName"></span>
                    </div>
                    <div layout="row" layout-align="end">
                        <button scroll-to=".request-form" offset="-50" ng-click="$parent.vm.hire($parent.specialist)">hire</button>
                    </div>
                </div>
            </div>
        </ui-gmap-window>
    </ui-gmap-marker>
    <ui-gmap-markers models="vm.map.markers"
                     coords="'self'"
                     icon="'icon'">

        <ui-gmap-windows show="'show'">
            <div ng-non-bindable>{{text}}</div>
        </ui-gmap-windows>

    </ui-gmap-markers>
</ui-gmap-google-map>