<div class="registration" layout="column" layout-align="center center" flex>
  <div class="form-wrapper" layout="column" layout-gt-xs="row" layout-align="start center">
    <div class="registration-form" flex-gt-xs="50" ng-class="{'mobile-hidden': vm.showSocial}">
      <div layout="row">
      <h1 flex="50" class="registration-name">Sign up</h1>
        <div class="go-to-social" flex="50" layout="row" layout-align="end center" ng-click="vm.showSocial = !vm.showSocial">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        </div>
      <form role="form" name="regForm" ng-model="regForm" novalidate>
        <!-- First and last name -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>First name</label>
            <input name="firstName" ng-model="vm.user.firstName" required ng-minlength="1" ng-maxlength="10">
            <div ng-messages="regForm.firstName.$error">
              <div ng-message="minlength">Your first name is too short.</div>
              <div ng-message="maxlength">Your first name is too long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Last name</label>
            <input name="lastName" ng-model="vm.user.lastName" required ng-minlength="1" ng-maxlength="14">
            <div ng-messages="regForm.lastName.$error">
              <div ng-message="minlength">Your last name is too short.</div>
              <div ng-message="maxlength">Your last name is too long.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Phone number -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Phone number</label>
            <input type="tel" name="phone" ng-model="vm.user.phone" required ng-pattern="vm.phoneRegExp">
            <div ng-messages="regForm.phone.$error">
              <div ng-message="pattern">That doesn't look like a valid phone number.</div>
            </div>
          </md-input-container>
        </div>
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input email-validation type="email" name="email" ng-model="vm.user.email" required>
            <div ng-messages="regForm.email.$error">
              <div ng-message="email">That doesn't look like a valid email.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Password</label>
            <input password-validation type="password" name="password" ng-model="vm.user.password" required>
            <div ng-messages="regForm.password.$error">
              <div ng-message="password">Your password must contain 6 characters (at least one number and one letter).
              </div>
            </div>
          </md-input-container>
        </div>
        <!-- Agree -->
        <div style="display: none">
          <md-checkbox ng-model="vm.user.agree" aria-label="I read and accept terms and conditions">
            I read and accept <a ng-href="#">terms and conditions</a>
          </md-checkbox>
        </div>
        <!-- Submit -->
        <md-button type="submit" ng-click="vm.submit(vm.user)"> <!--ng-disabled="!regForm.$valid || !vm.user.agree"-->
          Submit
        </md-button>
        <div style="display:none" onclick="this.parentElement.removeChild(this)"
             style="position: absolute; top:64px; left:0; width: 200px; min-height: 200px; background: #fff; opacity: 0.8">
          <pre>user = {{ vm.user | json }}</pre>
        </div>
      </form>
    </div>
    <div class="social-wrapper" flex-gt-xs="50" ng-class="{'mobile-hidden': !vm.showSocial}">
      <h1 class="registration-name social">Sign in with social network</h1>
      <div class="social-button-wrapper" layout="column" layout-align="center start">
        <md-button class="social-button facebook" >Log in with Facebook</md-button>
        <md-button class="social-button google" >Log in with Google+</md-button>
        <md-button class="social-button twitter" >Log in with Twitter</md-button>
      </div>
      <md-button class="social-button gray" ng-click="vm.showSocial = !vm.showSocial"><i class="fa fa-angle-left" aria-hidden="true"></i> Sign up with Email</md-button>
    </div>
  </div>
</div>