<md-toolbar class="md-menu-toolbar md-whiteframe-1dp md-default-theme">
  <div class="md-toolbar-tools">
    <md-button class="button-back" ng-href="/">
      <i class="fa fa-angle-left" aria-hidden="true"></i> Go Back
    </md-button>
    <md-button class="button-back-min" ng-href="/">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </md-button>
    <span flex></span>
    <h2 class="md-display-1 page-name">Customer registration</h2>
    <span flex></span>
    <md-button class="button-login" ng-href="#">
      Log in <i class="fa fa-sign-in" aria-hidden="true"></i>
    </md-button>
    <md-button class="button-login-min" ng-href="#">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </md-button>
  </div>
</md-toolbar>