<div class="provider" layout="row">
  <md-sidenav ui-view="menu"
              class="menu"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-sm')"
              md-disable-backdrop
              md-whiteframe="4"
              layout="column"
              flex>
  </md-sidenav>
  <div layout="column" flex>
    <div class="header" ui-view="header"></div>
    <div class="content-wrapper" flex>
      <md-content class="content anim-in-out anim-fade"
                  data-anim-speed="400"
                  layout="column"
                  flex
                  ui-view="content">
      </md-content>
    </div>
  </div>
</div>