<div class="animated map-viewer">
  <div class="map-content">
    <div class="map-wrapper">
      <ui-gmap-google-map center="vm.map.center"
                          control="vm.map.control"
                          events="vm.map.events"
                          zoom="vm.map.zoom"
                          options="vm.map.options"
                          pan="true">
        <ui-gmap-circle center='vm.selectedRequest.location'
                        radius='vm.map.circle.radius'
                        fill='vm.map.circle.fill'
                        stroke='vm.map.circle.stroke'
                        visible="vm.selectedRequest.status === vm.requestStatus.NEW">
        </ui-gmap-circle>
        <ui-gmap-marker ng-if="vm.selectedRequest.status !== vm.requestStatus.NEW"
                        coords="vm.map.requestMarker.center"
                        options="vm.map.requestMarker"
                        idKey="0"
                        fit="false">
        </ui-gmap-marker>
        <ui-gmap-marker ng-if="vm.selectedRequest.status === vm.requestStatus.IN_PROGRESS && !vm.isDirectionsDisabled"
                        coords="vm.map.currentMarker.center"
                        options="vm.map.currentMarker"
                        idKey="1"
                        fit="false">
        </ui-gmap-marker>
        <ui-gmap-map-control position="right-bottom">
          <button type="button"
                  class="current-location"
                  ng-click="vm.goToLocation(vm.map.currentMarker.center.latitude, vm.map.currentMarker.center.longitude)"
                  ng-if="vm.selectedRequest.status === vm.requestStatus.IN_PROGRESS && !vm.isDirectionsDisabled">
            <i class="material-icons">my_location</i>
          </button>
        </ui-gmap-map-control>
        <ui-gmap-map-control position="left-bottom">
          <request-action-buttons view-mode="buttons"
                                  current-request="vm.selectedRequest"
                                  ng-if="!vm.isActionButtonsHidden">
          </request-action-buttons>
        </ui-gmap-map-control>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
