
<div ng-hide="vm.isEditing" flex="100">
    <div layout="column"
         layout-gt-xs="row"
         layout-align="center center"
         layout-align-gt-xs="start center">
        <div class="md-display-1">
            <span class="vertical-middle" ng-bind="vm.userProfile.fullName"></span>
            <i ng-if="vm.userProfile.isEnabled" class="material-icons vertical-middle verified">verified_user</i>
        </div>
    </div>
    <div class="section first">
        <span class="md-body-2"><span translate>EMAIL</span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.auth.email"></span>
    </div>
    <div class="section">
        <span class="md-body-2"><span translate>PHONE</span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.phoneNumber"></span>
    </div>
    <div class="section">
        <span class="md-body-2"><span translate>LANGUAGE</span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.usingLanguage.name"></span>
    </div>
</div>

<div ng-if="vm.isEditing">
    <form name="editForm"
          novalidate
          ng-submit="vm.updateUser(vm.userProfile, editForm.$valid)">
        <p><span translate>NAME</span>: <sup>*</sup></p>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>FIRST_NAME</label>
                <input name="firstName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label translate>LAST_NAME</label>
                <input name="lastName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.lastName">
            </md-input-container>
        </div>
        <!--  email editing temporary disabled, cause needo to add sending confirmation email on each change -->
<!--        <p><span translate>EMAIL</span>: <sup>*</sup></p>
        <md-input-container class="md-block" flex>
            <label translate>EMAIL</label>
            <input name="email"
                   required
                   email-validation
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.userProfile.auth.email">
            <div ng-messages="editForm.email.$error">
                <div ng-message="email" translate>INVALID_EMAIL</div>
                <div ng-message="availability" translate>EMAIL_ALREADY_EXIST</div>
            </div>
        </md-input-container>-->
        <p><span translate>PHONE_NUMBER</span>:</p>
        <md-input-container class="md-block" flex>
            <label translate>PHONE_NUMBER</label>
            <input type="tel"
                   name="phoneNumber"
                   ui-us-phone-number
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.userProfile.phoneNumber">
            <div ng-messages="editForm.phoneNumber.$error">
                <span ng-message="usPhoneNumber" translate>INVALID_PHONE</span>
                <span ng-message="availability" translate>PHONE_ALREADY_EXIST</span>
            </div>
        </md-input-container>

        <p><span translate>LANGUAGE</span>:</p>
        <md-select flex
                   aria-label="Language"
                   ng-if="vm.isEditing"
                   ng-model-options="{trackBy: '$value.id'}"
                   ng-model="vm.userProfile.usingLanguage">
            <md-option ng-repeat="language in vm.languages"
                       ng-value="language">
                <span ng-bind="language.name"></span>
            </md-option>
        </md-select>

        <md-button type="submit"
                   class="md-button-blue"
                   aria-label="Save"
                   ng-if="vm.isEditing">
            <span translate>SAVE</span>
        </md-button>
        <md-button class="md-button-blue"
                   ng-if="vm.isEditing"
                   ng-click="vm.cancelEditing()">
            <span translate>CANCEL</span>
        </md-button>
    </form>
</div>
<md-button ng-if="!vm.isEditing"
           class="md-button-blue"
           ng-click="vm.isEditing = true"
           aria-label="Edit">
    <span translate>EDIT</span>
</md-button>
