<div ng-hide="vm.isEditingCustomer" flex="100">
    <div layout="column"
         layout-gt-xs="row"
         layout-align="center center"
         layout-align-gt-xs="start center">
    </div>
    <div>
        <div class="section first">
            <span class="md-body-2">Address:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.customerData.address1"></span>
        </div>
        <div class="section">
            <span class="md-body-2">State:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.customerData.state"></span>
        </div>
        <div class="section">
            <span class="md-body-2">City:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.customerData.city"></span>
        </div>
        <div class="section">
            <span class="md-body-2">ZIP:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.customerData.zip"></span>
        </div>
    </div>
    <md-button ng-if="!vm.isEditingCustomer" ng-click="vm.isEditingCustomer = true"">Edit</md-button>

</div>

<div ng-if="vm.isEditingCustomer">
    <form name="editCustomerForm"
          novalidate
          ng-submit="vm.updateCustomer(vm.userProfile, editCustomerForm.$valid)">
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Address</label>
                <input name="address"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.customerData.address1">
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>State</label>
                <input name="State"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.customerData.state">
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>City</label>
                <input name="City"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.customerData.city">
            </md-input-container>

            <md-input-container class="md-block" flex>
                <label>ZIP</label>
                <input name="Zip"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.customerData.zip">
            </md-input-container>
        </div>
        <md-button type="submit"
                   class="md-raised md-warn"
                   aria-label="Save"
                   ng-if="vm.isEditingCustomer">
            Save
        </md-button>
        <md-button ng-if="vm.isEditingCustomer" ng-click="vm.isEditingCustomer = false">Cancel</md-button>
    </form>
</div>