<div class="container profile-content"
     ng-class="{'mobile': !$mdMedia('gt-xs')}">
  <div class="container-title">
    <div ng-click="vm.isEditing = false"
         flex class="cursor-pointer">
      <i class="material-icons">person</i> <span translate>PROFILE</span>
    </div>
    </div>
    <div class="container-content prof">
      <div layout="column"
           layout-gt-xs="row"
           layout-align-gt-xs="start start"
           layout-align="start center">
        <div class="profile-left"
             flex
             layout="row"
             layout-xs="column"
             layout-gt-xs="column"
             layout-align="start center"
             layout-align-gt-xs="start start">
          <div class="avatar-wrapper" layout="row">
            <div class="profile-avatar"
                 flex
                 ng-style="{ 'background-image': 'url(' + vm.viewUserPhoto() + ')' }">
            </div>
            <div class="photo-remove"
                 ng-if="vm.isEditing">
              <md-icon ng-click="vm.removePhoto()">clear</md-icon>
            </div>
          </div>
          <div class="actions"
               layout="column"
               layout-align-xs="center center"
            >
            <md-button class="md-button-blue"
                       aria-label="Change photo"
                       ng-if="vm.isEditing"
                       file-uploader
                       is-single-file="true"
                       allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                       max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                       selected-file-src="vm.newPortrait">
              <md-icon>photo_camera</md-icon>
              <span class="p-w-xs" translate>CHANGE_PHOTO</span>
            </md-button>
          </div>
        </div>
        <div layout="row"
             class="profile-right"

             flex-offset-gt-xs="5"
             layout-align="start center"
             layout-align-gt-xs="start start">
          <md-content flex>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab>
                <md-tab-label><span translate>GENERAL_INFO</span></md-tab-label>
                <md-tab-body class="md-padding">
                  <div ng-include="'customer/profile/profile-general.html'"></div>
                </md-tab-body>
              </md-tab>
              <md-tab>
                <md-tab-label><span translate>CONTACT_INFO</span></md-tab-label>
                <md-tab-body class="md-padding">
                  <div ng-include="'customer/profile/profile-contact.html'"></div>
                </md-tab-body>
              </md-tab>
              <md-tab>
                <md-tab-label><span translate>PAYMENT_INFO</span></md-tab-label>
                <md-tab-body class="md-padding">
                  <div ng-include="'customer/profile/profile-payment.html'"></div>
                </md-tab-body>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
      </div>
    </div>
  </div>
</div>
