<md-dialog aria-label="Invite a friend" class="invite-dialog">
  <form role="form"
        name="inviteForm"
        novalidate
        ng-submit="vm.submit(vm.inviteData, inviteForm.$valid)">
    <md-toolbar class="md-menu-toolbar md-default-theme">
      <div class="md-toolbar-tools">
        <h2 translate>INVITE A FRIEND</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Close dialog"
                   ng-click="vm.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label translate>EMAIL</label>
            <input type="email"
                   name="email"
                   required
                   email-validation
                   ng-model="vm.inviteData.email">
            <div ng-messages="inviteForm.email.$error">
              <div ng-message="email" translate>INVALID EMAIL</div>
            </div>
          </md-input-container>
        </div>
        <!-- Friend's name -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label translate>FRIEND'S NAME</label>
            <input type="text"
                   name="name"
                   required
                   ng-model="vm.inviteData.name">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <button type="submit"
              flex
              aria-label="Send"
              translate
              class="md-button md-button-blue">
        SEND
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>