<div class="container view-content">
  <div class="container-title"><i class="material-icons">list</i> <span>Request</span></div>
  <div class="container-content">
    <div class="request-info">
      <div class="title md-headline">Details</div>
      <div layout="row">
        <div class="map-wrapper" flex="35">
          <a ui-sref="customer.requests.request.map($stateParams)">
            <ui-gmap-google-map center="vm.map.center"
                                zoom="vm.map.zoom"
                                options="vm.map.options">
              <ui-gmap-marker
                  coords="vm.map.center"
                  options="vm.map.marker"
                  idKey="0"
                  fit="false">
              </ui-gmap-marker>
            </ui-gmap-google-map>
          </a>
        </div>
        <div class="info-row"
             layout="column"
             layout-align="center start"
             flex="65">
          <div class="info-column">
            <b>Needed service:</b>
            <span ng-bind="vm.request.serviceType.name"></span>
          </div>
          <div class="info-column">
            <b>For date:</b>
            <span ng-bind="vm.request.forDate ? (vm.request.forDate | date : 'MM/dd/yyyy H:mm a') : 'Now'"></span>
          </div>
          <div class="info-column">
            <b>Address:</b>
            <span ng-bind="vm.request.location.address"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="provider-info"
         ng-if="vm.request.executor.id">
      <md-divider class="divider"></md-divider>
      <div class="title md-headline">Service provider</div>
      <div layout="row" layout-align="start center">
        <div class="avatar-wrapper">
          <div class="avatar"
               ng-style="{ 'background-image': 'url(' + (vm.request.executor.portrait ?
               vm.baseUrl + vm.request.executor.portrait : vm.defaultPortrait) + ')' }">
          </div>
        </div>
        <div class="name"
             flex
             layout="column"
             layout-align="center start"
             ng-bind="vm.request.executor.fullName">
        </div>
        <div ng-if="vm.request.cost">
          $ <span class="cost"
                  flex="10"
                  ng-bind="vm.request.cost">
            </span>
        </div>
        <div class="text-right" flex>
          <button class="md-button md-button-green"
                  ng-class="{ disabled: vm.request.status !== vm.requestStatus.DONE }"
                  ng-click="vm.closeRequest(vm.request)">Done
          </button>
        </div>
      </div>
    </div>
  </div>
</div>