<div layout-gt-xs="row">
  <div layout="column" flex="100" flex-gt-xs="50">
    <p>Type of service:</p>
    <md-checkbox ng-model="vm.user.serviceType[$index]"
                 ng-repeat="item in vm.serviceTypes track by $index"
                 aria-label="item.display"
                  ng-value="item.value" ng-change="vm.serviceTypeChange()">
      {{item.display}}
    </md-checkbox>
    <input type="hidden" ng-model="vm.user.serviceType" required>
  </div>
  <div layout="column" flex="100" flex-gt-xs="50">
    <p>License information:</p>
    <md-input-container class="md-block">
      <label>License Number</label>
      <input name="licenseNumber" ng-model="vm.user.licenseNumber" required md-maxlength="15">
      <div ng-messages="regForm.licenseNumber.$error">
        <!--!ToDo: license number validation-->
        <div ng-message="license">That doesn't look like a valid license number.</div>
      </div>
    </md-input-container>
    <div layout="row" class="license-date-container">
      <!--!ToDo: license date validation-->
      <md-input-container class="md-block" flex="25">
        <label>DD</label>
        <input name="licenseDateD" ng-model="vm.user.licenseDate[0]" required maxlength="2">
      </md-input-container>
      <div class="date-separator">/</div>
      <md-input-container class="md-block" flex="25">
        <label>MM</label>
        <input name="licenseDateM" ng-model="vm.user.licenseDate[1]" required maxlength="2">
      </md-input-container>
      <div class="date-separator">/</div>
      <md-input-container class="md-block" flex="50">
        <label>YYYY</label>
        <input name="licenseDateY" ng-model="vm.user.licenseDate[2]" required maxlength="4">
      </md-input-container>
    </div>
  </div>
</div>