<div layout="column">
  <div layout="row" layout-align="center start">
    <md-radio-group class="md-primary"
                    layout="row"
                    ng-model="vm.isCompanyRegistrationSelected">
      <md-radio-button ng-value="false">
        <span translate>INDIVIDUAL</span>
      </md-radio-button>
      <md-radio-button ng-value="true">
        <span translate>COMPANY</span>
      </md-radio-button>
    </md-radio-group>
  </div>
  <div flex>
    <div ng-if="vm.isCompanyRegistrationSelected">
      <p>
        <span translate>COMPANY_INFO</span>:
      </p>
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label translate>TITLE</label>
          <input type="text"
                 name="companyTitle"
                 required
                 ng-model="vm.user.groups.title">
        </md-input-container>
      </div>
    </div>
    <div>
      <p>
        <span translate>PERSONAL_INFO</span>:
      </p>
      <div flex layout="row" layout-xs="column">
        <md-input-container class="md-block" flex>
          <label translate>FIRST_NAME</label>
          <input type="text"
                 name="firstName"
                 required
                 ng-maxlength="20"
                 ng-pattern="/^[a-zA-Z- ]*$/"
                 ng-model="vm.user.firstName">
          <div ng-messages="registrationForm.firstName.$error">
            <div ng-message="maxlength" translate>FIRST_NAME_IS_TOO_LONG</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label translate>LAST_NAME</label>
          <input type="text"
                 name="lastName"
                 required
                 ng-maxlength="20"
                 ng-pattern="/^[a-zA-Z- ]*$/"
                 ng-model="vm.user.lastName">
          <div ng-messages="registrationForm.lastName.$error">
            <div ng-message="maxlength" translate>LAST_NAME_IS_TOO_LONG</div>
          </div>
        </md-input-container>
      </div>
      <p>
        <span translate>CONTACT_INFORMATION</span><span>: </span></p>
      <div layout-gt-xs="row">
        <md-input-container class="md-block"
                            flex="100"
                            flex-gt-xs="50">
          <label translate>PHONE_NUMBER</label>
          <input type="tel"
                 name="phoneNumber"
                 required
                 autocomplete="off"
                 ui-us-phone-number
                 availability-validation
                 ng-model-options="{ 'debounce': 400 }"
                 ng-model="vm.user.phoneNumber">
          <div ng-messages="registrationForm.phoneNumber.$error">
            <span ng-message="usPhoneNumber" translate>INVALID_PHONE</span>
            <span ng-message="availability" translate>PHONE_EXIST</span>
          </div>
        </md-input-container>
        <md-input-container
            class="md-block"
            flex="100"
            flex-gt-xs="50">
          <label translate>EMAIL</label>
          <input type="email"
                 name="email"
                 required
                 autocomplete="off"
                 email-validation
                 availability-validation
                 ng-model-options="{ 'debounce': 400 }"
                 ng-model="vm.auth.email">
          <div ng-messages="registrationForm.email.$error">
            <div ng-message="email" translate>INVALID_EMAIL</div>
            <div ng-message="availability" translate>EMAIL_ALREADY_EXIST</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label translate>PASSWORD</label>
          <input type="password"
                 name="password"
                 required
                 autocomplete="off"
                 password-validation
                 ng-model="vm.auth.password">
          <div ng-messages="registrationForm.password.$error">
            <div ng-message="password" translate>
              PASSWORD_MUST_CONTAIN
            </div>
          </div>
        </md-input-container>
      </div>
    </div>
  </div>
</div>