<div class="registration-content provider"
     flex
     layout="column"
     layout-align="center center">
  <div class="form-wrapper"
       layout-align="center center">
    <div class="registration-form">
      <form name="registrationForm"
            novalidate
            ng-submit="vm.createNewUser(vm.auth, vm.user, registrationForm.$valid)">
        <div class="stepper-navigation"
             layout="row"
             layout-align="center center">
          <md-button type="button"
                     class="stepper-navigation-item md-button md-ink-ripple md-default-theme"
                     layout="row"
                     layout-align="start center"
                     aria-label="{{ step.title }}"
                     ng-repeat="step in vm.registrationSteps track by step.id"
                     ng-class="{
                     current: vm.currentStep === $index,
                     valid: $index === vm.currentStep && registrationForm.$valid || vm.validSteps[$index]
                     }"
                     ng-disabled="($index > vm.currentStep && !registrationForm.$valid) ||
                     (registrationForm.$valid && $index > (vm.currentStep + 1) && !vm.validSteps[$index])"
                     ng-click="vm.goToStep($index, registrationForm.$valid)">
            <div class="step md-accent-bg"
                 layout="row"
                 layout-align="center center">
              <span ng-bind="step.id"></span>
            </div>
            <div layout="column" layout-align="start start">
              <div class="title text-capitalize"
                   ng-bind="step.title">
              </div>
            </div>
          </md-button>
        </div>

        <md-divider></md-divider>
        <div class="stepper-steps">
          <div ng-include="vm.registrationSteps[vm.currentStep].templateUrl"></div>
        </div>
        <div class="stepper-controls" layout-align="center center" layout="row">
          <md-button type="button"
                     class="md-accent md-raised md-button md-ink-ripple md-default-theme"
                     ng-disabled="vm.currentStep === 0"
                     ng-click="vm.goToPrevStep(registrationForm.$valid)">
            <span class="ng-scope">Back</span>
          </md-button>
          <md-button type="button"
                     class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme"
                     ng-if="vm.currentStep !== vm.registrationSteps.length - 1"
                     ng-click="vm.goToNextStep(registrationForm.$valid)"
                     ng-disabled="registrationForm.$invalid"
                     aria-label="Next">
            <span class="ng-scope">Next</span>
          </md-button>
          <md-button type="submit"
                     class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme"
                     ng-if="vm.currentStep === vm.registrationSteps.length - 1"
                     ng-disabled="registrationForm.$invalid"
                     aria-label="Submit">
            <span class="ng-scope">Submit</span>
          </md-button>
        </div>
      </form>
    </div>
  </div>
</div>