<md-toolbar class="md-menu-toolbar md-whiteframe-1dp md-default-theme">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button button-menu"
               hide-gt-sm ng-click="vm.toggleMenu()"
               aria-label="Menu">
      <md-icon>
        <i class="material-icons">menu</i>
      </md-icon>
    </md-button>
    <h2 class="root"
        ng-show="$mdMedia('gt-xs')">
      <span ng-repeat="pageTitle in vm.pageTitles track by $index">
        <a ng-href="{{pageTitle.url}}"
           ng-bind="pageTitle.title">
        </a>
        <i class="material-icons"
           ng-if="$index != vm.pageTitles.length-1 && vm.pageTitles[$index+1].title">
          chevron_right
        </i>
      </span>
    </h2>
    <span flex></span>
    <h2 class="root bold" hide-gt-xs>
      <span ng-bind="vm.pageTitles[vm.pageTitles.length - 1].title"></span>
    </h2>
    <span flex hide-gt-sm></span>
    <div ng-if="$mdMedia('gt-xs')">
      <md-button class="button-login"
                ui-sref="login"
                aria-label="Log out"
                ng-if="!vm.isAuthentificated()">
                Log in
      </md-button>
      <md-button class="button-login"
                ng-href="#"
                aria-label="Log out"
                ng-if="vm.isAuthentificated()"
                ng-click="vm.logout">
                Log out
      </md-button>
    </div>
    <md-button class="md-icon-button button-menu"
               hide-gt-xs ui-sref="login"
               aria-label="Log in"
               ng-if="!vm.isAuthentificated()">
      <md-icon>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </md-icon>
    </md-button>
    <md-button class="button-logout"
               ng-href="#"
               aria-label="Log out"
               hide-gt-xs
               ng-if="vm.isAuthentificated()"
               ng-click="vm.logout">
      <md-icon>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
      </md-icon>
    </md-button>
  </div>
</md-toolbar>