$menu-text-color: #fff;
$menu-background-color: rgb(45, 50, 62);

.site-sidenav {
  background-color: $menu-background-color;
  width: 240px;
  max-width: 240px;
  min-width: 240px;

  .nav-header {
    background-color: rgba(255, 255, 255, .05);

    .logo {
      color: $menu-text-color;

      .logo-image {
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        background: #039BE5;
        border-radius: 2px;
      }

      .logo-text {
        margin-left: 16px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }

  md-content {
    background: transparent;
  }

  .menu-list {
    list-style: none;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;

    a {
      &, md-icon {
        color: #fff;
      }

      md-icon {
        margin: 0 16px 0 0;
      }

      &.md-button {
        padding: 0 16px 0 32px;
        font-weight: 500;
        text-transform: none;

        &.active {
          background-color: $primary-color;

          &:hover {
            background-color: darken($primary-color, 1%);
          }
        }

        &:hover {
          background-color: rgba(0, 0, 0, .1);
        }
      }
    }

    .md-button {
      border-radius: 0;
      cursor: pointer;
      width: 100%;
      max-height: 56px;
      line-height: 56px;
      margin: 0;
      overflow: hidden;
      padding: 0 16px;
      text-align: left;
      white-space: normal;
    }
  }
}