$success-color: #66BB6A;
$warning-color: #FFB74D;
$error-color: #EF5350;
$primary-color: rgb(3, 155, 229);
$text-color: rgba(0, 0, 0, .87);
$secondary-text-color: rgba(0, 0, 0, .54);
$disabled-color: rgba(0, 0, 0, 0.38);
$disabled-background-color: rgba(0, 0, 0, 0.12);

@import 'layout';
@import 'texts';
@import 'buttons';
@import 'margins-and-paddings';
@import 'home';