<div layout="column" class="home-first">
    <div layout-align="center center" layout="column" flex-xs="25">

        <h1>Book an appointment</h1>

        <h2>The best specialists in the shortest possible time</h2>

        <button  hide show-gt-xs ng-click="vm.showVideo()" class="md-button watch-video btn" aria-label="Watch video">
            <span translate>WATCH_VIDEO</button>


    </div>

    <div layout="column" layout-align="start start" layout-align-xs="start stretch" class="request-form"
         flex-xs="75">
        <span class="hint" ng-if="vm.specialistId">To <b>hire</b> specialist fill the form below</span>
        <form role="form"
              name="vm.newRequestForm"
              novalidate layout="row" layout-xs="column"
              ng-submit="vm.submit(vm.newRequest, vm.newRequestForm.$valid)">
            <md-input-container class="md-block" flex-gt-sm>
                <label translate>FIRST_NAME</label>
                <input ng-maxlength="20"
                       ng-pattern="/^[a-zA-Z- ]*$/"
                       ng-model="vm.auth.user.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label translate>LAST_NAME</label>
                <input  ng-maxlength="20"
                        ng-pattern="/^[a-zA-Z- ]*$/"
                        ng-model="vm.auth.user.lastName">
            </md-input-container>
            <!--<md-input-container class="md-block" flex-gt-sm>
                <label>Phone</label>
                <input ng-model="vm.newRequest.phone">
            </md-input-container>-->
            <md-input-container class="md-block" flex-gt-sm>
                <input email-validation
                       availability-validation
                       placeholder="Email" ng-model="vm.auth.email" name="email" type="email">

                <div ng-messages="newRequestForm.email.$error">
                    <div ng-message="email" translate>INVALID_EMAIL</div>
                    <div ng-message="availability" translate>EMAIL_ALREADY_EXIST</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label translate>SERVICE</label>
                <md-select ng-model="vm.newRequest.service"
                           ng-model-options="{trackBy: '$value.id'}">
                    <md-option ng-repeat="serviceType in vm.serviceTypes track by serviceType.id"
                               ng-value="serviceType" layout-xs="column">
                        <span ng-bind="serviceType.name | translate"></span>
                    </md-option>
                </md-select>
                <!--<md-select aria-label="Services"
                           multiple
                           ng-model-options="{trackBy: '$value.id'}"
                           ng-model="vm.userProfile.details.serviceTypes">
                    <md-option ng-repeat="serviceType in vm.serviceTypes track by serviceType.id"
                               ng-value="serviceType">
                        <span ng-bind="serviceType.name"></span>
                    </md-option>
                </md-select>-->
            </md-input-container>

            <md-input-container class="md-block location" flex-gt-sm layout="row">
                <input type="text" name="location"
                       ng-autocomplete
                       ng-model="vm.newRequest.location"
                       details="vm.details"
                       options="vm.options"
                       placeholder="{{'LOCATION' | translate}}"
                />
                <i class="material-icons">place</i>
                <div ng-messages="vm.newRequestForm.location.$error">
                    <div ng-message="address" translate>CHOOSE_VALID_ADDRESS</div>
                </div>
            </md-input-container>


            <button type="submit"
                    aria-label="Send a request"
                    class="md-button" flex="none"
                    ng-disabled="newRequestForm.$invalid">
                <span translate>SEND_A_REQUEST</span>
            </button>
        </form>
        <span hide-xs>Tip about what to do or what will happen after the booking</span>
    </div>
</div>

<div class="home-map" layout="row">
    <div class="map-wrapper" layout="column" flex>
        <client-map-viewer class="map-viewer"
                           flex
                           map-options="vm.mapOptions"
                           current-request="vm.request"
                           hire-specialist="vm.hireSpecialist(specialist)">
        </client-map-viewer>
    </div>
</div>

<div class="home-apps" layout="row" layout-align="center center">
    <div layout="row" layout-align="center center" layout-margin layout-xs="column">
        <div>
            <span translate>DOWNLOAD_APP</span>
        </div>
        <div>
            <div class="appstore"></div>
            <div class="googleplay"></div>
        </div>
    </div>
</div>

<div class="home-how block" layout="column" layout-align="center center">
    <div>
        <h1 translate>HOW_IT_WORKS</h1>
    </div>
    <div layout="row" layout-align="space-around start">
        <div layout="column" layout-align="start center" flex="25">
            <span class="img send-a-reaquest"></span>

            <h3 layout-align="center">send a request</h3>

            <span hide-xs>Log on to our application on your computer or through our mobile app to Send a Request. Then you choose which type of service you need ranging from emergency to law enforcement. You are then able to choose a date and time for which you will be requiring service. You can schedule for a future time or receive immediate service.</span>
        </div>
        <div layout="column" layout-align="start center" flex="25">
            <span class="img choose-a-locksmith"></span>

            <h3>choose a locksmith</h3>

            <span hide-xs>Once your request is submitted you will be matched up with the available locksmiths in your area, and given recommendations. Locksmiths can place bids on your job, allowing you to choose the most affordable option for you.</span>
        </div>
        <div layout="column" layout-align="start center" flex="25">
            <span class="img get-it-done"></span>

            <h3>get it done</h3>

            <span hide-xs>Lastly, it is time to Get It Done. Once you choose your locksmith you can communicate directly with them through live chat with translation services readily available. You are now on the road to receiving trustworthy locksmith services, no matter what your need might be.</span>
        </div>
    </div>
    <div layout="row" layout-align="center center" class="last-step">
        <div flex="75">
            <span hide-xs>Once you have requested service you can actually live chat with a number of locksmiths and get any questions answered, effectively reducing any anxiety you may have.</span>
        </div>
    </div>
</div>

<div class="home-advantages block" layout="column">
    <div layout="row" layout-align="center">
        <h1 translate>ADVANTAGES</h1>
    </div>
    <div layout="row" class="item">
        <div layout="row" flex="40" layout-align="end" flex-xs="60">
            <div layout="column" layout-align="center end" flex="80" flex-xs="100">
                <div class="text" layout="column" layout-align="center center" layout-align-xs="center start">
                    <h3>Our Software Will Save You Time</h3>
                    <span hide-xs>Instead of having to deal with a third-party or call center, our application allows you to connect directly with service providers in your area. Tired of having to compare prices? No problem. LockHeal allows qualified locksmiths to bid on your job, allowing you to choose the best option for you. Translation services are readily available, making our software accessible, and easy to use for anyone</span>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end" layout-align-xs="start" flex="60" flex-xs="40">
            <div class="img icon-advantages"></div>
        </div>
    </div>

    <div layout="row" class="item">
        <div flex="60" layout="row" layout-align="start" layout-align-xs="end" flex-xs="40">
            <div class="img icon-same-day-help"></div>
        </div>
        <div layout="row" flex="40" layout-align="start" flex-xs="60">
            <div layout="column" layout-align="center start" flex="80" flex-xs="100">
                <div class="text" layout="column" layout-align="center center" layout-align-xs="center start">
                    <h3>Same-Day Help</h3>
                    <span hide-xs>We know that requiring a locksmith is sometimes an emergency. Being locked out of your home, automobile, or business can put a stop to productivity, losing both you time and money. We offer the ability to schedule for future dates and times, as well as to request immediate assistance to get you out of a jam quickly and efficiently.</span>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" class="item">
        <div layout="row" flex="40" layout-align="end" flex-xs="60">
            <div layout="column" layout-align="center end" flex="80" flex-xs="100">
                <div class="text" layout="column" layout-align="center center" layout-align-xs="center start">
                    <h3>Trust and Safety</h3>
                    <span hide-xs>Searching for a qualified locksmith in the past was at times both difficult and confusing. Calling a “locksmith company” often resulted in a connection with a third-party or call center. These call centers indeed connect you with a locksmith, but they also take a portion of the service charge, leaving locksmiths with no choice but to overcharge to make a profit. With LockHeal those days are over. We connect millions of people directly with qualified locksmiths for quick, effective results at a price you can afford. You can trust LockHeal to protect the personal information of both the locksmith and the client. Our locksmiths must pass background checks before being allowed to operate through our software, ensuring your absolute safety.</span>
                </div>
            </div>
        </div>
        <div flex="60" layout="row" layout-align="end" layout-align-xs="start" flex-xs="40">
            <div class="img icon-trust-and-safe"></div>
        </div>
    </div>
</div>

<div class="home-fast block" layout="column" layout-align="center center">
    <div>
        <h1 translate>F.A.S.T.</h1>
    </div>
    <div layout="row" layout-align="space-around start">
        <div layout="column" layout-align="start center" flex="60">

            <span>Our mission statement stands for Forward thinking, Affordable, Safe, and Trustworthy. When you book with LockHeal you are in good hands. Book with LockHeal today and allow us to get you unstuck.</span>
        </div>
    </div>
</div>

<div class="home-feedbacks" layout="column" layout-align="center center">
    <md-card layout="row" layout-align="center center">
        <jk-carousel
                data="vm.feedbacksDataArray"
                item-template-url="'home/feedback-item-template.html'"
                max-width="800"
                ng-attr-max-height="{{$mdMedia('gt-xs') && '260' || '560' }}"
                auto-slide="false">
        </jk-carousel>
    </md-card>
</div>

<div class="home-need" layout="column" layout-align="center center" layout-align-xs="center center">
    <h1 translate>NEED_A_LOCKSMITH?</h1>
    <button scroll-to=".request-form" offset="-50" type="submit"
            aria-label="Send a request"
            class="md-button">
        <span translate>SEND_A_REQUEST</span>
    </button>
</div>