<div class="container request-content chat-app">
  <div class="center">
    <div class="content-card"
         flex
         layout="row">
      <div class="start-point"
           ng-if="!vm.currentChat.id"
           flex
           layout="column"
           layout-align="center center">
        <div class="big-circle md-whiteframe-4dp">
          <i class="material-icons s128 md-accent">textsms</i>
        </div>
        <span class="secondary-text m-t-md">
          Chat has not been started.
        </span>
      </div>
      <div flex
           layout="column"
           ng-if="vm.currentChat.id">
        <chat-messages flex
                       layout="column"
                       messages="vm.messages"
                       current-user="vm.currentUser"
                       current-request="vm.currentRequest"
                       selected-specialist="vm.selectedSpecialist"
                       selected-tab="vm.selectedTab"
                       current-chat="vm.currentChat"
                       toggle-sidenav="vm.toggleSidenav(navID)">
        </chat-messages>
        <md-sidenav class="sidenav right-sidenav md-sidenav-right"
                    layout="column"
                    md-component-id="right-sidenav"
                    md-is-open="vm.isInfoTabOpen">
          <request-info-panel selected-request="vm.currentRequest"
                              toggle-sidenav="vm.toggleSidenav(navID)"
                              ng-if="vm.isInfoTabOpen">
          </request-info-panel>
        </md-sidenav>
      </div>
    </div>
  </div>
</div>