@import 'customerRegistration';

$primary-color: rgb(3, 155, 229);

*:focus {
  outline: none;
  border: 0;
}

.customer {
  height: 100vh;
  overflow-x: hidden;
}

.rating-stars {
  cursor: pointer;
}

.rating-stars ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rating-stars li {
  display: inline;
}

.rating-stars li i {
  font-size: inherit;
}

.customer {
  a {
    text-decoration: none;
  }
  .primary-color {
    color: $primary-color;
  }
  .md-button-blue, .md-button-blue:hover {
    background-color: $primary-color !important;
    color: #fff;
  }
  .block-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  .vertical-top {
    vertical-align: top;
  }
  .vertical-middle {
    vertical-align: middle;
  }
  .vertical-bottom {
    vertical-align: bottom;
  }
  .text-center {
    text-align: center;
  }
}

.customer {
  .menu {
    background-color: rgb(45, 50, 62);
    max-width: 240px;
    min-width: 240px;
  }
  .menu {
    md-content {
      background: none;
    }
    .menu-header {
      background-color: rgba(255, 255, 255, .05);
      padding: 0 16px 0 24px;
    }
    .logo .logo-image {
      display: block;
      background: #039BE5;
      width: 32px;
      min-width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: #FFF;
      border-radius: 2px;
    }
    .logo .logo-text {
      color: #FFF;
      margin-left: 16px;
      font-size: 16px;
      text-transform: uppercase;
    }
    .profile {
      padding-top: 42px;
      padding-bottom: 34px;
      width: 100%;
      min-height: 255px;
      color: inherit;
      text-decoration: none;
    }
    .profile a:visited {
      color: inherit;
    }
    .profile.active {
      background-color: rgb(3, 155, 229);
    }
    .profile.active .photo-wrapper {
      border: 2px solid rgba(0, 0, 0, .05);
    }
    .photo {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      overflow: hidden;
      background-size: cover;
    }
    .name {
      font-size: 20px;
      font-weight: 400;
      color: rgba(250, 250, 250, 1);
      margin-top: 15px;
    }
    .name i.material-icons {
      font-size: 18px;
      vertical-align: middle;
    }
    .name span {
      vertical-align: middle;
    }
    .email {
      color: rgba(255, 255, 255, 0.298039);
      font-size: 15px;
      cursor: default;
    }
    .profile.active .email {
      color: rgba(255, 255, 255, 0.7);
    }
    .navigation {
      width: 100%;
    }
    .navigation-item {
      min-height: 48px;
    }
    .navigation a {
      color: rgba(255, 255, 255, .7);
      padding: 16px 16px 16px 24px;
      font-size: 13px;
      text-decoration: none;
    }
    .navigation a:hover {
      background-color: rgba(0, 0, 0, .1);
    }
    .navigation a.active {
      background-color: rgb(3, 155, 229);
      color: #fff;
    }
    .navigation a.active i.material-icons {
      color: #fff;
    }
    .navigation a i.material-icons {
      color: rgba(255, 255, 255, .7);
      font-size: 16px;
      margin: 0 16px 0 0;
    }
  }
}

.customer {
  .header {
    .root {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 400;
      margin-left: 8px;
    }
    .root.bold {
      font-size: 18px;
      font-weight: 400;
    }
    .root i.material-icons {
      vertical-align: middle;
      font-size: 20px;
      font-weight: 600;
      cursor: default;
    }
    .root a {
      vertical-align: middle;
    }
    .root a:hover {
      color: $primary-color;
    }
    md-icon i {
      vertical-align: top;
    }
  }
}

.customer {
  .content {
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100%;
  }
  .content-wrapper {
    background-color: rgb(245, 245, 245);
    position: relative;
  }
  .content {
    .container {
      background: #fff;
      margin: 30px;
      margin-bottom: 84px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    }
    .container-title {
      padding: 24px 24px 0 24px;
      font-size: 20px;
    }
    .container-title i.material-icons {
      vertical-align: middle;
    }
    .container-title span {
      vertical-align: middle;
    }
    .container-content {
      padding: 24px;
    }
    .container-content p {
      font-weight: 600;
    }
  }
}

.customer {
  .request-content {
    .md-datepicker-input-container {
      margin-left: 4px;
    }
    .md-datepicker-open .md-datepicker-input {
      margin-left: 2px;
      height: 18px;
    }
  }
}

.customer {
  .profile-content {
    .profile-left {
      width: 220px;
    }
    .avatar {
      overflow: hidden;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-size: cover;
      width: 220px;
      height: 220px;
    }
    .actions {
      margin-top: 12px;
    }
    .actions .md-button {
      margin-left: 0;
      margin-right: 0;
    }
    .profile-right {
      margin-left: 50px;
    }
    .profile-right h1 {
      margin-top: 4px;
    }
    .profile-right .section {
      padding: 10px 0 10px 0;
    }
    .section .md-body-1, .section .md-body-2 {
      font-size: 16px;
    }
    .section .md-body-2 {
      text-transform: uppercase;
      font-weight: 600;
    }
    .section .md-body-1 {
      padding-left: 5px;
    }
  }
}

.customer {
  .history-content {
    .md-cell.md-checkbox-cell {
      display: none;
    }
    .md-column.md-checkbox-column {
      display: none;
    }
    tr {
      cursor: pointer;
    }
    .td-status {
      min-width: 84px;
      text-align: center !important;
    }
    .td-status span {
      padding: 4px 8px;
      border-radius: 2px;
      border-style: solid;
      border-width: 1px;
      display: block;
    }
    .td-status.new span {
      color: #4CAF50;
      border-color: #4CAF50;
    }
    .td-status.pending span {
      color: $primary-color;
      border-color: $primary-color;
    }
    .td-status.closed span {
      color: #B71C1C;
      border-color: #B71C1C;
    }
    .td-cost {
      text-align: center !important;
    }
    .td-location {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    .td-provider {
      width: 110px;
    }
    .item-header {
      margin-bottom: -15px;
    }
    .item-header .md-title {
      margin-bottom: 10px;
      line-height: 29px;
    }
    .item-header .td-status {
      margin-bottom: 10px;
    }
    .item-body md-icon {
      color: #D2413A;
    }
    .item-provider {
      margin-top: 10px;
    }
    .item-provider .photo {
      width: 42px;
      height: 42px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-size: cover;
    }
  }
}

.customer {
  .list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 20px;
    display: block;
    color: inherit;
  }
  .list:last-child {
    margin-bottom: 0px;
  }
  .list:last-child.card {
    margin-bottom: 40px;
  }
  .list-header {
    margin-top: 20px;
    padding: 5px 15px;
    background-color: transparent;
    color: #222;
    font-weight: bold;
  }
  .card.list .list-item {
    padding-right: 1px;
    padding-left: 1px;
  }
  .card,
  .list-inset {
    overflow: hidden;
    margin: 20px 10px;
    border-radius: 2px;
    background-color: #fff;
  }
  .card {
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  .card .item {
    border-left: 0;
    border-right: 0;
  }
  .card .item:first-child {
    border-top: 0;
  }
  .card .item:last-child {
    border-bottom: 0;
  }
  .padding .card, .padding .list-inset {
    margin-left: 0;
    margin-right: 0;
  }
  .card .item:first-child,
  .list-inset .item:first-child,
  .padding > .list .item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .card .item:first-child .item-content,
  .list-inset .item:first-child .item-content,
  .padding > .list .item:first-child .item-content {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .card .item:last-child,
  .list-inset .item:last-child,
  .padding > .list .item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .card .item:last-child .item-content,
  .list-inset .item:last-child .item-content,
  .padding > .list .item:last-child .item-content {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .card .item:last-child,
  .list-inset .item:last-child {
    margin-bottom: -1px;
  }
  .card .item,
  .list-inset .item,
  .padding > .list .item,
  .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
  }
  .card .item.item-input input,
  .list-inset .item.item-input input,
  .padding > .list .item.item-input input,
  .padding-horizontal > .list .item.item-input input {
    padding-right: 44px;
  }
  .padding-left > .list .item {
    margin-left: 0;
  }
  .padding-right > .list .item {
    margin-right: 0;
  }
  .item-header {
    overflow: auto;
    padding: 16px;
    padding-bottom: 0px;
    text-overflow: inherit;
    white-space: normal;
  }
  .item-body {
    overflow: auto;
    padding: 16px;
    text-overflow: inherit;
    white-space: normal;
  }
}

.customer {
  .tab-bar {
    position: fixed;
    bottom: 0;
    width: calc(100% - 240px);
    z-index: 59;
    background: #fff;
    height: 54px;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .tab-bar-items {
    height: 54px;
    width: 100%;
  }
  .tab-bar-item {
    overflow: hidden;
    height: 100%;
  }
  .tab-bar-item a {
    height: 100%;
    color: rgba(176, 179, 184, 1);
  }
  .tab-bar-item a.md-button {
    margin: 0;
    padding: 0;
    border-radius: 0;
    line-height: normal;
    font-weight: 400;
  }
  .tab-bar-item a.md-button .md-ripple-container {
    border-radius: 0;
  }
  .tab-bar-item a.active {
    color: $primary-color;
  }
  .tab-bar-item .title {
    font-size: 12px;
  }
}

.customer {
  .map-content {
    .angular-google-map-container {
      width: 100%;
      height: 400px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .customer {
    .content-wrapper {
      background-color: #fff;
    }
    .content {
      .container {
        background: #fff;
        margin: 0;
        box-shadow: none;
      }
      .container-title {
        display: none;
      }
      .container-content {
        padding: 20px;
      }
      .container-content p {
        font-weight: 600;
      }
    }
    .profile-content {
      .profile-left {
        width: 170px;
      }
      .avatar {
        border-radius: 50%;
        box-shadow: none;
        width: 170px;
        height: 170px;
      }
      .profile-right {
        margin-left: 0;
      }
      .profile-right h1 {
        margin-top: 22px;
        margin-bottom: 16px;
      }
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {
  .customer {
    .tab-bar {
      width: 100%;
    }
  }
}