@import 'customer-registration';

.customer {
  .request-content {

    .custom-date {
      max-height: 60px;
    }

    sup {
      margin-left: 4px;
      color: rgb(140, 0, 0);
    }

    .warning-message {
      font-size: 12px;
      line-height: 14px;
      color: rgb(221, 44, 0);
    }

  }

  .tab-bar {
    position: fixed;
    bottom: 0;
    width: calc(100% - 240px);
    z-index: 59;
    background: #fff;
    height: 54px;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }

  .tab-bar.full {
    width: 100%;
  }

  .tab-bar-items {
    height: 54px;
    width: 100%;
  }

  .tab-bar-item {
    overflow: hidden;
    height: 100%;

    .title {
      font-size: 12px;
    }

    a {
      height: 100%;
      color: rgba(176, 179, 184, 1);
    }

    a.md-button {
      margin: 0;
      padding: 0;
      border-radius: 0;
      line-height: normal;
      font-weight: 400;
    }

    a.md-button .md-ripple-container {
      border-radius: 0;
    }

    a.active {
      color: $primary-color;
    }

  }

  .view-content {

    .title {
      margin-bottom: 15px;
    }

    .info-row {
      padding-left: 20px;
    }

    .info-column {
      padding: 6px 0 6px 0;
      font-size: 18px;
    }

    .divider {
      margin: 30px 0 20px 0;
    }

    .provider-info {

      .photo {
        width: 56px;
        height: 56px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background-size: cover;
      }

      .name {
        font-size: 18px;
        font-weight: 500;
        padding-left: 24px;
      }

      .cost {
        font-size: 18px;
        font-weight: 600;
      }

      .button-done {
        background: #27ad26;
        min-width: 60px;
      }

      .button-not-done {
        background: #ff2432;
        min-width: 60px;
      }

      .button-done .material-icons, .button-not-done .material-icons {
        color: #fff;
      }

    }

  }

  .recommended-content {
    .actions {
      font-size: 15px;

      md-checkbox {
        margin: 0;
      }
    }

    .star-rating {
      color: rgba(29, 177, 239, 1);
    }

    .md-media-md {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-size: cover;
    }

    .status {
      color: #4CAF50;
      text-transform: uppercase;
    }

    .status.not-available {
      color: #B71C1C;
    }

    md-card-actions .md-button {
      color: $primary-color;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 960px) {

  .customer {

    .tab-bar {
      width: 100%;
    }

  }
}