.login {

  background-image: linear-gradient(to top, rgba(1, 91, 163, 1) 0%, rgba(3, 129, 227, 1) 33%);
  height: 100%;

  .form-wrapper {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    max-width: 274px;
  }

  .login-form {
    //min-width: 320px;
    //max-width: 384px;
    padding: 32px 32px 14px 32px;

    .md-button[type="submit"] {
      width: 100%;
      margin: 16px auto;
      background-color: $primary-color;
      color: #fff;
    }
  }

  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: $primary-color;
  }

  .social-wrapper {
    background: url('https://goo.gl/YbktSj');
    background-size: cover;
    background-position: center;
    height: 548px;
    padding: 32px;
    color: #fff;
  }
  .social-button-wrapper {
    height: 400px;
  }

  .grey-small, .forgot-password {
    cursor: pointer;
  }

  .grey-small {
    color: gray;
    font-size: smaller;
  }

  .registration-buttons-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .join-span {
    cursor: default;
  }

  .join-button {
    min-width: 110px;
    color: royalblue;

    &:hover {
      color: royalblue;
    }
  }
}

.login-header {
  .page-name {
    margin-left: -106px;
  }
}

@media only screen and (max-device-width: 600px) {
  .login {
    .registration-name.social {
      font-size: 32px;
      text-align: center;
    }

    .registration-buttons-wrapper {
      display: flex;
      justify-content: space-around;
    }
  }

  .login-header {
    .page-name {
      margin-left: -40px;
    }
  }
}