/* !ToDo: Moved from _customer.scss. Need refactoring. */
.chat-map {
  height: 250px;
}

.map-wrapper {
  background: url('../images/spinner_color.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.view-content {
  .container-content {
    .map-wrapper {
      min-height: 250px;
    }
  }
}

.map-viewer {
  position: relative;
  width: 100%;

  &.full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  > .angular-google-map {
    position: absolute;
    width: 100%;
  }
}

.angular-google-map,
.angular-google-map-container {
  height: 100%;
}

.angular-google-map-container {
  .action-buttons {
    margin-left: 11px;
    z-index: 10000;

    button {
      margin: 0 4px 4px 0;
      min-width: 76px;
      min-height: 34px;
      border-radius: 3px;
      letter-spacing: .01em;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }

  button {
    margin-right: 11px;
    width: 28px;
    height: 28px;
    padding: 0;
    color: $secondary-text-color;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, .3) 0 1px 4px -1px;
    border: none;

    i {
      font-size: 18px;
      line-height: 24px;
    }

    &.current-location {
      border-radius: 50px;
    }
  }
}

.container.map-content {
  min-height: 384px;

  .actions {
    font-size: 15px;

    md-checkbox {
      margin: 0;
    }
  }

  .map-wrapper {
    position: relative;
    overflow: hidden;

    .list.card.map-card {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin: 0;
      background-color: #FFF;
    }
  }

  .map-card-provider {
    padding: 10px 10px 10px 20px;

    .star-rating {
      color: rgba(29, 177, 239, 1);
    }

    .avatar {
      width: 71px;
      height: 71px;
      margin-right: 0;
    }

    .md-subhead {
      color: rgba(0, 0, 0, 0.541176);
      font-size: 14px;
      letter-spacing: .010em;
      line-height: 24px;
    }

    .status {
      font-size: 12px;
      color: #4CAF50;
      text-transform: uppercase;
    }

    .status.not-available {
      color: #B71C1C;
    }

    .message {
      width: 70px;

      .md-button {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 0;
      }
    }

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      opacity: 0.3;
      cursor: pointer;

      i.material-icons {
        font-size: 16px;
      }
    }

    .close:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-device-width: 600px) {
  .content {
    .container {
      &.map-content {
        overflow: hidden;
        min-height: 0;

        .container-content {
          padding: 0;
        }
      }
    }
  }
}
