.agreement-terms {
  height: 60vh;
  overflow-y: scroll;
}

.profile-content {

  md-input-container input.md-input {
    color: rgba(0, 0, 0, 0.87);
  }

  .divider-dot {
    padding: 0 4px 0 4px;
  }

  .avatar-wrapper {
    position: relative;
    width: 100%;
    height: 250px; // need for FF

    .photo-remove {
      position: absolute;
      top: 5px;
      right: 5px;
      color: grey;
      z-index: 1;
    }
  }

  .avatar-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .profile-avatar {
    border-radius: 0;
    background-size: cover;
    background-position: center;
  }

  .actions {
    margin-top: 12px;
    width: 100%;

    .md-button {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .profile-rating {
    line-height: 15px;
    font-size: 20px;

    .star-rating {
      color: #444;
    }

  }

  .verified {
    color: #039409;
  }

  .profile-right {

    h1 {
      margin-top: 4px;
    }

    .md-display-1 {
      word-wrap: break-word;
    }

    .section {
      padding: 10px 0 10px 0;

      .md-body-1 {
        padding-left: 5px;
        font-size: 16px;
        word-wrap: break-word;
      }

      .md-body-2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
      }

    }

    .section.first {
      margin-top: 20px;
    }

    md-tabs, md-tabs md-content {
      background-color: #fff;
    }

    md-tabs md-tab-item.md-active span {
      color: $primary-color;
    }

    md-tabs md-ink-bar {
      background-color: $primary-color;
    }

  }

  .licenses {
    display: flex;
  }

  .license-container {
    width: 100%;
  }

  .license-number {
    min-width: 50px;
  }

  .license-state {
    min-width: 50px;
  }

  mdp-date-picker {

    .md-button.md-icon-button {
      margin: 0
    }

    md-input-container {
      max-width: 100px;
      min-width: 50px;
    }

    ::-webkit-inner-spin-button {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      display: none;
    }
    ::-webkit-clear-button {
      display: none;
    }

  }

  .license-container {
    mdp-date-picker {
      .md-icon-button {
        margin-top: 15px;
      }
    }
  }

  .service-remove {
    padding-top: 23px;
    max-width: 21px;
    max-height: 58px;
    cursor: pointer;
  }

  .add-license-btn {
    margin-top: 0;
  }

  p {
    margin-top: 0;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: black;
  }

}

.profile-content.mobile {

  .profile-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: relative;
    max-width: 280px;
    background-size: cover;
  }

  .avatar-wrapper {
    position: relative;
    width: 100px;
  }

  .avatar-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 0;
    width: 0;
    height: 0;
  }

  md-dialog {
    .mdp-datepicker {
      .md-dialog-fullscreen {
        min-height: 0;
        min-width: 0;
      }
    }
  }

  .profile-left {
    width: 100%;
  }

  .actions {
    margin-top: 0;
  }

  .profile-rating {
    padding: 10px 0 10px 0;
  }

}

@media only screen and (max-device-width: 600px) {

  .wrapper .content .profile-content {
      .container-content.prof {
        padding: 0;
      }

    md-tabs-content-wrapper{
      padding: 0 10px;
    }
  }

  .profile-content {

    .profile-left {
      width: 170px;
    }

    .avatar-wrapper {
      height: 100px;
    }

    .avatar {
      border-radius: 50%;
      box-shadow: none;
      width: 170px;
      height: 170px;
    }

    .profile-right {
      margin-left: 0;
      margin-top: 10px;
      width: 100%;
    }

    .profile-right h1 {
      margin-top: 22px;
      margin-bottom: 16px;
    }

    .md-button-blue {
      line-height: normal;
    }
  }

}