.provider {
  $primary-color: rgb(3, 155, 229);

  .md-toolbar-tools {
     .button-login,
     .button-login:hover {
       background-color: $primary-color;
       color: #fff;
     }
   }

  .button-back-min, .button-login-min {
    display: none;
    min-width: 52px;
    padding: 0;
    margin: 0 !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 100%;
    height: 100%;
  }
  .button-back-min i, .button-login-min i {
    display: table-cell;
    vertical-align: middle;
    /*color: $primary-color;*/
  }

  .page-name {
    text-align: center;
    font-weight: 600;
  }

  .registration {
    background: url(https://newevolutiondesigns.com/images/freebies/google-material-design-wallpaper-2.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .form-wrapper {
    padding: 25px 0 25px 0;
  }

  .registration-form {
    min-width: 320px;
    width: 620px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
  }

  .stepper-navigation {
    height: 72px;
    min-height: 72px;
    background: #FFF;
    //box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  }

  .stepper-navigation-item::before {
    content: '';
    display: block;
    position: absolute;
    left: -12px;
    top: 50%;
    width: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  .stepper-navigation-item:last-child::after {
    display: none;
  }
  .stepper-navigation-item:first-child::before {
    display: none;
  }
  .stepper-navigation-item::after {
    right: 0;
    box-sizing: border-box;
  }
  .stepper-navigation-item {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 72px;
    min-height: 72px;
    max-height: 72px;
    line-height: 24px;
    margin: 0;
    padding: 24px 12px;
    border-radius: 0;
    cursor: pointer;
    font-size: 14px;
    text-transform: none;
    overflow: visible;
  }
  .stepper-navigation-item.current {
    display: inherit;
  }
  .stepper-navigation-item .step {
    width: 24px;
    min-width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 8px 0 16px;
    color: #FFF;
    font-weight: 600;
  }
  .stepper-navigation-item .title {
    color: rgba(0, 0, 0, .54);
    padding-right: 16px;
  }
  .stepper-navigation-item.current .title {
    color: rgba(0, 0, 0, .87);
  }
  .stepper-navigation-item.disabled .step {
    background: rgba(0, 0, 0, .12);
  }
  .stepper-navigation-item.disabled .title {
    color: rgba(0, 0, 0, .27);
  }
  .md-accent-bg {
    background-color: rgb(3, 155, 229);
    color: rgba(255, 255, 255, 1);
  }
  .stepper-navigation-item.disabled {
    cursor: default;
  }
  .md-button[disabled] {
    background-color: transparent;
  }

  .stepper-steps {
    padding: 24px 16px;
  }
  .stepper-steps p {
    font-weight: 600;
  }

  .stepper-controls {
    padding: 0 16px 16px;
  }

  .md-button.md-default-theme.md-accent.md-raised:not([disabled]) {
    color: #fff;
    background-color: $primary-color;
    box-shadow: none;
  }

  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: $primary-color;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .button-back, .button-login {
      display: none;
    }
    .button-back-min, .button-login-min {
      display: table;
    }
    .md-toolbar-tools {
      padding: 0;
    }
    .registration-form {
      padding: 20px;
    }
    .page-name {
      font-size: 17px !important;
    }
    .form-wrapper {
      padding: 0;
    }
    .stepper-steps {
      padding: 0;
    }
    .stepper-navigation-item {
      display: none;
    }
    .stepper-navigation-item::before {
      display: none;
    }
  }
}