.profile-content {

  .divider-dot {
    padding: 0 4px 0 4px;
  }

  .avatar-wrapper {
    position: relative;
    width: 100%;
  }

  .avatar-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .profile-avatar {
    border-radius: 0px;
    position: absolute;
    max-width: 280px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .actions {
    margin-top: 12px;
    width: 100%;

    .md-button {
      margin-left: 0;
      margin-right: 0;
    }

  }

  .profile-rating {
    line-height: 15px;
    font-size: 20px;

    .star-rating {
      color: #444;
    }

  }

  .verified {
    color: #039409;
  }

  .profile-right {

    h1 {
      margin-top: 4px;
    }

    .md-display-1 {
      word-wrap: break-word;
    }

    .section {
      padding: 10px 0 10px 0;

      .md-body-1 {
        padding-left: 5px;
        font-size: 16px;
        word-wrap: break-word;
      }

      .md-body-2 {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            }

    }

    .section.first {
      margin-top: 20px;
    }

  }

  .licenses {
    display: flex;
  }

  .license-container {
    width: 100%;
  }
  
  md-input-container {
    margin: 0;
  }

  .license-number {
    min-width: 50px;
    overflow: hidden;
  }

  .license-state {
    min-width: 50px;
  }

  mdp-date-picker {

    .md-button.md-icon-button {
      margin: 0
    }

    md-input-container {
      max-width: 100px;
      min-width: 50px;
      overflow: hidden;
    }

    ::-webkit-inner-spin-button {
      display: none;
    }
    ::-webkit-calendar-picker-indicator {
      display: none;
    }
    ::-webkit-clear-button {
      display: none;
    }

  }

  .service-remove {
    padding-top: 8px;
    max-width: 21px;
    max-height: 58px;

    i {
      cursor: pointer;
    }
  }

  .add-license-btn {
    margin-top: 0;
  }
  
  p {
    margin-top: 0;
  }

}

.profile-content.mobile {

  .profile-avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .avatar-wrapper {
    position: relative;
    width: 100px;
  }

  .avatar-wrapper:after {
    content: "";
    display: block;
    padding-bottom: 0px;
    width: 0px;
    height: 0px;
  }

  .profile-avatar {
    border-radius: 50%;
    position: relative;
    max-width: 280px;
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  md-dialog {
    .mdp-datepicker {
      .md-dialog-fullscreen {
        min-height: 0px;
        min-width: 0px;
      }
    }
  }

  .profile-left {
    width: 100%;
  }

  .actions {
    margin-top: 0;
  }

  .profile-rating {
    padding: 10px 0 10px 0;
  }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {

    .profile-content {

      .profile-left {
        width: 170px;
      }

      .avatar {
        border-radius: 50%;
        box-shadow: none;
        width: 170px;
        height: 170px;
      }

      .profile-right {
        margin-left: 0;
      }

      .profile-right h1 {
        margin-top: 22px;
        margin-bottom: 16px;
      }

      .md-button-blue {
        line-height: normal;
      }
    }

}