.header {

  a {
    vertical-align: middle;
    text-align: center;

    &.md-button {
      &, md-icon {
        color: $primary-color;
      }
    }
  }

  .root {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    display: flex;
    align-items: center;

    a:hover {
      color: $primary-color;
    }

    i.material-icons {
      vertical-align: middle;
      font-size: 22px;
      cursor: default;
    }
  }

  .root.bold {
    font-size: 18px;
  }

  .md-button {
    width: auto;
    height: auto;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    margin: 0;

    &.button-back {
      md-icon {
        font-size: 28px;
      }
    }

    .fa {
      width: 22px;
      height: 22px;
      min-width: 22px;
      min-height: 22px;
      font-size: 22px;
      line-height: 1;
      margin: auto;
    }
  }

  .registration {

    .button-back-min, .button-login-min {
      padding: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      text-align: center;
    }

    .button-back-min i, .button-login-min i {
      vertical-align: middle;
      text-align: center;
      /*color: $primary-color;*/
    }
  }
}

@media only screen and (max-device-width: 600px) {
  .menu {
    .md-toolbar-tools {
      padding: 2px;
    }

    .md-toolbar-tools > .md-button:first-child {
      margin-left: 0;
    }

    .md-toolbar-tools > .md-button:last-child {
      margin-right: 0;
    }
  }
}