$success-color: #66BB6A;
$warning-color: #FFB74D;
$error-color: #EF5350;
$primary-color: rgb(3, 155, 229);
$text-color: rgba(0, 0, 0, .87);
$panel-background-color: rgb(245, 245, 245);

h2.page-name {
  text-align: center;
  font-weight: 300;
  font-size: 26px;
}

.primary-color {
  color: $primary-color;
}

.text-capitalize {
  text: {
    transform: capitalize;
  }
}

.m-w-xs {
  margin-right: 5px;
  margin-left: 5px;
}

.m-t-xs {
  margin-top: 5px;
}

.m-r-xs {
  margin-right: 5px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-l-xs {
  margin-left: 5px;
}

.m-t-none {
  margin-top: 0;
}

.m-r-none {
  margin-right: 0;
}

.m-b-none {
  margin-bottom: 0;
}

.m-l-none {
  margin-left: 0;
}

.disabled {
  md-input-container .md-input,
  md-select .md-select-value {
    margin-bottom: -1px;
    background-position: 0 bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.26) 100%);
  }
}

.login-dialog, .invite-dialog {
  .md-input-messages-animation {
    max-width: 200px;
  }
  md-dialog-actions {
    padding-left: 0;
  }
  .button-login,
  .button-login:hover {
    background-color: $primary-color;
    color: #FFF;
  }
  .md-input-message-animation {
    width: 195px;
  }
}

md-input-container {
  &.md-default-theme:not(.md-input-invalid),
  &:not(.md-input-invalid) {
    &.md-input-focused {
      .md-input {
        border-color: rgb(45, 50, 62);
      }
    }
  }
}

.md-accent-bg {
  background-color: $primary-color;
  color: #FFF;
}

md-content.md-hue-2 {
  color: $text-color;
  background-color: $panel-background-color;
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.text-truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  h2.page-name {
    font-size: 19px;
  }
}

@import 'toast';
@import 'icons';
@import 'md-select';
@import 'reset';
@import 'provider';
@import 'customer';
@import 'chat';