$success-color: #66BB6A;
$warning-color: #FFB74D;
$error-color: #EF5350;
$primary-color: rgb(3, 155, 229);
$text-color: rgba(0, 0, 0, .87);
$secondary-text-color: rgba(0, 0, 0, .54);
$disabled-color: rgba(0, 0, 0, 0.38);
$disabled-background-color: rgba(0, 0, 0, 0.12);
$panel-background-color: rgb(245, 245, 245);

.primary-color {
  color: $primary-color;
}

.text-capitalize {
  text: {
    transform: capitalize;
  }
}

.has-error {
  color: $error-color;
}

.block-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.md-button {
  &.md-button-blue {

    &, &:not([disabled]), &.md-fab {

      &, md-icon {
        color: #fff;
      }

      &, &:focus {
        background-color: $primary-color;
      }

      &:hover {
        background-color: rgb(0, 145, 234);
      }
    }

    &.md-button-outline {
      border-color: $primary-color;

      &, md-icon {
        color: $primary-color;
      }

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  &.md-button-green {
    &, &:not([disabled]), &.md-fab {

      &, md-icon {
        color: #fff;
      }

      &, &:focus {
        background-color: $success-color;
      }

      &:hover {
        background-color: #4CAF50;
      }
    }

    &.md-button-outline {
      border-color: $success-color;

      &, md-icon {
        color: $success-color;
      }

      &:hover {
        background-color: $success-color;
      }
    }
  }

  &.md-button-red {
    &, &:not([disabled]), &.md-fab {
      &, md-icon {
        color: #fff;
      }

      &, &:focus {
        background-color: $error-color;
      }

      &:hover {
        background-color: #F44336;
      }
    }

    &.md-button-outline {
      border-color: $error-color;

      &, md-icon {
        color: $error-color;
      }

      &:hover {
        background-color: $error-color;
      }
    }
  }

  &.md-button-outline {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;

    &:hover {
      &, md-icon {
        color: #fff;
      }
    }
  }

  &.md-fab {
    &.md-button-mini {
      width: 34px;
      height: 34px;

      md-icon {
        min-width: 10px;
        min-height: 10px;

        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  &.md-button-mini {
    min-width: 10px;
    min-height: 10px;
    line-height: 10px;
    font-size: 10px;
  }

  .disabled &, &[disabled], &.disabled {
    &, &:hover, &:focus {
      cursor: default;
      background-color: $disabled-background-color !important;
      color: $disabled-color !important;

      .md-ripple-container {
        display: none;
      }
    }
  }
}

.disabled {
  md-input-container .md-input,
  md-select .md-select-value {
    margin-bottom: -1px;
    background-position: 0 bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0.26) 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.26) 100%);
  }
}

.login-dialog, .invite-dialog {
  .md-input-messages-animation {
    max-width: 200px;
  }
  md-dialog-actions {
    padding-left: 0;
  }

  .md-input-message-animation {
    width: 195px;
  }
  .social-buttons {
    width: 100%;
  }
  .social-button {
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    text-transform: none;
    color: #fff;
    margin-top: 0;
    margin-left: 4px;
    margin-bottom: 3px;
  }
  .social-button.facebook, .social-button.facebook:hover {
    background-color: rgba(60, 91, 152, 1);
  }
  .social-button.google, .social-button.google:hover {
    background-color: rgba(240, 87, 67, 1);
  }
  .social-button.twitter, .social-button.twitter:hover {
    background-color: rgba(29, 169, 251, 1);
  }
}

.login-dialog {
  md-dialog-actions {
    min-height: 170px;
  }
}

md-input-container {
  &.md-default-theme:not(.md-input-invalid),
  &:not(.md-input-invalid) {
    &.md-input-focused {
      .md-input {
        border-color: rgb(45, 50, 62);
      }
    }
  }

  &.hide-error-msg {
    .md-errors-spacer {
      min-height: 0;
    }
  }
}

.md-accent-bg {
  background-color: $primary-color;
  color: #FFF;
}

.md-accent-fg {
  color: $primary-color;
}

.md-primary-bg {
  color: rgba(255, 255, 255, 1);

  &.md-hue-2 {
    background-color: $primary-color;
  }

  &.md-hue-3 {
    background-color: rgb(92, 97, 111);
  }
}

md-content {
  &.md-hue-2 {
    color: $text-color;
    background-color: $panel-background-color;
  }
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-truncate-multiline {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* start scroll */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-track-piece {
  background-color: #F3F4F5;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-corner {
  background-color: #F3F4F5;
}

/* common */

*:focus {
  outline: none;
  border: 0;
}

.avatar-wrapper {
  position: relative;
}

.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position-x: center;

  &.mid {
    width: 54px;
    min-width: 54px;
    height: 54px;
    line-height: 54px;
  }

  &.huge {
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
  }

  &.biggest {
    width: 120px;
    min-width: 120px;
    height: 120px;
    line-height: 120px;
  }

}

.star-rating {
  cursor: pointer;
  white-space: nowrap;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline;

      i {
        font-size: inherit;
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
      }
    }
  }
}

.status-icon {
  position: absolute;
  top: 26px;
  left: 30px;
  border-radius: 50%;
  background-color: #FFF;
  color: $success-color;

  &.unavailable {
    color: #FFF;
    background-color: $warning-color;
  }
}

.infinite-scroll-wrapper {
  height: 100%;
  overflow: hidden;

  .container {
    height: calc(100% - 60px);

    .container-content {
      height: calc(100% - 49px);
      box-sizing: border-box;
    }
  }

  .infinite-scroll-container {
    max-height: 100%;
    overflow: auto;
  }
}

@import 'toast';
@import 'icons';
@import 'md-select';
@import 'reset';
@import 'registration';
@import 'customer';
@import 'group';
@import 'admin';
@import 'chat';
@import 'animation';
@import 'public-profile';
@import 'profile';
@import 'user-header';
@import 'user-menu';
@import 'layout';
@import 'list-content';
@import 'tab-bar';
@import 'maps';
@import 'md-dialog';
@import 'margins-and-paddings';
@import 'group-members';