<div ng-hide="vm.isEditing" flex="100">
    <div layout="column"
         layout-gt-xs="row"
         layout-align="center center"
         layout-align-gt-xs="start center">
        <div class="md-display-1">
            <span class="vertical-middle" ng-bind="vm.userProfile.groups[0].title"></span>
            <i class="material-icons vertical-middle verified"
               ng-if="vm.userProfile.isPro">
                verified_user
            </i>
        </div>
        <div class="profile-rating"
             flex
             layout="row"
             layout-align="center center"
             layout-align-gt-xs="end center">
            <star-rating value="vm.userProfile.rating" readonly></star-rating>
        </div>
    </div>
    <div class="section first">
        <span class="md-body-2" translate>ADMIN</span><span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.fullName"></span>
    </div>
    <div class="section">
        <span class="md-body-2" translate>EMAIL</span><span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.auth.email"></span>
    </div>
    <div class="section">
        <span class="md-body-2" translate>PHONE</span><span>:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.phoneNumber"></span>
    </div>
    <div class="section" layout="row">
        <span class="md-body-2" translate>LICENSES</span><span>:</span>
        <div layout="column">
            <div layout="row" ng-repeat="license in vm.userProfile.licenses track by $index">
                <span class="md-body-1" ng-bind="vm.userProfile.licenses[$index].number"></span>
                &nbsp;<span translate>UNTIL</span>
                <span class="md-body-1" ng-bind="vm.userProfile.licenses[$index].date | date: 'MM/dd/yyyy'"></span>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.isEditing">
    <form name="editForm"
          novalidate
          ng-submit="vm.updateUser(vm.userProfile, editForm.$valid)">
        <p><span translte>NAME</span><span>:</span> <sup>*</sup></p>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>FIRST NAME</label>
                <input name="firstName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.firstName">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label translate>LAST NAME</label>
                <input name="lastName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.lastName">
            </md-input-container>
        </div>
        <p><span translate>EMAIL</span><span>:</span> <sup>*</sup></p>
        <md-input-container class="md-block" flex>
            <label translate>EMAIL</label>
            <input name="email"
                   required
                   email-validation
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.userProfile.auth.email">
            <div ng-messages="editForm.email.$error">
                <div ng-message="email" translate>INVALID EMAIL</div>
                <div ng-message="availability" translate>EMAIL ALREADY EXIST</div>
            </div>
        </md-input-container>
        <p><span translate>PHONE NUMBER</span><span>:</span> <sup>*</sup></p>
        <md-input-container class="md-block" flex>
            <label translate>PHONE NUMBER</label>
            <input type="tel"
                   name="phoneNumber"
                   required
                   ui-us-phone-number
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.userProfile.phoneNumber">
            <div ng-messages="editForm.phoneNumber.$error">
                <span ng-message="usPhoneNumber" translate>INVALID PHONE</span>
                <span ng-message="availability" translate>PHONE EXIST</span>
            </div>
        </md-input-container>
        <p><span translate>LICENSE INFORMATION</span><span>:</span> <sup>*</sup></p>
        <div class="licenses"
             ng-repeat="license in vm.userProfile.licenses track by $index">
            <div layout-gt-xs="column" class="license-container">
                <div layout="row">
                    <md-input-container class="md-block license-number">
                        <label translate>LICENSE NUMBER</label>
                        <input type="text"
                               name="licenseNumber"
                               required
                               ng-model="vm.userProfile.licenses[$index].number">
                        <div ng-messages="editForm.licenseNumber.$error">
                            <div ng-message="required" translate>ENTER LICENSE</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block license-state"
                                        flex="100"
                                        flex-gt-xs="30">
                        <label translate>STATE</label>
                        <md-select role="listbox"
                                   name="state"
                                   required
                                   ng-model="vm.userProfile.licenses[$index].state">
                            <md-option ng-repeat="state in vm.states"
                                       ng-value="state.id">
                                <span ng-bind="::state.state"></span>
                            </md-option>
                        </md-select>
                        <div ng-messages="editForm.state.$error">
                            <div ng-message="required" translate>STATE IS REQUIRED</div>
                        </div>
                    </md-input-container>
                    <mdp-date-picker name="licenseDate"
                                     mdp-placeholder="Expiration"
                                     mdp-min-date="vm.datePickerOptions.minDate"
                                     date-formatter
                                     ng-required
                                     ng-model="vm.userProfile.licenses[$index].date">
                    </mdp-date-picker>
                    <div class="validation-messages"
                         ng-messages="editForm.licenseDate.$error">
                        <div ng-message="valid" translate>NOT A DATE</div>
                        <div ng-message="mindate" translate>DATE IS TOO EARLY</div>
                    </div>
                    <div class="service-remove"
                         flex="100"
                         flex-gt-xs="5"
                         layout="column"
                         layout-align="start center"
                         ng-click="vm.removeLicenseForm($index)"
                         ng-if="vm.userProfile.licenses.length > 1">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>
        </div>
        <div layout-gt-xs="row">
            <md-button class="add-license-btn"
                       translate
                       ng-click="vm.addLicenseForm()">
                ADD LICENSE
            </md-button>
        </div>
        <md-button type="submit"
                   class="md-raised md-warn"
                   aria-label="Save"
                   translate
                   ng-if="vm.isEditing">
            SAVE
        </md-button>
    </form>
</div>