<div class="home-inner">

  <div layout="column" class="home-first">
    <div layout-align="center center" layout="column" flex-xs="25">
      <h1 translate>Lockheal Commission Schedule</h1>
    </div>
  </div>

  <div class="block" layout="column">
    <div class="item">
      <div layout="row" layout-align="center start">
        <div flex="50" flex-xs="100" layout-margin>
          <div ng-include="'layout/legal/content/commission.html'"></div>
        </div>
      </div>
    </div>
  </div>

</div>