<div class="registration">
  <md-toolbar class="md-menu-toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <a class="md-button button-back"
         layout="row"
         layout-align="center center"
         aria-label="Go Back"
         ui-sref="login">
        <md-icon>navigate_before</md-icon>
        <span hide-xs="" translate>SIGN_IN</span>
      </a>
      <div layout="row" layout-align="center center" flex>
        <h2 class="page-name" translate>REGISTRATION</h2>
      </div>
    </div>
  </md-toolbar>
</div>