

<md-toolbar class="chat-toolbar" ng-include="vm.currentUser.type === vm.userType.CLIENT ?
       'chat/components/chat-messages/bid-content-customer.html' :
       'chat/components/chat-messages/bid-content-specialist.html'">

</md-toolbar>
<md-content class="chat-content"
            flex
            layout="column"
            layout-align="end center">
  <message-bid class="service-message"
               chats="vm.chats"
               bids="vm.bids"
               current-bid="vm.currentBid"
               current-user="vm.currentUser"
               current-chat="vm.currentChat"
               current-request="vm.currentRequest"
               selected-tab="vm.selectedTab"
               accept-offer="vm.acceptOffer(offer, message)">
  </message-bid>
</md-content>