<md-toolbar class="chat-toolbar">
  <div class="md-toolbar-tools">
    <md-button class="hide-gt-md responsive-chats-button md-icon-button"
               aria-label="chats button"
               flex="none"
               ng-click="vm.toggleSidenav({ navID: 'left-sidenav' })">
      <i class="material-icons s28">textsms</i>
    </md-button>
    <div class="chat-contact"
         ng-if="vm.currentBid.specialist.id"
         ng-click="vm.toggleSidenav({ navID: 'right-sidenav' })">
      <div layout="row"
           layout-align="start center"
           ng-if="vm.currentUser.type === vm.userType.CLIENT">
        <div class="avatar-wrapper">
          <div class="avatar"
               ng-style="{ 'background-image': 'url(' + (vm.currentBid.specialist.portrait ?
             vm.baseUrl + vm.currentBid.specialist.portrait : vm.defaultPortrait) + ')' }">
          </div>
          <i class="material-icons s14 status"
             ng-if="vm.currentBid.specialist.details.isAvailable">check_circle
          </i>
          <i class="material-icons s14 status unavailable"
             ng-if="!vm.currentBid.specialist.details.isAvailable">schedule
          </i>
        </div>
        <div class="chat-contact-name">
          <span ng-bind="vm.currentBid.specialist.fullName"></span>
        </div>
      </div>
      <div layout="row"
           layout-align="start center"
           ng-if="vm.currentUser.type !== vm.userType.CLIENT">
        <div class="avatar-wrapper">
          <div class="avatar"
               ng-style="{ 'background-image': 'url(' + (vm.currentBid.client.portrait ?
               vm.baseUrl + vm.currentBid.client.portrait : vm.defaultPortrait) + ')' }">
          </div>
        </div>
        <div class="chat-contact-name">
          <span ng-bind="vm.currentBid.client.fullName"></span>
        </div>
      </div>
    </div>
    <md-menu md-position-mode="target-right target">
      <md-button class="md-icon-button"
                 aria-label="more"
                 ng-click="$mdOpenMenu()">
        <i class="material-icons">more_vert</i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="vm.toggleSidenav({ navID: 'right-sidenav' })"
                     aria-label="vm.currentUser.type === vm.userType.CLIENT ? 'Contact Info' : 'Request Info'">
            <span ng-bind="vm.currentUser.type === vm.userType.CLIENT ? 'Contact Info' : 'Request Info'"></span>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.closeChat()">Close Bid</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-content class="chat-content"
            flex
            layout="column"
            layout-align="end center">
  <message-bid class="service-message"
               chats="vm.chats"
               bids="vm.bids"
               current-bid="vm.currentBid"
               current-user="vm.currentUser"
               current-chat="vm.currentChat"
               current-request="vm.currentRequest"
               selected-tab="vm.selectedTab"
               accept-offer="vm.acceptOffer(offer, message)">
  </message-bid>
</md-content>