<div class="chat"
     flex
     layout="column"
     ng-if="(vm.selectedTab === 'bids' && vm.currentBid) || vm.currentChat">
  <div flex
       layout="column"
       layout-align="space-between stretch"
       ng-include="vm.selectedTab === 'bids' && vm.currentBid ?
       'chat/components/chat-messages/bid-content.html' :
       'chat/components/chat-messages/chat-content.html'">
  </div>
  <div class="chat-footer flex-noshrink"
       flex
       layout="row"
       layout-align="center center">
    <form class="reply-form"
          name="replyForm"
          flex
          layout="row"
          layout-align="start center"
          ng-submit="vm.reply(null, vm.replyMessage[vm.currentChat.id], vm.currentChat)">
      <md-input-container flex md-no-float>
              <textarea placeholder="Type and hit enter to send message"
                        md-no-autogrow
                        ng-if="vm.selectedTab === 'chats' || !vm.currentBid"
                        ng-class="{ 'grow': vm.textareaGrow[vm.currentChat.id] }"
                        ng-keydown="vm.reply($event, vm.replyMessage[vm.currentChat.id], vm.currentChat)"
                        ng-model="vm.replyMessage[vm.currentChat.id]">
              </textarea>
      </md-input-container>
      <div layout="row" layout-xs="column" layout-align=" center center"
           ng-class="{ disabled: (vm.selectedTab === 'bids' && vm.currentBid) || vm.isChatDisabled() }">
        <md-button type="button"
                   class="md-button-blue md-mini"
                   aria-label="Load Photo"
                   file-uploader
                   file-uploader-disabled="(vm.selectedTab === 'bids' && vm.currentBid) || vm.isChatDisabled()"
                   auto-upload="true"
                   upload-file-url="{{ vm.baseUrl + '/api/chats/' + vm.currentChat.id + '/messages/file' }}"
                   is-single-file="true"
                   allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                   max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                   on-file-loaded="vm.onFileLoaded(file)">
          <i class="material-icons">photo</i>
        </md-button>
        <md-button type="submit"
                   class="md-button-blue md-fab"
                   aria-label="Send Message"
                   ng-if="!vm.isMicrophoneAllowed || !!vm.replyMessage[vm.currentChat.id]">
          <i class="material-icons">send</i>
        </md-button>
        <md-button type="button"
                   class="md-button-blue md-fab mic"
                   aria-label="Voice Typing"
                   ng-if="vm.isMicrophoneAllowed && !vm.replyMessage[vm.currentChat.id]"
                   ng-click="vm.startSpeechRecognition()">
          <div>
            <i class="material-icons">mic</i>
            <div class="animated pulse"
                 ng-if="vm.recognizing">
            </div>
          </div>
        </md-button>
      </div>
    </form>
  </div>
</div>