<div class="chat"
     flex
     layout="column"
     ng-if="(vm.selectedTab === 'bids' && vm.currentBid) || vm.currentChat">
  <div flex
       layout="column"
       ng-include="vm.selectedTab === 'bids' && vm.currentBid ?
                         'chat/components/chat-messages/bid-content.html' :
                         'chat/components/chat-messages/chat-content.html'">
  </div>
  <div class="chat-footer flex-noshrink"
       flex
       layout="row"
       layout-align="center center">
    <form class="reply-form"
          name="replyForm"
          flex
          layout="row"
          layout-align="start center"
          ng-submit="vm.reply(null, vm.replyMessage[vm.currentChat.id], vm.currentChat, vm.currentRequest)">
      <md-input-container flex md-no-float>
              <textarea placeholder="Type and hit enter to send message"
                        md-no-autogrow
                        ng-if="vm.selectedTab === 'chats' || !vm.currentBid"
                        ng-class="{ 'grow': vm.textareaGrow[vm.currentChat.id] }"
                        ng-keydown="vm.reply($event, vm.replyMessage[vm.currentChat.id], vm.currentChat, vm.currentRequest)"
                        ng-model="vm.replyMessage[vm.currentChat.id]">
              </textarea>
      </md-input-container>
      <div ng-class="{ disabled: (vm.selectedTab === 'bids' && vm.currentBid) ||
                       vm.currentRequest.status === vm.requestStatus.CLOSED ||
                      (vm.currentRequest.status !== vm.requestStatus.NEW && vm.currentRequest.executor.id !== vm.currentChat.specialist.id) }">
        <md-button type="button"
                   class="md-button-blue md-fab md-mini"
                   aria-label="Load Photo"
                   file-uploader
                   auto-upload="true"
                   upload-file-url="{{ vm.baseUrl + '/api/chats/' + vm.currentChat.id + '/messages/file' }}"
                   is-single-file="true"
                   allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                   max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                   on-file-loaded="vm.onFileLoaded(file)">
          <i class="material-icons">insert_photo</i>
        </md-button>
        <md-button type="submit"
                   class="md-button-blue md-fab"
                   aria-label="Send Message">
          <i class="material-icons">send</i>
        </md-button>
      </div>
    </form>
  </div>
</div>