<md-dialog class="send-offer" aria-label="Payment">
    <md-toolbar class="md-menu-toolbar md-default-theme">
        <div class="md-toolbar-tools">
            <h2>Payment</h2>
            <span flex></span>
            <md-button class="md-icon-button"
                       aria-label="Close Dialog"
                       ng-click="vm.cancel()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-radio-group
                    class="md-primary"
                    name="location"
                    required
                    ng-model="vm.selectPayWithNew">
                <md-radio-button ng-value="false" ng-if="vm.customerCardNumber">Pay with your card: <span>***</span><span class="md-body-1" ng-bind="vm.customerCardNumber"></span>
                </md-radio-button>

            <md-radio-button ng-value="true" ng-if="vm.customerCardNumber">Link new card and pay:</md-radio-button>
            <div ng-if="vm.selectPayWithNew">
                <form name="txnForm"
                      novalidate
                      ng-submit="vm.payWithNew(vm.txnData, txnForm.$valid)">
                    <div>
                        <md-input-container class="md-block" flex="50">
                            <label>Number</label>
                            <input name="number"
                                   required
                                   ng-maxlength="16"
                                   ng-model="vm.txnData.number">
                        </md-input-container>
                        <md-input-container class="md-block" flex="20">
                            <label>CVV</label>
                            <input name="cardCvv"
                                   required
                                   ng-maxlength="3"
                                   ng-model="vm.txnData.cvv">
                        </md-input-container>
                        <md-input-container class="md-block" flex="30">
                            <label>Expiration</label>
                            <input name="expiration"
                                   required
                                   ng-maxlength="4"
                                   ng-model="vm.txnData.expiration">
                        </md-input-container>
                    </div>
                    <md-button type="submit"
                               class="md-raised md-warn"
                               aria-label="PAY">
                        PAY
                    </md-button>
                </form>
            </div>
            </md-radio-group>
            <md-button
                   class="md-raised md-warn"
                   ng-click="vm.payWithLinked()"
                   aria-label="PAY" ng-if="vm.selectPayWithNew == false">PAY</md-button>
    </div>
    </md-dialog-content>
</md-dialog>
