<md-dialog class="send-offer" aria-label="Send Bid">
  <form role="form"
        name="sendBidForm"
        novalidate
        ng-submit="vm.createBid(vm.bid, sendBidForm.$valid)">
    <md-toolbar class="md-menu-toolbar md-default-theme">
      <div class="md-toolbar-tools">
        <h2 translate>SEND_BID</h2>
        <span flex></span>
        <md-button class="md-icon-button"
                   aria-label="Close Dialog"
                   ng-click="vm.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label translate>MESSAGE</label>
            <input type="text"
                   name="message"
                   ng-model="vm.bid.message">
          </md-input-container>
        </div>
        <div layout="row" ng-if="vm.currentUserType === vm.userTypes.SPECIALIST">
          <md-input-container class="md-block" flex>
            <label translate>COST_(USD)</label>
            <input type="number"
                   name="cost"
                   ng-pattern="/^[1-9][0-9]*$/"
                   ng-model="vm.bid.cost">
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <button type="submit"
              class="md-button md-button-blue"
              translate>SEND_BID
      </button>
      <button type="button"
              class="md-button"
              ng-click="vm.cancel()"
              translate>CANCEL
      </button>
    </md-dialog-actions>
  </form>
</md-dialog>