<md-card class="service-message">
  <md-card-content class="message-content">
    <div class="message"
         layout="row">
      <div flex
           ng-bind="vm.message.message">
      </div>
      <div class="subtitle"
           ng-bind="vm.message.createdAt | altDate">
      </div>
    </div>
    <div class="price md-primary-bg md-hue-2"
         layout="column"
         layout-align="start center">
      <div layout="row"
           layout-align="center start">
        <div class="value">
          cost:
        </div>
        <div class="currency">$</div>
        <div layout="row" layout-align="center end">
          <div class="value" ng-bind="vm.message.cost"></div>
        </div>
      </div>
      <div class="value m-t-xs">Accepted</div>
    </div>
    <div class="request-info"
         layout="column"
         layout-align="start none">
      <div layout="row"
           layout-align="end none">
        <div>Created:</div>
        <div flex
             ng-bind="vm.currentRequest.createdAt | altDate">
        </div>
      </div>
      <div layout="row"
           layout-align="end none">
        <div>For Date:</div>
        <div flex
             ng-bind="vm.currentRequest.forDate ? (vm.currentRequest.forDate | date: vm.dateFormat) : 'Now'">
        </div>
      </div>
      <div layout="row"
           layout-align="end none"
           ng-if="vm.currentRequest.location.address">
        <div>Address:</div>
        <div flex
             ng-bind="vm.currentRequest.location.address">
        </div>
      </div>
      <div layout="row"
           layout-align="end none"
           ng-if="vm.currentRequest.location">
        <div>Distance:</div>
        <div flex
             ng-bind="vm.currentRequest.location | distance">
        </div>
      </div>
      <div layout="row"
           layout-align="end none">
        <div>Needed Service:</div>
        <div flex
             ng-bind="vm.currentRequest.serviceType.name">
        </div>
      </div>
      <div layout="row"
           layout-align="end none"
           ng-if="vm.currentRequest.language.name">
        <div>Language:</div>
        <div flex
             ng-bind="vm.currentRequest.language.name">
        </div>
      </div>
      <div layout="row"
           layout-align="end none"
           ng-if="vm.currentRequest.description">
        <div>Description:</div>
        <div class="description"
             flex
             ng-bind="vm.currentRequest.description">
        </div>
      </div>
    </div>
    <md-content class="chat-map" layout="column">
      <specialist-map-viewer class="map-viewer"
                             layout="column"
                             flex
                             selected-request="vm.currentRequest"
                             map-options="vm.mapOptions">
      </specialist-map-viewer>
    </md-content>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ng-if="vm.currentRequest.status === vm.requestStatus.PENDING"
               ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.IN_PROGRESS)">Start
    </md-button>
    <div ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.DONE)">Done</md-button>
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.PENDING)">Pause</md-button>
    </div>
  </md-card-actions>
</md-card>