<md-card class="service-message">
  <md-card-content class="message-content">
    <div class="message"
         layout="row">
      <div flex
           ng-bind="vm.message.message">
      </div>
      <div class="subtitle"
           ng-bind="vm.message.createdAt | altDate">
      </div>
    </div>

    <div class="price md-primary-bg md-hue-2"
         layout="row"
         layout-align="center start">
      <div class="value">
        cost:
      </div>
      <div class="currency">$</div>
      <div layout="row" layout-align="center end">
        <div class="value" ng-bind="vm.message.cost"></div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout="row"
                   layout-align="end center"
                   ng-if="vm.currentUser.type === vm.userType.CLIENT"
                   ng-class="{ 'disabled': vm.currentRequest.status !== vm.requestStatus.NEW }">
    <md-button ng-click="vm.acceptOffer(vm.message, vm.currentRequest)">Accept</md-button>
  </md-card-actions>
</md-card>