<div class="md-padding message-row"
     layout="row"
     layout-align="start end"
     ng-class="{ 'user': vm.message.sender.id === vm.currentUser.id }">
  <div class="avatar"
       ng-style="{ 'background-image': 'url(' + (vm.message.sender.portrait ?
       vm.baseUrl + vm.message.sender.portrait : vm.defaultPortrait) + ')' }"
       ng-click="vm.showChatMemberInfo(vm.message.sender)">
  </div>
  <div class="bubble">
    <message-translator message="vm.message" ng-hide="vm.isImage"></message-translator>
    <div class="message"
         ng-if="!vm.isImage">
      <span ng-bind="vm.message.message"></span>
    </div>
    <a class="message-image"
       ng-href="{{ vm.baseUrl + vm.message.message }}"
       target="_blank"
       ng-if="vm.isImage">
      <div ng-style="{ 'background-image': 'url(' + vm.baseUrl + vm.message.message + ')' }"></div>
    </a>
    <div class="time secondary-text">
      <span class="m-r-sm"
            ng-if="vm.message.sender.id !== vm.currentUser.id"
            ng-bind="vm.message.sender.fullName"></span>
      <span ng-bind="vm.message.updatedAt | altDate"></span>
    </div>
  </div>
</div>