<md-card class="service-message">
  <md-card-content class="message-content">
    <message-translator message="vm.message"></message-translator>
    <div class="message"
         layout="row">
      <div flex
           ng-bind="vm.message.message">
      </div>
      <div class="subtitle"
           ng-bind="vm.message.createdAt | altDate">
      </div>
    </div>
    <div class="price md-primary-bg md-hue-2"
         layout="column"
         layout-align="start center">
      <div layout="row"
           layout-align="center start">
        <div class="value">
          <span translate>COST</span>:
        </div>
        <div class="currency">$</div>
        <div layout="row" layout-align="center end">
          <div class="value" ng-bind="vm.message.cost"></div>
        </div>
      </div>
      <div class="value m-t-xs" translate>ACCEPTED</div>
    </div>
    <div ng-if="vm.currentRequest.executor.id === vm.currentUser.id">
      <div class="request-info"
           layout="column"
           layout-align="start none">
        <div layout="row"
             layout-align="end none">
          <div><span translate>CREATED</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.createdAt | altDate">
          </div>
        </div>
        <div layout="row"
             layout-align="end none">
          <div><span translate>FOR_DATE</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.forDate ? (vm.currentRequest.forDate | date: vm.dateFormat) : 'NOW' | translate">
          </div>
        </div>
        <div layout="row"
             layout-align="end none"
             ng-if="vm.currentRequest.location.address">
          <div><span translate>ADDRESS</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.location.address">
          </div>
        </div>
        <div layout="row"
             layout-align="end none"
             ng-if="vm.currentRequest.location">
          <div><span translate>DISTANCE</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.location | distance">
          </div>
        </div>
        <div layout="row"
             layout-align="end none">
          <div><span translate>NEEDED_SERVICE</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.serviceType.name | translate">
          </div>
        </div>
        <div layout="row"
             layout-align="end none"
             ng-if="vm.currentRequest.language.name">
          <div><span translate>LANGUAGE</span>:</div>
          <div flex
               ng-bind="vm.currentRequest.language.name">
          </div>
        </div>
        <div layout="row"
             layout-align="end none"
             ng-if="vm.currentRequest.description">
          <div><span translate>DESCRIPTION</span>:</div>
          <div class="description"
               flex
               ng-bind="vm.currentRequest.description">
          </div>
        </div>
      </div>
      <md-content class="chat-map" layout="column">
        <specialist-map-viewer class="map-viewer"
                               layout="column"
                               flex
                               selected-request="vm.currentRequest"
                               map-options="vm.mapOptions">
        </specialist-map-viewer>
      </md-content>
    </div>
  </md-card-content>
  <md-card-actions layout="row"
                   layout-align="end center"
                   ng-if="vm.currentRequest.executor.id === vm.currentUser.id">
    <md-button ng-if="vm.currentRequest.status === vm.requestStatus.PENDING"
               ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.IN_PROGRESS)">
      <span translate>START</span>
    </md-button>
    <div ng-if="vm.currentRequest.status === vm.requestStatus.IN_PROGRESS">
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.DONE)">
        <span translate>DONE</span>
      </md-button>
      <md-button ng-click="vm.changeRequestStatus(vm.currentRequest, vm.requestStatus.PENDING)">
        <span translate>PAUSE</span>
      </md-button>
    </div>
  </md-card-actions>
</md-card>