<div class="copyright-policy">
  <p>Lockheal respects the intellectual property rights of others and expects its Users to do the
  same. Lockheal may remove content that in its sole discretion appears to infringe the
  intellectual property rights of others. In addition, Lockheal in its sole and absolute
  discretion may terminate the accounts of Users who infringe the intellectual property
  rights of others. It is Lockheal’s policy in appropriate circumstances to terminate the
  account of Users for repeated infringement of intellectual property rights, including
  copyrights. If you believe that a user of the Lockheal Platform has infringed your
  intellectual property rights, please notify Lockheal’s Copyright Agent designated below,
  and provide the following information:</p>
  <p>(a) An identification of the intellectual property claimed to have been infringed;<br>
    (b) A detailed description of the material that you claim is infringing, so that we may locate
    it, including if applicable the URL where the infringing material appears;<br>
    (c) Your address, telephone number, and email address;<br>
    (d) A statement by you that you have a good faith belief that the allegedly infringing use
    is not authorized by the intellectual property rights owner, its agent, or the law;<br>
    (e) A statement, made under penalty of perjury, by you that the above information is
    accurate and that you are authorized to act on behalf of the owner of the intellectual
    property rights involved; and<br>
    (f) A physical or electronic signature of the intellectual property owner or the person
    authorized to act on behalf of the intellectual property owner.</p>
  <p>Lockheal’s Copyright Agent is Dovas Law, P.C. and can be reached at:</p>
  <p>WWW.DOVASLAW.COM<br>
    307 Bainbridge St<br>
    Philadelphia, PA 19147<br>
    Phone: 267 940 7725<br>
    Fax: 267 295 6078<br>
    Email: info@dovaslaw.com</p>
</div>