<div class="container public-profile-content"
     ng-class="{'mobile': $mdMedia('xs')}">
  <div class="container-title"><i class="material-icons">person</i> <span translate>PROFILE</span></div>
  <div class="container-content public-profile-overview"
       layout="column"
       layout-gt-xs="row"
       layout-align="start center"
       layout-align-gt-xs="start start">
    <div class="avatar-wrapper">
      <div class="profile-avatar"
           ng-style="{ 'background-image': 'url(' + (vm.userProfile.portrait ?
               vm.baseUrl + vm.userProfile.portrait : vm.defaultPortrait)           + ')' }">
      </div>
    </div>
    <div flex-gt-xs="5"></div>
    <div flex-gt-xs="70"
         class="profile-right">
      <div layout="column"
           layout-gt-xs="row"
           layout-align="center center"
           layout-align-gt-xs="start center">
        <div class="md-display-1">
          <span class="vertical-middle" ng-bind="vm.userProfile.fullName"></span>
          <i class="material-icons vertical-middle verified"
             ng-if="vm.userProfile.details.isPro">
            verified_user
          </i>
        </div>
        <div class="public-profile-rating"
             flex
             layout="row"
             layout-align="center center"
             layout-align-gt-xs="end center">
          <star-rating value="vm.userProfile.details.rating" readonly></star-rating>
        </div>
      </div>
      <div class="section first">
        <span class="md-body-2">Joined:</span>
        <span class="md-body-1" ng-bind="vm.userProfile.createdAt | date:'MM/dd/yyyy'"></span>
      </div>
      <div class="section" ng-if="vm.userProfile.details.serviceTypes.length > 0">
        <span class="md-body-2"><span translate>SERVICES</span>:</span>
            <span class="md-body-1"
                  ng-repeat="service in vm.userProfile.details.serviceTypes"
                  ng-bind="service.name | translate">
            </span>
      </div>
    </div>
  </div>
  <div class="container-title">
    <i class="material-icons">star</i>
    <span translate>FEEDBACKS</span>
    <span ng-if="vm.feedbackData.totalCount > 0">
        <span class="divider-dot">⋅</span>
        <span class="md-title" ng-bind="vm.feedbackData.totalCount"></span>
    </span>
  </div>
  <div class="container-content public-profile-feedbacks"
       layout="column">
    <div class="feedback" ng-if="vm.feedbackData.totalCount == 0">
      <div class="md-body-1 text">No feedbacks yet</div>
    </div>
    <div class="feedback"
         layout="row"
         ng-repeat="feedback in vm.feedbackData.items track by feedback.id">
      <div class="avatar-wrapper">
        <div class="avatar mid"
             ng-style="{ 'background-image': 'url(' + (feedback.author.portrait ?
                   vm.baseUrl + feedback.author.portrait : vm.defaultPortrait) + ')' }">
        </div>
      </div>
      <div class="divider"></div>
      <div layout="column" flex>
        <div class="md-subhead" ng-bind="feedback.author.fullName"></div>
        <star-rating value="feedback.rating"
                     readonly>
        </star-rating>
        <div class="md-body-1 text" ng-bind="feedback.message"></div>
      </div>
    </div>
  </div>
</div>