<div class="container history-content"
     ng-if="vm.$mdMedia('gt-xs')">
  <div class="container-title">
    <i class="material-icons">history</i>
    <span>History</span>
  </div>
  <div class="container-content">
    <md-table-container>
      <table md-table
             md-row-select
             md-progress="vm.promise"
             ng-model="vm.selected">
        <thead md-head
               md-order="vm.query.order"
               md-on-reorder="vm.logOrder">
        <tr md-row>
          <th md-column
              md-order-by="date">
            <span>Date</span>
          </th>
          <th md-column
              md-order-by="type"
              ng-show="vm.$mdMedia('gt-xs')">
            <span>Type of service</span>
          </th>
          <th md-column>Location</th>
          <th md-column
              md-order-by="status">
            <span>Status</span>
          </th>
          <th md-column
              md-numeric
              md-order-by="cost">Cost
          </th>
          <th md-column>Provider</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row
            md-select="item"
            md-on-select="vm.logItem"
            md-auto-select
            ng-repeat="item in vm.dataSource.items | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
          <td md-cell>
            <span ng-bind="item.date"></span>
          </td>
          <td md-cell
              ng-show="vm.$mdMedia('gt-xs')">
            <span ng-bind="vm.type[item.type]"></span>
          </td>

          <td class="td-location"
              md-cell
              ng-show="vm.$mdMedia('gt-xs')">
            <span ng-bind="item.location"></span>
          </td>
          <td md-cell
              ng-hide="vm.$mdMedia('gt-xs')">
            <md-button class="md-icon-button" aria-label="Location">
              <md-icon class="material-icons">
                <i class="material-icons">place</i>
              </md-icon>
            </md-button>
          </td>
          <td class="td-status"
              md-cell
              ng-class="{
              'new': item.status === 0,
              'pending': item.status === 1,
              'closed': item.status === 2
              }">
            <span ng-bind="vm.status[item.status]"></span>
          </td>
          <td class="td-cost" md-cell>
            <span ng-bind="item.cost ? '$'+ item.cost : '–'"></span>
          </td>
          <td class="td-provider" md-cell>
            <span ng-bind="item.provider ? item.provider.name : '–'"></span>
            <star-rating readonly
                         value="item.provider.rating"
                         ng-if="item.provider">
            </star-rating>
          </td>
        </tr>
        </tbody>
      </table>
    </md-table-container>

    <md-table-pagination md-limit="vm.query.limit"
                         md-limit-options="[5, 10, 15]"
                         md-page="vm.query.page"
                         md-total="{{vm.dataSource.count}}"
                         md-on-paginate="getDesserts"
                         md-page-select>
    </md-table-pagination>
  </div>
</div>

<div class="history-content"
     ng-if="!vm.$mdMedia('gt-xs')">
  <a class="list card"
     ui-sref="customer.request.view({ requestId: item.id })"
     ng-repeat="item in vm.dataSource.items | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
    <div class="item item-header" layout="row">
      <div flex="50">
        <div class="md-title" ng-bind="item.date"></div>
        <span class="md-body-2">Type:</span>
        <span class="md-body-1" ng-bind="vm.type[item.type]"></span>
      </div>
      <div flex="50" layout="column" layout-align="start end">
        <div class="td-status"
             ng-class="{
             'new': item.status === 0,
             'pending': item.status === 1,
             'closed': item.status === 2
             }">
          <span ng-bind="vm.status[item.status]"></span>
        </div>
        <div class="md-body-2">
          <span ng-bind="'$ '+(item.cost?item.cost:'–')"></span>
        </div>
      </div>
    </div>
    <div class="item item-body">
      <span class="md-body-2">Location:</span>
      <span class="md-body-1" ng-bind="item.location"></span>
      <div class="item-provider"
           layout="row"
           ng-if="item.provider">
        <div flex="20">
          <div class="photo"
               ng-style="{'background-image': 'url(' + item.provider.photo + ')'}">
          </div>
        </div>
        <div flex="80">
          <span class="md-body-2" ng-bind="item.provider.name"></span>
          <star-rating ng-if="item.provider"
                       readonly
                       value="item.provider.rating">
          </star-rating>
        </div>
      </div>
    </div>
  </a>
</div>