<md-toolbar class="header-toolbar">
  <div class="md-toolbar-tools header-toolbar-tools">
    <menu-toggle hide-gt-sm></menu-toggle>
    <div layout="row" layout-align-sm="center center" flex>
      <h2 class="breadcrumb">
        <span ng-bind="$state.current.data.title"></span>
      </h2>
    </div>
    <div>
      <a class="md-button login-button"
         layout="center center"
         logout>
        <md-icon>exit_to_app</md-icon>
        <span class="m-l-xs" hide-xs>Logout</span>
      </a>
    </div>
  </div>
</md-toolbar>