<div class="registration-content customer"
     flex
     layout="column"
     layout-align="center center">
  <div class="form-wrapper"
       layout="column"
       layout-gt-xs="row"
       layout-align="start center">
    <div class="registration-form"
         flex-gt-xs="100"> <!--flex-gt-xs="50"-->
      <div layout="row">
        <h1 class="registration-name" flex="50" translate>SIGN_UP</h1>
<!--        <div class="go-to-social"
             hide-gt-xs
             flex="50"
             layout="row"
             layout-align="end center">
          <md-button class="md-button-social-icon facebook" aria-label="Facebook">
            <i class="fa fa-facebook"></i>
          </md-button>
          <md-button class="md-button-social-icon google-plus" aria-label="Google+">
            <i class="fa fa-google-plus"></i>
          </md-button>
          <md-button class="md-button-social-icon twitter" aria-label="Twitter">
            <i class="fa fa-twitter"></i>
          </md-button>
        </div>-->
      </div>
      <form name="registrationForm"
            novalidate
            ng-submit="vm.createUser(vm.auth, vm.user, registrationForm.$valid)">
        <!-- First and last name -->
        <div layout="row">
          <md-input-container class="hide-error-msg" flex>
            <label translate>FIRST_NAME</label>
            <input name="firstName"
                   required
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z-]*$/"
                   ng-model="vm.user.firstName">
            <div ng-messages="registrationForm.firstName.$error">
              <div ng-message="maxlength" translate>FIRST_NAME_IS_TOO_LONG</div>
            </div>
          </md-input-container>
          <md-input-container class="hide-error-msg" flex>
            <label translate>LAST_NAME</label>
            <input name="lastName"
                   required
                   ng-maxlength="20"
                   ng-pattern="/^[a-zA-Z-]*$/"
                   ng-model="vm.user.lastName">
            <div ng-messages="registrationForm.lastName.$error">
              <div ng-message="maxlength" translate>LAST_NAME_IS_TOO_LONG</div>
            </div>
          </md-input-container>
        </div>
        <!-- Phone number -->
        <div layout="row">
          <md-input-container class="hide-error-msg" flex>
            <label translate>PHONE_NUMBER</label>
            <input type="tel"
                   name="phoneNumber"
                   required
                   autocomplete="off"
                   ui-us-phone-number
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.user.phoneNumber">
            <div ng-messages="registrationForm.phoneNumber.$error">
              <span ng-message="usPhoneNumber" translate>INVALID_PHONE</span>
              <span ng-message="availability" translate>PHONE_EXIST</span>
            </div>
          </md-input-container>
        </div>
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="hide-error-msg" flex>
            <label translate>EMAIL</label>
            <input type="email"
                   name="email"
                   required
                   autocomplete="off"
                   email-validation
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.auth.email">
            <div ng-messages="registrationForm.email.$error">
              <div ng-message="email" translate>INVALID_EMAIL</div>
              <div ng-message="availability" translate>EMAIL_ALREADY_EXIST</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row">
          <md-input-container class="hide-error-msg" flex>
            <label translate>PASSWORD</label>
            <input type="password"
                   name="password"
                   required
                   autocomplete="off"
                   password-validation
                   ng-model="vm.auth.password">
            <div ng-messages="registrationForm.password.$error">
              <div ng-message="password" translate>
                PASSWORD_MUST_CONTAIN
              </div>
            </div>
          </md-input-container>
        </div>
        <!-- Submit -->
        <md-button type="submit" translate>SUBMIT</md-button>
      </form>
    </div>
<!--    <div class="social-wrapper"
         flex-gt-xs="50"
         hide-xs="">
      <h1 class="registration-name social" translate>SIGN_IN_WITH_SOCIAL_NETWORK</h1>
      <div class="social-button-wrapper"
           layout="column"
           layout-align="center start">
        <md-button class="social-button facebook"
                   ng-click="vm.loginWithFacebook()">
          <span translate>JOIN_IN_WITH_FB</span>
        </md-button>
        <md-button class="social-button google-plus">
          <span translate>JOIN_IN_WITH_G+</span>
        </md-button>
        <md-button class="social-button twitter">
          <span translate>JOIN_IN_WITH_TWITTER</span>
        </md-button>
      </div>
    </div>-->
  </div>
</div>