<div class="registration-content customer"
     flex
     layout="column"
     layout-align="center center">
  <div class="form-wrapper"
       layout="column"
       layout-gt-xs="row"
       layout-align="start center">
    <div class="registration-form"
         flex-gt-xs="50"
         ng-class="{'mobile-hidden': vm.showSocialButtons}">
      <div layout="row">
        <h1 class="registration-name" flex="50">Sign up</h1>
        <div class="go-to-social"
             flex="50"
             layout="row"
             layout-align="end center"
             ng-click="vm.showSocialButtons = !vm.showSocialButtons">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          <i class="fa fa-google-plus" aria-hidden="true"></i>
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
      </div>
      <form name="registrationForm"
            novalidate
            ng-submit="vm.createUser(vm.auth, vm.user, registrationForm.$valid)">
        <!-- First and last name -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>First name</label>
            <input name="firstName"
                   required
                   ng-maxlength="20"
                   ng-model="vm.user.firstName">
            <div ng-messages="registrationForm.firstName.$error">
              <div ng-message="maxlength">Your first name is too long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block" flex>
            <label>Last name</label>
            <input name="lastName"
                   required
                   ng-maxlength="20"
                   ng-model="vm.user.lastName">
            <div ng-messages="registrationForm.lastName.$error">
              <div ng-message="maxlength">Your last name is too long.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Phone number -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Phone number</label>
            <input type="tel"
                   name="phoneNumber"
                   required
                   autocomplete="off"
                   ui-us-phone-number
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.user.phoneNumber">
            <div ng-messages="registrationForm.phoneNumber.$error">
              <span ng-message="usPhoneNumber">That doesn't look like a valid phone number.</span>
              <span ng-message="availability">This phone number already exists.</span>
            </div>
          </md-input-container>
        </div>
        <!-- E-mail -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Email</label>
            <input type="email"
                   name="email"
                   required
                   autocomplete="off"
                   email-validation
                   availability-validation
                   ng-model-options="{ 'debounce': 400 }"
                   ng-model="vm.auth.email">
            <div ng-messages="registrationForm.email.$error">
              <div ng-message="email">That doesn't look like a valid email.</div>
              <div ng-message="availability">This email already exists.</div>
            </div>
          </md-input-container>
        </div>
        <!-- Password -->
        <div layout="row">
          <md-input-container class="md-block" flex>
            <label>Password</label>
            <input type="password"
                   name="password"
                   required
                   autocomplete="off"
                   password-validation
                   ng-model="vm.auth.password">
            <div ng-messages="registrationForm.password.$error">
              <div ng-message="password">
                Your password must contain 6 characters (at least one number and one letter).
              </div>
            </div>
          </md-input-container>
        </div>
        <!-- Submit -->
        <md-button type="submit">Submit</md-button>
      </form>
    </div>
    <div class="social-wrapper"
         flex-gt-xs="50"
         ng-class="{'mobile-hidden': !vm.showSocialButtons}">
      <h1 class="registration-name social">Sign in with social network</h1>
      <div class="social-button-wrapper"
           layout="column"
           layout-align="center start">
        <md-button class="social-button facebook"
                   ng-click="vm.loginWithFacebook()">Join in with Facebook
        </md-button>
        <md-button class="social-button google">Join in with Google+</md-button>
        <md-button class="social-button twitter">Join in with Twitter</md-button>
      </div>
      <md-button class="social-button gray"
                 ng-click="vm.showSocialButtons = !vm.showSocialButtons">
        <i class="fa fa-angle-left" aria-hidden="true"></i>Sign up with Email
      </md-button>
    </div>
  </div>
</div>