<md-card>
  <md-card-content class="message-content">
    <div class="message"
         layout="row">
      <div flex
           ng-bind="vm.currentBid.message">
      </div>
      <div class="subtitle"
           ng-bind="vm.currentBid.createdAt | altDate">
      </div>
    </div>

    <div class="price md-primary-bg md-hue-2"
         layout="row"
         layout-align="center start"
         ng-if="vm.currentBid.cost">
      <div class="value">
        <span translate>COST</span>:
      </div>
      <div class="currency">$</div>
      <div layout="row" layout-align="center end">
        <div class="value" ng-bind="vm.currentBid.cost"></div>
      </div>
    </div>
    <div class="message text-right" ng-if="vm.currentBid.isRefused" translate>DECLINED</div>
  </md-card-content>
  <md-card-actions layout="row"
                   layout-align="end center"
                   ng-class="{ 'disabled': vm.currentRequest.status !== vm.requestStatus.NEW }"
                   ng-if="vm.currentUser.type === vm.userType.CLIENT">
    <md-button class="md-button-blue"
               ng-click="vm.startChat(vm.currentBid, vm.currentRequest)">
      <span translate>START_CHAT</span>
    </md-button>
    <md-button ng-if="vm.currentBid.cost"
               ng-click="vm.showPaymentModal($event)">
      <span translate>ACCEPT</span>
    </md-button>
    <md-button ng-click="vm.declineBid(vm.currentBid, vm.currentRequest)">
      <span translate>DECLINE</span>
    </md-button>
  </md-card-actions>
</md-card>