<div>
    <div><h2>Account balance</h2></div>
    <div class="section">
        <span class="md-body-2">$ </span><span  class="md-body-1" ng-bind="vm.merchantFunds"></span>
    </div>
    <div layout="row">
        <md-button class="md-button-blue"
                   ng-disabled="!vm.enableWithdrawals"
                   ng-click="vm.withdrawal()"
                   aria-label="Edit profile">Withdrawal
        </md-button>
    </div>
</div>

<div ng-hide="vm.isEditingPayment" flex="100">
    <div layout="column"
         layout-gt-xs="row"
         layout-align="center center"
         layout-align-gt-xs="start center">
    </div>

    <div><h2>Bank account</h2></div>
    <div ng-if="!vm.userProfile.merchantData">Fill Company info before adding bank account</div>
    <div ng-repeat="account in vm.userProfile.paymentData">
        <div class="section first">
            <span class="md-body-2">name:</span>
            <span class="md-body-1" ng-bind="account.name"></span>
        </div>
        <div class="section">
            <span class="md-body-2">currency:</span>
            <span class="md-body-1" ng-bind="account.currency"></span>
        </div>
        <div class="section">
            <span class="md-body-2">modified:</span>
            <span class="md-body-1" ng-bind="account.modified"></span>
        </div>
        <div class="section">
            <span class="md-body-2">status:</span>
            <span class="md-body-1" ng-bind="account.status"></span>
        </div>
    </div>
    <md-button class="md-button-blue"
               aria-label="Add bank account" ng-if="vm.userProfile.paymentData.length === 0 && !vm.isEditingPayment" ng-click="vm.isEditingPayment = true"">Add</md-button>
    <md-button class="md-button-blue"
               aria-label="Edit bank account" ng-if="vm.userProfile.paymentData.length > 0 && !vm.isEditingPayment" ng-click="vm.isEditingPayment = true">Edit</md-button>
</div>
<div ng-if="vm.isEditingPayment">
    <form name="editPaymentForm"
          novalidate
          ng-submit="vm.setMerchantAccount(vm.userProfile.payment, editPaymentForm.$valid)">
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Type of Account</label>
                <md-select ng-model="vm.userProfile.payment.method">
                    <md-option ng-repeat="type in vm.bankAccountTypes" ng-value="type.code">
                        {{type.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>paymentRouting</label>
                <input name="paymentRouting"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.payment.routing">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>paymentNumber</label>
                <input name="paymentNumber"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.payment.number">
            </md-input-container>
        </div>
        <md-button type="submit"
                   class="md-button-blue"
                   aria-label="Save"
                   ng-if="vm.isEditingPayment">
            Save
        </md-button>
        <md-button class="md-button-blue" ng-if="vm.isEditingPayment"
                   ng-click="vm.cancelEditing()">
            Cancel
        </md-button>
    </form>
</div>