<div>
    <div><h2 translate>ACCOUNT_BALANCE</h2></div>
    <div class="section">
        <span class="md-body-2">$ </span><span  class="md-body-1" ng-bind="vm.merchantFunds"></span>
    </div>
    <div layout="row">
        <md-button class="md-button-blue"
                   ng-disabled="!vm.enableWithdrawals"
                   ng-click="vm.withdrawal()"
                   aria-label="Edit profile">
            <span translate>WITHDRAWAL</span>
        </md-button>
    </div>
</div>

<div ng-hide="vm.isEditingPayment" flex="100">
    <div layout="column"
         layout-gt-xs="row"
         layout-align="center center"
         layout-align-gt-xs="start center">
    </div>

    <div><h2 translate>BANK_ACCOUNT</h2></div>
    <div ng-if="!vm.userProfile.merchantData" translate>FILL_COMPANY_INFO_BEFORE_ADDING_BANK_ACCOUNT</div>
    <div ng-repeat="account in vm.userProfile.paymentData">
        <div class="section first">
            <span class="md-body-2"><span translate>NAME</span>:</span>
            <span class="md-body-1" ng-bind="account.name"></span>
        </div>
        <div class="section">
            <span class="md-body-2"><span translate>CURRENCY</span>:</span>
            <span class="md-body-1" ng-bind="account.currency"></span>
        </div>
        <div class="section">
            <span class="md-body-2"><span translate>MODIFIED</span>:</span>
            <span class="md-body-1" ng-bind="account.modified"></span>
        </div>
        <div class="section">
            <span class="md-body-2"><span translate>STATUS</span>:</span>
            <span class="md-body-1" ng-bind="vm.bankAccountStatuses[account.status] | translate"></span>
        </div>
    </div>
    <md-button class="md-button-blue"
               aria-label="Add bank account" ng-if="vm.userProfile.paymentData.length === 0 && !vm.isEditingPayment" ng-click="vm.isEditingPayment = true">
    <span translate>ADD</span>
    </md-button>
    <md-button class="md-button-blue"
               aria-label="Edit bank account" ng-if="vm.userProfile.paymentData.length > 0 && !vm.isEditingPayment" ng-click="vm.isEditingPayment = true">
        <span translate>EDIT</span>
    </md-button>
</div>
<div ng-if="vm.isEditingPayment">
    <form name="editPaymentForm"
          novalidate
          ng-submit="vm.setMerchantAccount(vm.userProfile.payment, editPaymentForm.$valid)">
        <div layout="row" layout-xs="column">
            <md-input-container class="md-block" flex>
                <label translate>TYPE_OF_ACCOUNT</label>
                <md-select ng-model="vm.userProfile.payment.method">
                    <md-option ng-repeat="type in vm.bankAccountTypes" ng-value="type.code">
                        <span>{{type.name | translate}}</span>
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label translate>PAYMENT_ROUTING</label>
                <input name="paymentRouting"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.payment.routing">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label translate>PAYMENT_NUMBER</label>
                <input name="paymentNumber"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.payment.number">
            </md-input-container>
        </div>
        <md-button type="submit"
                   class="md-button-blue"
                   aria-label="Save"
                   ng-if="vm.isEditingPayment">
            <span translate>SAVE</span>
        </md-button>
        <md-button class="md-button-blue" ng-if="vm.isEditingPayment"
                   ng-click="vm.cancelEditing()">
            <span translate>CANCEL</span>
        </md-button>
    </form>
</div>