<div class="container profile-content"
     ng-class="{'mobile': !$mdMedia('gt-xs')}">
  <div class="container-title"
       layout="row"
       layout-align="start center">
    <div ng-click="vm.isEditing = false"
         flex>
      <i class="material-icons">person</i>
      <span translate="PROFILE"></span>
    </div>
    <div flex layout="row" layout-align="end center" class="title-actions">
      <button class="md-button md-button-blue"
              aria-label="Show public profile"
              ng-if="$mdMedia('gt-xs')"
              ui-sref="provider.profile.public({'profileId': vm.userProfile.id})">
        Show public
        <wbr>
        profile
      </button>

      <md-menu md-position-mode="target-right target"
               ng-if="!$mdMedia('gt-xs')">
        <md-button class="md-icon-button"
                   aria-label="more"
                   ng-click="$mdOpenMenu()">
          <md-icon>more_vert</md-icon>
        </md-button>
        <md-menu-content width="3">
          <md-menu-item>
            <md-button ui-sref="provider.profile.public({'profileId': vm.userProfile.id})"
                       aria-label="Show public profile">
              <md-icon>person</md-icon>
              <span class="vertical-middle">Show public profile</span>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="vm.isEditing">
            <md-button aria-label="Change photo"
                       file-uploader
                       is-single-file="true"
                       allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                       max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                       selected-file-src="vm.newPortrait">
              <md-icon>photo_camera</md-icon>
              <span class="verical-middle">Change photo</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
  </div>
  <div class="container-content">
    <div layout="column"
         layout-gt-xs="row"
         layout-align-gt-xs="start start"
         layout-align="start center">
      <div class="profile-left"
           layout="row"
           layout-gt-xs="column"
           layout-align="start center"
           layout-align-gt-xs="start start"
           flex-gt-xs="25">
        <div class="avatar-wrapper">
          <div class="profile-avatar"
               ng-style="{ 'background-image': 'url(' + (vm.userProfile.portrait ?
               vm.baseUrl + vm.userProfile.portrait : vm.defaultPortrait)           + ')' }">
          </div>
        </div>
        <div flex="5"></div>
        <div class="actions"
             layout="column">
          <md-button class="md-button-blue"
                     ng-if="vm.isEditing && $mdMedia('gt-xs')"
                     aria-label="Change photo"
                     file-uploader
                     is-single-file="true"
                     allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                     max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                     selected-file-src="vm.newPortrait">
            <i class="material-icons vertical-middle">photo_camera</i>
            <span class="verical-middle">Change photo</span>
          </md-button>
          <md-button ng-if="!vm.isEditing"
                     class="md-button-blue"
                     ng-click="vm.isEditing = true"
                     aria-label="Edit profile">
            Edit general info
          </md-button>
          <div layout="row"
               layout-align="start center">
            <span class="m-r-sm md-body-2">Language:</span>
            <span class="md-body-1"
                  ng-if="!vm.isEditing"
                  ng-bind="vm.userProfile.usingLanguage.name">
            </span>
            <md-select flex
                       aria-label="Language"
                       ng-if="vm.isEditing"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-model="vm.userProfile.usingLanguage">
              <md-option ng-repeat="language in vm.languages"
                         ng-value="language">
                <span ng-bind="language.name"></span>
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
      <div flex-gt-xs="5"></div>
      <div layout="row"
           class="profile-right"
           flex-gt-xs="70"
           layout-align="start center"
           layout-align-gt-xs="start start">

        <div flex ng-cloak>
          <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="General info">
                <md-content class="md-padding">
                  <div ng-include="'provider/profile/profile-general.html'"></div>
                </md-content>
              </md-tab>
              <md-tab label="Merchant info">
                <md-content class="md-padding">
                  <div ng-include="'provider/profile/profile-merchant-info.html'"></div>
                </md-content>
              </md-tab>
              <md-tab label="Bank account">
                <md-content class="md-padding">
                  <div ng-include="'provider/profile/profile-bank-account.html'"></div>
                </md-content>
              </md-tab>
            </md-tabs>
          </md-content>

        </div>
      </div>
    </div>
  </div>
</div>