<div class="container profile-content"
     ng-class="{'mobile': !$mdMedia('gt-xs')}">
  <div class="container-title" layout="row">
    <div flex>
      <i class="material-icons">person</i> <span>Profile</span>
    </div>
    <div flex layout="row" layout-align="end center" class="title-actions">
      <button class="md-button md-button-blue"
              aria-label="Show public profile"
              ui-sref="provider.profile.public({'profileId': vm.userProfile.id})">
        Show public profile
      </button>
    </div>
  </div>
  <div class="container-content">
    <div layout="column"
         layout-gt-xs="row"
         layout-align-gt-xs="start start"
         layout-align="start center">
      <div class="profile-left"
           layout="row"
           layout-gt-xs="column"
           layout-align="start center"
           layout-align-gt-xs="start start"
           flex-gt-xs="25">
        <img class="profile-avatar"
             ng-src="{{vm.newPortrait || vm.userProfile.portrait || coreConstants.IMAGES.defaultPortrait}}"
             alt="photo"/>
        <div flex="5"></div>
        <div class="actions"
             layout="column">
          <md-button class="md-button-blue"
                     ng-if="vm.isEditing"
                     aria-label="Change photo"
                     file-uploader
                     is-single-file="true"
                     allowed-extensions="{{ vm.fileUploaderOptions.allowedFileExtensions.images }}"
                     max-size="{{ vm.fileUploaderOptions.maxFileSize }}"
                     selected-file-src="vm.newPortrait">
            <i class="material-icons vertical-middle">photo_camera</i>
            <span class="verical-middle">Change photo</span>
          </md-button>
          <md-button ng-if="!vm.isEditing"
                     class="md-button-blue"
                     ng-click="vm.isEditing = true"
                     aria-label="Edit profile">
            Edit profile
          </md-button>
          <div layout="row"
               layout-align="start center">
            <span class="m-r-sm md-body-2">Language:</span>
            <span class="md-body-1"
                  ng-if="!vm.isEditing"
                  ng-bind="vm.userProfile.usingLanguage.name">
            </span>
            <md-select flex
                       aria-label="Language"
                       ng-if="vm.isEditing"
                       ng-model-options="{trackBy: '$value.id'}"
                       ng-model="vm.userProfile.usingLanguage">
              <md-option ng-repeat="language in vm.languages"
                         ng-value="language">
                <span ng-bind="language.name"></span>
              </md-option>
            </md-select>
          </div>
        </div>
      </div>
      <div flex-gt-xs="5"></div>
      <div layout="row"
           class="profile-right"
           flex-gt-xs="70"
           layout-align="start center"
           layout-align-gt-xs="start start">
        <div ng-hide="vm.isEditing" flex="100">
          <div layout="column"
               layout-gt-xs="row"
               layout-align="center center"
               layout-align-gt-xs="start center">
            <div class="md-display-1">
              <span class="vertical-middle" ng-bind="vm.userProfile.fullName"></span>
              <i class="material-icons vertical-middle verified"
                 ng-if="vm.userProfile.isPro">
                verified_user
              </i>
            </div>
            <div class="profile-rating"
                 flex
                 layout="row"
                 layout-align="center center"
                 layout-align-gt-xs="end center">
              <star-rating value="vm.userProfile.rating" readonly></star-rating>
              <span class="divider-dot">⋅</span>
              <span ng-bind="vm.userProfile.rating"></span>
            </div>
          </div>
          <div class="section first">
            <span class="md-body-2">Email:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.auth.email"></span>
          </div>
          <div class="section">
            <span class="md-body-2">Phone:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.phoneNumber"></span>
          </div>
          <div class="section">
            <span class="md-body-2">License:</span>
            <span class="md-body-1" ng-bind="vm.userProfile.details.licenses[0].number"></span>
            until
            <span class="md-body-1" ng-bind="vm.userProfile.details.licenses[0].date | date: 'MM/dd/yyyy'"></span>
          </div>
          <div class="section">
            <span class="md-body-2">Services:</span>
            <span class="md-body-1"
                  ng-repeat="service in vm.userProfile.details.serviceTypes track by service.id"
                  ng-bind="service.name + ' (' + (service.price | currency:'$') + ')' + ($last ? '':', ')">
            </span>
          </div>
        </div>
        <div ng-if="vm.isEditing">
          <form name="editForm"
                novalidate
                ng-submit="vm.updateUser(vm.userProfile, editForm.$valid)">
            <p>Name: <sup>*</sup></p>
            <div layout="row">
              <md-input-container class="md-block" flex>
                <label>First name</label>
                <input name="firstName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.firstName">
              </md-input-container>
              <md-input-container class="md-block" flex>
                <label>Last name</label>
                <input name="lastName"
                       required
                       ng-maxlength="20"
                       ng-model="vm.userProfile.lastName">
              </md-input-container>
            </div>
            <p>Email: <sup>*</sup></p>
            <md-input-container class="md-block" flex>
              <label>Email</label>
              <input name="email"
                     required
                     email-validation
                     availability-validation
                     ng-model-options="{ 'debounce': 400 }"
                     ng-model="vm.userProfile.auth.email">
              <div ng-messages="editForm.email.$error">
                <div ng-message="email">That doesn't look like a valid email.</div>
                <div ng-message="availability">This email already exists.</div>
              </div>
            </md-input-container>
            <p>Phone number: <sup>*</sup></p>
            <md-input-container class="md-block" flex>
              <label>Phone number</label>
              <input type="tel"
                     name="phoneNumber"
                     required
                     ui-us-phone-number
                     availability-validation
                     ng-model-options="{ 'debounce': 400 }"
                     ng-model="vm.userProfile.phoneNumber">
              <div ng-messages="editForm.phoneNumber.$error">
                <span ng-message="usPhoneNumber">That doesn't look like a valid phone number.</span>
                <span ng-message="availability">This phone number already exists.</span>
              </div>
            </md-input-container>
            <p>License information: <sup>*</sup></p>
              <div class="licenses"
                   ng-repeat="license in vm.userProfile.details.licenses track by $index">
                <div layout-gt-xs="column">
                  <div layout="row">
                    <md-input-container class="md-block license-number">
                      <label>License Number</label>
                      <input type="text"
                            name="licenseNumber"
                            required
                            ng-model="vm.userProfile.details.licenses[$index].number">
                      <div ng-messages="editForm.licenseNumber.$error">
                        <div ng-message="required">Please, enter a license number.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block"
                                        flex="100"
                                        flex-gt-xs="30">
                      <label>State</label>
                      <md-select role="listbox"
                                name="state"
                                required
                                ng-change="vm.resetSelectedCity(); vm.getCities(vm.user.address.state.id)"
                                ng-model="vm.userProfile.details.licenses[$index].state">
                        <md-option ng-repeat="state in vm.states track by state.id"
                                  ng-value="state">
                          <span ng-bind="::state.state"></span>
                        </md-option>
                      </md-select>
                      <div ng-messages="editForm.state.$error">
                        <div ng-message="required">State is required.</div>
                      </div>
                    </md-input-container>
                    <md-input-container class="md-block license-date"
                                        layout="row"
                                        required>
                      <mdp-date-picker name="licenseDate"
                                       mdp-placeholder="License Date"
                                       mdp-min-date="vm.datePickerOptions.maxDate"
                                       date-formatter
                                       ng-required
                                       ng-model="vm.userProfile.details.licenses[$index].date">
                      </mdp-date-picker>
                      <div class="validation-messages"
                          ng-messages="editForm.licenseDate.$error">
                        <div ng-message="valid">The entered value is not a date!</div>
                        <div ng-message="mindate">Date is too early!</div>
                      </div>
                    </md-input-container>
                    <div class="service-remove"
                        flex="100"
                        flex-gt-xs="5"
                        layout="column"
                        layout-align="start center"
                        ng-click="vm.userProfile.details.licenses.splice($index, 1)"
                        ng-if="vm.userProfile.details.licenses.length > 1">
                      <i class="material-icons">delete</i>
                    </div>
                  </div>
                </div>
              </div>
            <div layout-gt-xs="row">
              <md-button ng-click="vm.userProfile.details.licenses.push({})">Add more</md-button>
            </div>
            <p>Services</p>
            <div layout-gt-xs="row">
              <input type="hidden" ng-model="service.id" ng-value="$index">
              <md-input-container class="md-block" flex>
                <label>Service types</label>
                <md-select aria-label="Services"
                          multiple
                          required
                          ng-model="vm.userProfile.details.serviceTypes">
                  <md-option ng-repeat="serviceType in vm.serviceTypes track by serviceType.id"
                            ng-value="serviceType.id">
                    <span ng-bind="serviceType.name"></span>
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <md-button type="submit"
                       class="md-raised md-warn"
                       aria-label="Save"
                       ng-if="vm.isEditing">
              Save
            </md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>