<div class="infinite-scroll-wrapper list-content"
     ng-if="$mdMedia('gt-xs')">
  <div class="container">
    <div class="container-title">
      <i class="material-icons">list</i>
      <span translate>NEW</span>
      <span>⋅</span>
      <span ng-bind="vm.paginationOptions.totalCount"></span>
    </div>
    <div class="container-content">
      <md-table-container infinite-scroll
                          autoloading-enabled="true"
                          scroll-disabled="vm.isAllMessagesLoaded"
                          on-scroll="vm.loadPrevRequests()"
                          class="infinite-scroll-container">
        <table md-table>
          <thead md-head>
          <tr md-row>
            <th md-column>
              <span translate>CUSTOMER</span>
            </th>
            <th md-column>
              <span translate>FOR DATE</span>
            </th>
            <th md-column>
              <span translate>TYPE OF SERVICE</span>
            </th>
            <th md-column>
              <span translate>LANGUAGE</span>
            </th>
            <th md-column>
              <span translate>DESCRIPTION</span>
            </th>
            <th md-column>
              <span translate>DISTANCE(MI)</span>
            </th>
            <th md-column>
              <span translate>CREATED</span>
            </th>
          </tr>
          </thead>
          <tbody md-body>
          <tr md-row
              ui-sref="group.dashboard.request.info({ requestId: request.id })"
              ng-repeat="request in vm.requests track by request.id">
            <td class="td-customer"
                layout="row"
                layout-align="start center"
                md-cell>
              <div class="avatar-wrapper">
                <div class="avatar"
                     ng-style="{ 'background-image': 'url(' + (request.owner.portrait ?
                   vm.baseUrl + request.owner.portrait : vm.defaultPortrait) + ')' }">
                </div>
              </div>
              <div class="contact-name" flex>
                <span ng-bind="request.owner.fullName"></span>
              </div>
            </td>
            <td md-cell>
              <span ng-bind="request.forDate ? (request.forDate | date: vm.dateFormat) : 'Now'"></span>
            </td>
            <td md-cell>
              <span ng-bind="request.serviceType.name"></span>
            </td>
            <td md-cell>
              <span ng-bind="request.language.name ? request.language.name : '–'"></span>
            </td>
            <td class="text-truncate td-description" md-cell>
              <span ng-bind="request.description ? request.description : '–'"></span>
            </td>
            <td class="td-cost" md-cell>
              ~<span ng-bind="request.location | distance"></span>
            </td>
            <td md-cell>
              <span ng-bind="request.createdAt | altDate"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </md-table-container>
    </div>
  </div>
</div>

<div class="infinite-scroll-wrapper list-content"
     ng-if="!$mdMedia('gt-xs')">
  <div class="infinite-scroll-container cards"
       ng-if="!$mdMedia('gt-xs')"
       infinite-scroll
       autoloading-enabled
       scroll-disabled="vm.isAllMessagesLoaded"
       on-scroll="vm.loadPrevRequests()">
    <div>
      <a class="list card"
         ui-sref="group.dashboard.request.info({ requestId: request.id })"
         ng-repeat="request in vm.requests track by request.id">
        <div class="item item-header" layout="row">
          <div layout="row"
               layout-align="start center"
               flex>
            <div class="avatar-wrapper">
              <div class="avatar"
                   ng-style="{ 'background-image': 'url(' + (request.owner.portrait ?
                   vm.baseUrl + request.owner.portrait : vm.defaultPortrait) + ')' }">
              </div>
            </div>
            <div class="contact-name" flex>
              <span ng-bind="request.owner.fullName"></span>
            </div>
          </div>
          <div class="secondary-text"
               flex="none"
               layout="row"
               layout-align="end center">
            <span ng-bind="request.createdAt | altDate"></span>
          </div>
        </div>
        <div class="item item-body" layout="row">
          <div layout="column"
               flex="50">
            <div>
              <span class="md-body-2" translate>TYPE_OF_SERVICE</span>:
              <span class="md-body-1" ng-bind="request.serviceType.name"></span>
            </div>
            <div ng-if="request.language.name">
              <span class="md-body-2" translate>LANGUAGE</span>:
              <span class="md-body-1"
                    ng-bind="request.language.name">
              </span>
            </div>
          </div>
          <div layout="column"
               flex="50">
            <div>
              <span class="md-body-2" translate>FOR_DATE</span>:
              <span class="md-body-1"
                    ng-bind="request.forDate ? (request.forDate | date: vm.dateFormat) : 'Now'">
              </span>
            </div>
            <div ng-if="request.location">
              <span class="md-body-2" translate>DISTANCE</span>:
              ~ <span class="md-body-1"
                      ng-bind="request.location | distance">
                </span> <span translate>MI</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>