<div class="container request-content chat-app">
  <div class="center">
    <div class="content-card"
         flex
         layout="row">
      <md-sidenav class="sidenav left-sidenav md-sidenav-left"
                  layout="column"
                  md-is-locked-open="$mdMedia('gt-md')"
                  md-component-id="left-sidenav"
                  ng-include="'chat/templates/left-sidenav.html'">
      </md-sidenav>
      <div class="start-point"
           ng-if="(vm.selectedTab === 'chats' && !vm.currentChat) || (!vm.currentBid && !vm.currentChat)"
           flex
           layout="column"
           layout-align="center center">
        <div class="big-circle md-whiteframe-4dp">
          <i class="material-icons s128 md-accent">textsms</i>
        </div>
        <span class="secondary-text m-t-md"
              ng-if="$mdMedia('gt-md')">
          Select contact to start the chat.
        </span>
        <md-button class="md-raised"
                   ng-if="!$mdMedia('gt-md')"
                   ng-click="vm.toggleSidenav('left-sidenav')">Select contact to start the chat!..
        </md-button>
      </div>
      <chat-messages flex
                     layout="column"
                     ng-if="(vm.selectedTab === 'bids' && vm.currentBid) || vm.currentChat"
                     chats="vm.chats"
                     bids="vm.bids"
                     messages="vm.messages"
                     current-user="vm.currentUser"
                     current-request="vm.currentRequest"
                     selected-tab="vm.selectedTab"
                     current-chat="vm.currentChat"
                     current-bid="vm.currentBid"
                     toggle-sidenav="vm.toggleSidenav(navID)">
      </chat-messages>
      <md-sidenav class="sidenav right-sidenav md-sidenav-right"
                  layout="column"
                  md-component-id="right-sidenav"
                  md-is-open="vm.isInfoTabOpen">
        <specialist-info-panel selected-specialist="vm.selectedSpecialist"
                               toggle-sidenav="vm.toggleSidenav(navID)"
                               ng-if="vm.currentUser.type === vm.userType.CLIENT">
        </specialist-info-panel>
        <request-info-panel selected-request="vm.currentRequest"
                            toggle-sidenav="vm.toggleSidenav(navID)"
                            ng-if="vm.currentUser.type !== vm.userType.CLIENT && vm.isInfoTabOpen">
        </request-info-panel>
      </md-sidenav>
    </div>
  </div>
</div>