<md-toolbar class="chat-toolbar">
  <div class="md-toolbar-tools">
    <md-button class="hide-gt-md responsive-chats-button md-icon-button"
               aria-label="chats button"
               ng-click="vm.toggleSidenav('left-sidenav')">
      <i class="material-icons s28">textsms</i>
    </md-button>
    <div class="chat-contact"
         layout="row"
         layout-align="start center"
         ng-if="vm.currentChat.specialist.id"
         ng-click="vm.toggleSidenav('right-sidenav')">
      <div class="avatar-wrapper">
        <div class="avatar"
             ng-style="{ 'background-image': 'url(' + (vm.currentChat.specialist.portrait || vm.defaultPortrait) + ')' }">
        </div>
        <i class="material-icons s14 status"
           ng-if="vm.currentChat.specialist.details.isAvailable">check_circle
        </i>
        <i class="material-icons s14 status unavailable"
           ng-if="!vm.currentChat.specialist.details.isAvailable">schedule
        </i>
      </div>
      <div class="chat-contact-name">
        <span ng-bind="vm.currentChat.specialist.fullName"></span>
      </div>
    </div>
    <md-menu md-position-mode="target-right target">
      <md-button class="md-icon-button"
                 aria-label="more"
                 ng-click="$mdOpenMenu()">
        <i class="material-icons">more_vert</i>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button ng-click="vm.toggleSidenav('right-sidenav')">Contact Info</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="vm.closeChat()">Close Chat</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
<md-content class="chat-content"
            flex
            layout="column"
            layout-align="end end"
            scroll-chat="vm.loadPrevMessages()"
            scroll-chat-disabled="vm.isScrollDisabled"
            scroll-chat-to-bottom="vm.isScrollToBottomEnabled">
  <div class="chat-messages"
       layout="column"
       ng-if="vm.messages[vm.currentChat.id].length > 0">
    <div class="chat-message"
         ng-repeat="message in vm.messages[vm.currentChat.id] | orderBy : 'updatedAt' track by message.id">
      <message-chat message="message"
                    current-user="vm.currentUser"
                    ng-if="vm.currentUser">
      </message-chat>
    </div>
  </div>
</md-content>