<div class="view contact-view"
     flex
     layout="column">
  <md-toolbar class="md-tall md-accent">
    <div class="md-toolbar-tools md-toolbar-tools-top">
      <div>Contact Info</div>
      <div flex></div>
      <md-button class="md-icon-button"
                 aria-label="back"
                 ng-click="vm.toggleSidenav('right-sidenav')">
        <i class="material-icons">close</i>
      </md-button>
    </div>
    <div class="md-toolbar-tools md-toolbar-tools-bottom"
         flex
         layout="column"
         layout-align="center center">
      <div layout="column"
           layout-align="center center"
           ng-if="vm.selectedTab === 'chats'">
        <div class="md-avatar avatar contact-avatar huge"
             ng-style="{ 'background-image': 'url(' + (vm.currentChat.specialist.portrait || vm.defaultPortrait) + ')' }">
        </div>
        <div class="contact-name">
          <span ng-bind="vm.currentChat.specialist.fullName"></span>
        </div>
        <star-rating readonly value="vm.currentChat.specialist.details.rating"></star-rating>
      </div>
      <div layout="column"
           layout-align="center center"
           ng-if="vm.selectedTab === 'bids'">
        <div class="md-avatar avatar contact-avatar huge"
             ng-style="{ 'background-image': 'url(' + (vm.currentBid.specialist.portrait || vm.defaultPortrait) + ')' }">
        </div>
        <div class="contact-name">
          <span ng-bind="vm.currentBid.specialist.fullName"></span>
        </div>
        <star-rating readonly value="vm.currentBid.specialist.details.rating"></star-rating>
      </div>
    </div>
  </md-toolbar>
  <md-content class="md-hue-2"
              flex>
    <md-card>
      <md-card-title>Feedbacks:</md-card-title>
      <md-card-content>
      </md-card-content>
    </md-card>
  </md-content>
</div>