<md-toolbar>
  <div class="md-toolbar-tools md-toolbar-tools-top">
    <div class="search-wrapper md-whiteframe-1dp"
         flex
         layout="row"
         layout-align="start center">
      <div class="search"
           flex
           layout="row"
           layout-align="start center">
        <i class="material-icons s18">search</i>
        <md-input-container>
          <input type="text"
                 flex
                 translate
                 translate-attr-placeholder="SEARCH_THE_CHAT"
                 aria-label="Search the chat"
                 ng-model="vm.chatSearch">
        </md-input-container>
      </div>
    </div>
  </div>
  <div class="md-toolbar-tools-bottom"
       flex
       layout="row"
       layout-align="end end"
       ng-if="vm.bids.length > 0 && (vm.currentUser.type !== vm.userType.CLIENT || vm.currentRequest.status === vm.requestStatus.NEW)">
    <md-nav-bar
        flex
        md-selected-nav-item="vm.selectedTab"
        nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click name="chats" aria-label="chats">
        CHATS
      </md-nav-item>
      <md-nav-item md-nav-click name="bids" aria-label="bids">
        BIDS
      </md-nav-item>
    </md-nav-bar>
  </div>
</md-toolbar>
<div class="view chats-view animate-slide-left"
     layout="column"
     flex
     ng-show="vm.selectedTab !== 'bids'"
     ng-class="{ 'nav-bar-disabled' : !vm.bids || vm.bids.length === 0 ||
     (vm.currentUser.type === vm.userType.CLIENT && vm.currentRequest.status !== vm.requestStatus.NEW) }">
  <client-chat-list ng-if="vm.currentRequest.id && vm.currentUser.type === vm.userType.CLIENT"
                    chats="vm.chats"
                    messages="vm.messages"
                    current-request="vm.currentRequest"
                    current-chat="vm.currentChat"
                    chat-search="vm.chatSearch"
                    scroll-chat-disabled="vm.isScrollDisabled"
                    scroll-chat-to-bottom="vm.isScrollToBottomEnabled">
  </client-chat-list>
  <specialist-chat-list ng-if="vm.currentUser.type !== vm.userType.CLIENT"
                        chats="vm.chats"
                        messages="vm.messages"
                        selected-chat="vm.selectedChat"
                        current-request="vm.currentRequest"
                        current-chat="vm.currentChat"
                        chat-search="vm.chatSearch"
                        scroll-chat-disabled="vm.isScrollDisabled"
                        scroll-chat-to-bottom="vm.isScrollToBottomEnabled"
                        change-current-request="vm.changeCurrentRequest(request)">
  </specialist-chat-list>
</div>
<div class="view chats-view animate-slide-right"
     layout="column"
     flex
     ng-show="vm.selectedTab === 'bids'">
  <client-bid-list ng-if="vm.currentRequest.id && vm.currentUser.type === vm.userType.CLIENT"
                   bids="vm.bids"
                   current-request="vm.currentRequest"
                   current-bid="vm.currentBid"
                   chat-search="vm.chatSearch">
  </client-bid-list>
  <specialist-bid-list ng-if="vm.currentUser.type !== vm.userType.CLIENT"
                       bids="vm.bids"
                       current-request="vm.currentRequest"
                       current-bid="vm.currentBid"
                       selected-tab="vm.selectedTab"
                       chat-search="vm.chatSearch"
                       change-current-request="vm.changeCurrentRequest(request)">
  </specialist-bid-list>
</div>